<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--css-->
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/htmlpage.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/loader.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/jquery.mCustomScrollbar.css">

<!--js-->
<script src="./GRAPHIS_files/jquery.min.js"></script>
<script src="./GRAPHIS_files/gra-common.js"></script>

<title>VIP说明|GRAPHIS美女图片|女优百科|艾薇头条</title>
<meta name="keywords" content="GRAPHIS，女优百科，艾薇头条，日本女优，AV女优，美女图片，性感美女，美女写真，私房写真">
<meta name="description" content="GRAPHIS是专业的知名美女写真网站，致力于拍摄性感又不失唯美的人像写真，分享性感、清新、唯美、时尚、COSPLAY等各种不同风格的美女图片和日本女优、AV女优的私房写真">

</head>

<body id="htmlpage">

<div id="wrraper">

	<div class="htmlpage-logo"><img src="./GRAPHIS_files/gralogo.svg"></div>

    <div id="content-htmlpage" class="kiyaku">

    <div class="jp-on">
 
 	<h4>VIP说明</h4>
 
    <div class="kiyaku-list">VIP会员：499元/年 可以免打赏 欣赏本站所有作品</div>
   
    </div><!-- /.jp-on -->
   
   </div>
   
   <p class="htmlpage-close"><span class="jp-txt close-button">- 关闭 -</span></p>

</div>

</body></html>