<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--css-->
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/htmlpage.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/loader.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/jquery.mCustomScrollbar.css">

<!--js-->
<script src="./GRAPHIS_files/jquery.min.js"></script>
<script src="./GRAPHIS_files/gra-common.js"></script>

<title>免责申明|GRAPHIS美女图片|女优百科|艾薇头条</title>
<meta name="keywords" content="GRAPHIS，女优百科，艾薇头条，日本女优，AV女优，美女图片，性感美女，美女写真，私房写真">
<meta name="description" content="GRAPHIS是专业的知名美女写真网站，致力于拍摄性感又不失唯美的人像写真，分享性感、清新、唯美、时尚、COSPLAY等各种不同风格的美女图片和日本女优、AV女优的私房写真">

</head>

<body id="htmlpage">

<div id="wrraper">

	<div class="htmlpage-logo"><img src="./GRAPHIS_files/gralogo.svg"></div>

    <div id="content-htmlpage" class="kiyaku">

    <div class="jp-on">
 
 	<h4>免责申明</h4>
 
    <div class="kiyaku-list">
	用户在接受GRAPHSI（graphis.club）服务之前，请务必仔细阅读本声明，用户直接或通过各类方式直接或间接使用GRAPHIS服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用GRAPHIS所提供的全部服务。<br><br>
    	<ul>
        	<li>用户承诺<br>
用户以各种方式使用GRAPHIS服务和数据（包括但不限于发表、采集、宣传介绍、转载、浏览及利用GRAPHIS或GRAPHIS用户发布或采集的内容）的过程中，不得以任何方式利用GRAPHIS直接或间接从事违反中国法律法规、以及社会公德的行为，应当恪守下述承诺：<br>
发布、采集或提供的内容符合中国法律法规、社会公德；<br>
发布、采集或提供的内容不得侵害正当权利人之权利；<br>
不得干扰、损害和侵犯GRAPHIS的各种合法权利与利益；<br>
遵守GRAPHIS以及与之相关的网络服务的协议、指导原则、管理细则等。<br>
GRAPHIS有权对违反上述承诺的内容予以删除。</li>
			<li>免责说明<br>
GRAPHIS仅为用户发表、采集的内容提供存储空间，GRAPHIS不对用户发表、采集的内容提供任何形式的保证：不保证内容满足您的要求，不保证GRAPHIS的服务不会中断（因网络状况、通讯线路、第三方网站或管理部门的要求等任何不可抗力、不可归责于GRAPHIS的原因而导致用户不能正常使用GRAPHIS，GRAPHIS不承担任何法律责任。）<br>
用户在GRAPHIS发表、采集的内容（包含但不限于GRAPHIS现有各产品、功能里的内容），仅表明其个人的立场和观点，并不代表GRAPHIS的立场和观点。作为内容的发表或采集者，需自行对所发表或采集的内容负责，因所发表或采集的内容引发的一切纠纷、损失，由该内容的发表或采集者承担全部直接或间接（连带）法律责任，GRAPHIS不承担任何法律责任。<br>
用户在GRAPHIS发表、采集的内容（包含但不限于GRAPHIS现有各产品、功能中的内容），均系用户个人行为产生，任何个人、公司或其他主体使用上述内容从事盈利性或非盈利性行为导致的侵犯他人知识产权或其他合法权益而产生的一切纠纷、损失均由该个人、公司或其他主体承担全部直接或间接（连带）法律责任，GRAPHIS不承担任何法律责任。<br>
用户在GRAPHIS发布或采集侵犯他人知识产权或其他合法权益的内容时或者GRAPHIS接到相关权利人投诉、举报时，GRAPHIS有权对侵权内容予以删除或进行其他限制措施，并保留移交相关行政机关处理的权利，GRAPHIS不承担因此产生的一切损失或其他法律责任。<br>
个人用户在申请注册用户时，不得使用已在工商局注册的企业或品牌名称作为用户名，经查实无法提供相关证明的，GRAPHIS有权收回帐号。GRAPHIS的删除或其他限制措施行为系履行网络服务提供者的审查、监管义务行为，不承担相关赔偿责任。GRAPHIS作为网络服务提供者与用户及相关权利人之间的纠纷无关。</li>
			<li>维权须知<br>
任何个人、公司或其他主体如认为GRAPHIS上存在侵犯其自身合法权益的内容，应及时与GRAPHIS取得联系同时向GRAPHIS提交相关书面通知书，以便GRAPHIS迅速做出处理。通知书应当包含下列内容：<br>
权利人的姓名(名称)、联系方式和地址；<br>
要求删除或者断开链接的具体侵权内容的名称、以及对应的url地址；<br>
构成侵权的初步证明材料。<br>
权利人应当对通知书的真实性负责。权利人未提交通知书的GRAPHIS有权在核实情况后再行处理，因此产生的一切损失由权利人承担。

用户认为其在GRAPHIS发布或采集的内容未侵犯他人权利的或者在接到GRAPHIS侵权处理通知时可以向GRAPHIS提交书面说明要求解除相关限制措施（不包括不可恢复性措施）。书面说明应当包含下列内容：<br>
用户的姓名(名称)、联系方式和地址；<br>
要求恢复的内容名称、对应的url地址及要求解除的限制措施；<br>
不构成侵权的初步证明材料。<br>
用户应当对书面说明的真实性负责。用户不提交书面说明的，GRAPHIS不自动恢复相关措施。</li>
			<li>附则：GRAPHIS是一个美好的平台，我们承认个性，也请尊重他人，让自己大方得体。联系邮箱：55978155@qq.com</li>
        </ul>
	
    </div>

    </div><!-- /.jp-on -->
   
   </div>
   
   <p class="htmlpage-close"><span class="jp-txt close-button">- 关闭 -</span></p>

</div>

</body></html>