<!DOCTYPE html>
<html lang="ja"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>阿部乃美久|GRAPHIS美女图片|女优百科|艾薇头条</title>
<meta name="keywords" content="GRAPHIS，女优百科，艾薇头条，日本女优，AV女优，美女图片，性感美女，美女写真，私房写真">
<meta name="description" content="GRAPHIS是专业的知名美女写真网站，致力于拍摄性感又不失唯美的人像写真，分享性感、清新、唯美、时尚、COSPLAY等各种不同风格的美女图片和日本女优、AV女优的私房写真">

<!--缓存清除-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<!--css-->
<link rel="stylesheet" type="text/css" href="./model_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="./model_files/default.css">
<link rel="stylesheet" type="text/css" href="./model_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="./model_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="./model_files/modelpage.css">
<link rel="stylesheet" type="text/css" href="./model_files/item-himekuri.css">
<link rel="stylesheet" type="text/css" href="./model_files/loader.css">
<link rel="stylesheet" type="text/css" href="./model_files/jquery.mCustomScrollbar.css">

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="/files/css/lte_ie9.css">
<![endif]-->

<!--js-->
<script src="./model_files/jquery.min.js"></script>
<script src="./model_files/fullSlideShow.js"></script>
<script src="./model_files/gra-common.js"></script>
<script src="./model_files/loader.js"></script><style type="text/css">#wrapper { display: none; } #fade, #loader { display: block; }</style>
<script src="./model_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./model_files/slide_menu.js"></script> 
<script src="./model_files/slide_show.js"></script> 
<script src="./model_files/flexibility.js"></script>

<!--[if lte IE 9]>
<script src="/files/js/flexibility.js"></script>
<script>
    $(function(){
        flexibility(document.documentElement);
    });
</script>
<![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- java script-->
<script>
		(function($){
			$(window).load(function(){
				
				$(".scroll-box").mCustomScrollbar({
					theme:"light",
					scrollInertia:400
				});
			});
		})(jQuery);
		
</script>
<!-- java script-->

<!-- lightbox -->
<link rel="stylesheet" type="text/css" href="./model_files/simplelightbox.min.css">
<!-- lightbox -->

</head>
<body>

<!-- 页眉导航 -->
<header>

<div id="head-navi3">

    <div class="head-navi3-box">

    <div class="head-navi-logo"><a href="http://tu6.com.cn/"><img src="./GRAPHIS_files/gralogo.svg" class="gralogo-head"></a></div>
    
    <div class="head-navi-list">

    <!--登录判断-->
        
       <nav>
        <ul>
        <li><a href="models.html"><span class="text-en">Models</span><br><span class="text-jp">模特一览</span></a></li>
        <li><a href="albums.html"><span class="text-en">Albums</span><br><span class="text-jp">专辑一览</span></a></li>
        <li><a href="1.html" target="_blank"><span class="text-en">Guide</span><br><span class="text-jp">网站介绍</span></a></li>
        <li><a href="2.html" target="_blank"><span class="text-en">Contact</span><br><span class="text-jp">联系我们</span></a></li>
      </ul>
    </nav>

    <div class="head-join-box">
    <ul>
        <li class="btn-join"><a href="#"><span class="text-en">JOIN</span><br><span class="text-jp">入会</span></a></li>
        <li class="btn-login"><a href="#"><span class="text-en">LOGIN</span><br><span class="text-jp">登录</span></a></li>
    </ul>
    </div>
            
    </div><!-- /.head-navi-list -->
    
    </div>

   <!--登录判断-->
   
</div>

<!--页眉导航缩小-->
<div id="head-navi2">
	<div class="head-navi2-box">
    <ul>
    <li id="btn-menu"><div>MENU</div></li>
    <li class="head-logo"><div><a href="http://tu6.com.cn/"><img src="./GRAPHIS_files/gralogo.svg"></a></div></li>

            <!--登录判断-->
                
    <li class="btn-login"><a href="#">LOGIN</a></li>
    </ul>
    </div>

            <!--登录判断-->
        
        </div>
<!--页眉导航缩小-->

<!--滑动导航-->
<div id="slide-menu">
<navi class="slide-navi">
    <ul>
    <!--登录判断-->
    <li class="join"><a href="#">JOIN/会员注册</a></li>
    <li class="login"><a href="#">LOGIN/会员登录</a></li>
    <li class="photo"><a href="models.html">MODELS/模特一览</a> </li>
	<li class="photo"><a href="albums.html">ALBUMS/专辑一览</a></li>
    <li class="photo"><a href="1.html" target="_blank">Guide/网站介绍</a></li>
    <li class="photo"><a href="2.html" target="_blank">Contact/联系我们</a></li>
    </ul>
</navi>
</div>
<!--滑动导航-->

</header>
<!-- 页眉导航 -->

            <!--登录判断-->

<!-- simple lightbox-->
<div id="wrapper" class="slide" style="display: block;">
  <!-- 内容 -->
  <div id="content-model">
    <p class="pan-link"><a href="http://tu6.com.cn/">TOP</a> &gt; <a href="models.html">模特一览/Models</a> &gt; 阿部乃美久</p>
    <div class="model-box2"> <img src="./model_files/AbenoMiku_1.jpg">
        <ul class="model-info-box">
          <li class="model-prof">
            <div>
              <ul>
                <p>Profile</p>
                <li>
阿部乃美久（日文名：阿部乃みく 英文名：Abeno Miku）<br>
1993年10月18日 てんびん座；<br>
サイズ：T155/B80(Cカップ)/W60/H86；<br>
血液型：B型；<br>
出身地：大分県；<br>
AV出演期間：2013年‐　
                </li>
              </ul>
            </div>
          </li>
          <li class="comment-box">
            <div>
              <ul>
                <p>Comment</p>
                <li class="text-jp">由于出演了人气极高的漫画《进击的巨人》的岛国动作版，并饰演第一攻击性女主角米卡莎，而被广大漫友所知晓。据说阿部乃美久在出道之前曾经在咖啡馆里面打工，并也经常客串Cosplay角色。</li>
              </ul>
            </div>
          </li>
        </ul>
    </div>

    <section class="photo-gallery-box">
      <h5>阿部乃美久的所有专辑</h5>
      <div class="photo-thumb">
        <div>
          <ul>
            <li> <a href="http://www.graphis.club/"><img src="./model_files/AbenoMiku_2.jpg"></a> </li>
          </ul>
        </div>
      </div>
      <!-- /.photo-thumb-->
    </section>
    <!-- /.photo-gallery-box-->
  </div>
  <!--/#content-model-->
  <!-- /内容 -->
  <!-- 页脚 -->
  <div id="navi-bottom-gp">
    <div class="navi-bottom-logo"> <img src="./GRAPHIS_files/gralogo.svg" alt="GRAPHIS"> </div>
    <div class="navi-bottom-section">
      <!--登录判断-->
      <ul>
        <li><a href="http://tu6.com.cn/">Home /首页</a></li>
        <li><a href="#" class="join">Join /会员注册</a></li>
        <li><a href="#">Login /会员登录</a></li>
        <li><a href="models.html">Models /模特一览</a></li>
        <li><a href="albums.html">Albums /专辑一览</a></li>
      </ul>
      <ul>
        <li><a href="1.html" target="_blank">Guide /网站介绍</a></li>
        <li><a href="2.html" target="_blank">Contact /联系我们</a></li>
        <li><a href="3.html" target="_blank">VIP说明</a></li>
        <li><a href="4.html" target="_blank">免责声明</a></li>
      </ul>
    </div>
  </div>
  <!--/#navi-bottom-->
  <footer class="tpl">
    <p><span class="text-jp">版权所有 严禁转载</span></p>
    <p>Copyright (C) 2018 graphis.club All rights reserved.</p>
  </footer>
  <!-- /页脚-->
  <!--	google analytics等	-->
</div>
<!--/#wrapper-->
</body></html>