<include file="./Shop/Webapp/View/header.html" />
<div class="appContent">
<script type="text/javascript">
$(function(){
	$('#forgotpassword_form').validate({
		rules : {
			password : {
				required : true,
				minlength : 6
			},
			repassword : {
				required : true,
				minlength : 6,
				equalTo : '#password'
			}
		},
		success: 'InfoTrue',
		errorElement : 'span',
		errorClass : 'InfoError',
		validClass : 'InfoTrue'
	});	
	$('.loginBtn').click(function(){ $(this).parents('#forgotpassword_form').submit(); });
});
</script>

    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Forgot Password</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
<include file="./Shop/Webapp/View/menu.html" />
    </div>
    <!--导航结束--> 
    
        <!--找回密码开始-->
        <div class="loginBox">
        	<h2>Reset Password</h2>
            <h3>Forgot your password?</h3>
            <p>Please enter your e-mail address to receive your account password by e-mail.</p>
            <form id="forgotpassword_form" method="post">
            <dl>
            	<dt>New Password:</dt>
                <dd><input type="password" id="password" name="password" value="" class="textIn" /></dd>
            </dl>
            <dl>
            	<dt>Confirm Password:</dt>
                <dd><input type="password" id="repassword" name="repassword" value="" class="textIn" /></dd>
            </dl>
            <dl><dd> 
            	<input type="hidden" name="fid" value="{$flog.fid}" />
                <a href="javascript:void(0)" title="Send Password" class="loginBtn">Send Password</a>
                </dd>
            </dl>
            </form>
        </div>
        <!--找回密码结束-->
        
</div>
<include file="./Shop/Webapp/View/footer.html" />