<include file="./Shop/Webapp/View/header.html" />
<div class="appContent">
<script type="text/javascript">
$(function(){
	
	$('#forgotpassword_form').validate({
		rules : {
			email : {
				required : true,
				email : true,
				remote:{ 
					url : './Index/ajax_check_email.html',
					type : 'post',
					dataType : 'json',
					data : {
						email: function(){
								return $('#forgotpassword_form input[name="email"]').val();
						}
					}
				} 	 
			}
		},
		messages:{
			email:{
				required:'Please enter the correct E-mail Address.',
				remote: 'The E-mail address is not exist.',
			}
		},
		submitHandler: function(form){ //表单提交句柄,为一回调函数，带一个参数：form
			$("#show_msg").html('<img src="/Public/home/images/loading.gif" style="vertical-align:middle;" /> Sending email...').show();
			$.post('./Forgotpassword.html',{ 
						email: function(){
								return $('input[name="email"]').val();
							}, 
				},function(data){  
					if(data.status=='0'){
						$("#show_msg").html(data.info);
						return;
					}else{
						$('.InfoError').attr('style','width:auto;');
						$("#show_msg").html('The email of password retrieval has been sent to your email box, please check it out in 48 hours.');
						alert('Congratulations, System have successfully sent email to your email box.');
						//self.location=data.info;	
					}  
				},'json');
			//form.submit(); //提交表单
		},
		
		success: 'InfoTrue',
		errorElement : 'span',
		errorClass : 'tips',
		validClass : 'InfoTrue'
	});	
	$('.reLogin').click(function(){ self.location="{:U('Login/index')}";});
	$('.loginBtn').click(function(){ $(this).parents('#forgotpassword_form').submit(); });
});
</script>

    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Forgot Password</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
<include file="./Shop/Webapp/View/menu.html" />
    </div>
    <!--导航结束-->
    
    <!--会员中心设置开始-->
    <div class="loginBox">
    <form id="forgotpassword_form" method="post">
    	<dl>
        	<dd>
            	<input type="text" name="email" value="" class="textIn" placeholder="E-mail Address" />
               <!-- <span class="tips">Please enter the correct E-mail Address.</span>-->
            </dd>
            <dd>
            	<a href="javascript:void(0)" title="Send Password" class="loginBtn">Send Password</a>
                <a href="{:U('Login/index')}" title="Return to Login" class="ReturnLoginBtn">Return to Login</a> 
            </dd>
        </dl>
     </form>   
    </div>
	<!--会员中心设置结束--> 
</div>
<include file="./Shop/Webapp/View/footer.html" />