<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>{$webapp_name}</title>
<link rel="apple-touch-icon-precomposed" size="57x57" href="__PUBLIC__/webapp/images/icon57.png" />
<link rel="apple-touch-icon-precomposed" size="72x72" href="__PUBLIC__/webapp/images/icon72.png" />
<link rel="apple-touch-icon-precomposed" size="114x114" href="__PUBLIC__/webapp/images/icon114.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/webapp/css/okchemwebAPP.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/webapp/js/jquery.webeffect.js"></script>
</head>
<body>

