<!DOCTYPE html> 
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>会员入口 - GRAPHIS NO.1 GRAVURE WEB SITE</title>

<!--キャッシュクリア-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<!--css-->
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/default.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/modelpage.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/item-himekuri.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/loader.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/jquery.mCustomScrollbar.css">

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="/files/css/lte_ie9.css">
<![endif]-->

<!--js-->
<script src="/Public/webapp/user_files/jquery.min.js"></script>
<script src="/Public/webapp/user_files/fullSlideShow.js"></script>
<script src="/Public/webapp/user_files/gra-common.js"></script>
<script src="/Public/webapp/user_files/loader.js"></script>
<style type="text/css">
#wrapper {
	display: none;
}
#fade, #loader {
	display: block;
}
</style>
<script src="/Public/webapp/user_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Public/webapp/user_files/slide_menu.js"></script>
<!--<script src="/Public/webapp/user_files/slide_show.js"></script>-->
<script src="/Public/webapp/user_files/flexibility.js"></script>

<!--[if lte IE 9]>
<script src="/files/js/flexibility.js"></script>
<script>
    $(function(){
        flexibility(document.documentElement);
    });
</script>
<![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- java script-- >
<script>
		(function($){
			$(window).load(function(){
				
				$(".scroll-box").mCustomScrollbar({
					theme:"light",
					scrollInertia:400
				});
			});
		})(jQuery);
		
</script>
<!-- java script-->

<!-- java script-->
<script>
/*日本語英語切り替え*/
$(function() {
    $('#switch-en').click(function(){
        $('.jp-on').css('display','none');
        $('.jp-txt').css('display','none');
		$('.en-on').css('display','block');
		$('.en-txt').css('display','inline');
		$(this).css({'display':'none'});
		$('#switch-jp').css('display','inline-block');
    });

    $('#switch-jp').click(function(){
		$('.en-on').css('display','none');
		$('.en-txt').css('display','none');
        $('.jp-on').css('display','block');
        $('.jp-txt').css('display','block');
		$(this).css({'display':'none'});
		$('#switch-en').css('display','inline-block');
    });
});
/*日本語英語切り替え*/
</script>
<!-- java script-->

<link rel="stylesheet" type="text/css" href="/Public/webapp/user_files/member.css">
</head>
<body>

<!-- ヘッダーナビ -->
<header>
  <div id="head-navi3">
    <div class="head-navi3-box">
      <div class="head-navi-logo"><a href="/"><img src="/Public/webapp/user_files/gralogo.svg" class="gralogo-head"></a></div>
      <div class="head-navi-list"> 
        
        <!--登录の判断-->
        
        <nav>
          <ul>
            <li class="acd-models"> <a href="/models.html"><span class="text-en">Models</span><br>
              <span class="text-jp">模特</span></a>
              <ul class="acd-models-box" style="display: none; height: 469px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                <li><a href="/monthly/">NEW MODELS/最新模特一览</a></li>
                <li><a href="/monthly/?RM=1">MEMBER/会员专属福利</a></li>
                <li><a href="/monthly/?RM=2">GRAPHIS推荐模特</a></li>
                <!-- <li><a href="/monthly/?RM=3">STAGE.2/ステージ2公開一覧</a></li>
                <li><a href="/monthly/?MC=1">GRAPHIS GALS/グラフィスギャルズ</a></li>
                <li><a href="/monthly/?MC=2">FIRST GRAVURE/初脱ぎ娘！</a></li>
                <li><a href="/monthly/?MC=3">LIMITED EDITTION/期間限定</a></li>
                <li><a href="/monthly/?MC=4">SPECIAL/スペシャル企画 </a></li>
                <li><a href="/monthly/?MC=5">FETI STYLE/フェチスタイル </a></li>
                <li><a href="/monthly/?MC=6">CALENDAR/日めくり</a></li>
                               
                <li class="close-gallery"><a href="/monthly/?MIC03=7">SHIFT to STAGE1/ステージ1へ移行</a></li>
                <li class="close-gallery"><a href="/monthly/?MIC03=8">SHIFT to STAGE2/ステージ2へ移行</a></li>
                <li class="close-gallery"><a href="/monthly/?MIC03=6">CLOSE GALLERY/公開終了</a></li>
-->
              </ul>
            </li>
            <li><a href="/page/?ID=award"><span class="text-en">Albums</span><br>
              <span class="text-jp">专辑</span></a></li>
            <li><a href="/ppv/"><span class="text-en">JOIN VIP</span><br>
              <span class="text-jp">加入VIP</span></a></li>
            <li><a href="/page/?ID=guide"><span class="text-en">Guide</span><br>
              <span class="text-jp">网站紹介</span></a></li>
            <li><a href="/page/?ID=contact"><span class="text-en">Contact</span><br>
              <span class="text-jp">联系我们</span></a></li>
          </ul>
        </nav>
        <div class="head-join-box">
          <ul>
            <li class="btn-mypage"><a href="/member/index.html"><span class="text-en">MY PAGE</span><br>
              <span class="text-jp">会员中心</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.head-navi-list --> 
      
    </div>
    
    <!--登录の判断-->
    
    <div class="login-info-box">
      <div class="user-nfo-box">
        <ul>
          <li>rainman828</li>
          <li class="on-w960">[普通会员]</li>
          <li class="on-w960">金币数量:5个</li>
          <li class="on-w00">  </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!--ヘッダーナビ縮小-->
  <div id="head-navi2">
    <div class="head-navi2-box">
      <ul>
        <li id="btn-menu">
          <div>MENU</div>
        </li>
        <li class="head-logo">
          <div><a href="/"><img src="/Public/webapp/user_files/gralogo.svg"></a></div>
        </li>
        
        <!--登录の判断-->
        
        <li class="btn-mypage"><a href="/member/menu.php">会员</a></li>
      </ul>
    </div>
    
    <!--登录の判断-->
    
    <div class="login-info-box">
      <div class="user-nfo-box">
        <ul>
          <li>rainman828</li>
          <li class="on-w960">[購入Pt/Purchased Pt] 0pt</li>
          <li class="on-w960">[サービスPt/Service Pt] 0pt</li>
          <li class="on-w00">[利用期限/period] </li>
        </ul>
      </div>
    </div>
  </div>
  <!--ヘッダーナビ縮小--> 
  
  <!--スライドナビ-->
  <div id="slide-menu">
    <navi class="slide-navi">
      <ul>
        
        <!--登录の判断-->
        
        <div class="login-space"></div>
        <li class="model accordion"> <span class="toggle">MODELS/モデル一覧</span>
          <ul>
            <li><a href="/monthly/">NEW MODELS/新モデル</a></li>
            <li><a href="/monthly/?RM=1">MEMBER/メンバー公開一覧</a></li>
            <li><a href="/monthly/?RM=2">STAGE.1/ステージ1公開一覧</a></li>
            <li><a href="/monthly/?RM=3">STAGE.2/ステージ2公開一覧</a></li>
            <li><a href="/monthly/?MC=1">GRAPHIS GALS/グラフィスギャルズ</a></li>
            <li><a href="/monthly/?MC=2">FIRST GRAVURE/初脱ぎ娘！</a></li>
            <li><a href="/monthly/?MC=3">LIMITED EDITTION/期間限定</a></li>
            <li><a href="/monthly/?MC=4">SPECIAL/スペシャル企画</a></li>
            <li><a href="/monthly/?MC=5">FETI STYLE/フェチスタイル </a></li>
            <li><a href="/monthly/?MC=6">CALENDAR/日めくり</a></li>
            <!--        
                <li class="close-gallery"><a href="/monthly/?MIC03=7">SHIFT to STAGE1/ステージ1へ移行</a></li>
                <li class="close-gallery"><a href="/monthly/?MIC03=8">SHIFT to STAGE2/ステージ2へ移行</a></li>
                <li class="close-gallery"><a href="/monthly/?MIC03=6">CLOSE GALLERY/公開終了</a></li>
-->
          </ul>
        </li>
        <li class="photo"><a href="/page/?ID=award">Award/アワード</a></li>
        <li class="photo"><a href="/ppv/">PPV/単品ダウンロード</a></li>
        <li class="photo"><a href="/page/?ID=guide">ABOUT SITE/サイト紹介</a></li>
        <li class="photo"><a href="/page/?ID=contact">CONTACT/お問い合わせ</a></li>
      </ul>
    </navi>
  </div>
  <!--スライドナビ--> 
  
</header>
<!-- /ヘッダーナビ --> 

<!--登录の判断--> 

<!--登录時スペース-->
<div class="login-head-space"></div>
<div id="wrapper" class="slide" style="display: block;"> 
  
  <!-- コンテンツ --> 
  <div id="content-gp">

	<p class="pan-link"><a href="/">TOP</a> &gt; 会員登録</p>

<section id="login-section">
	<h3><span class="text-en">JOIN</span> <span class="text-jp">/会員登録</span></h3>
    
    <div class="join-box main-box">

		<p>■無料会員登録 /Join Free</p>
        <ul>
        	<li>想要付费服务等收费服务，请先进行免费会员登录。</li>
            <li>For those who wish to pay service such as flat-rate service, please register as a free member first.</li>
        </ul>
        
        	



	
		<div class="form-box">
		<form action="http://graphis.ne.jp/entry/confirm.php" method="post">
			<ul>
            	<li>ニックネーム /User name</li>
                <li><input name="F01" value="" type="text"></li>
                <li>(全角10文字まで)</li>
            </ul>
            <ul>
            	<li>メールアドレス /e-mail</li>
                <li><input name="F02" value="" type="text"></li>
            </ul>
            <ul>
            	<li>メールアドレス確認用 /For confirming e-mail</li>
                <li><input name="F03" value="" type="text"></li>
            </ul>
             <ul>
            	<li>パスワード /Password</li>
                <li><input name="F04" value="" type="text"></li>
            </ul>
           <div>
           		<input name="FS" value="入力確認/Confirm input" class="login-submit" type="submit">
            </div>
        </form>
		</div><!--/.form-box-->
        
        <div class="pre-note">
        	<ul>
            	<li>系统将发送用户注册的确认邮件，请将本站域名设置为白名单以免收不到邮件。</li>
                <li>Confirmation e-mail will be sent to the e-mail address you entered for confirmation of registration regarding e-mail address. Domain designation refusal etc. It will not arrive correctly.</li>
            </ul>
        </div>
   
    
    </div><!--/.join-box-->

	    
    <div class="join-box main-box">
    
		<p>■無料登録で受けられるサービス /Services available for free registration</p>
        
        <ul class="itemiztion">
        	<!--<li><span class="jp">無料コンテンツでの画像観覧</span><br><span class="en">Image viewing with free content</span></li>-->
        	<li><span class="jp">メルマガ配信での先行画像配信やその他お得な情報</span><br><span class="en">Advance image distribution and merchandise information in mail magazine distribution</span></li>
        	<!--<li><span class="jp">単品ダウンロード用ポイントを漏れなく1000ptプレゼント！ </span><br><span class="en">1000 points present without omission point for single item download!</span></li>-->
        </ul>
    
    </div>


    <div class="join-box">
    
    	<div class="bg-red">
    
		<p class="red">■メールアドレスに関しまして /About email address</p>
        	
            <ul class="text-box">
            	<li class="jp">登録の確認にご入力頂きましたメールアドレスに確認のメールが送信されます。以下フリーメール等は届かないことが想定されます。hotmail.com hotmail.co.jp aol.com 等また、Iモード、AU、SOFTBANKなどの携帯電話のアドレスでご登録の場合は@graphis.ne.jpのドメイン指定拒否の解除をお願い致します。 </li>
            	<li class="en">Confirmation e-mail will be sent to the e-mail address you entered for confirmation of registration. Below it is assumed that free mail etc will not arrive. Hotmail.com hotmail.co.jp aol.com etc. Also, in case of registering with the address of mobile phones such as I mode, AU, SOFTBANK etc. Please cancel the domain designation rejection of @graphis.ne.jp.</li>
            </ul>
        
        
        </div>

	</div>


    <div class="login-box">
		<p>■仮登録メールの再送信 /Retransmit temporary registration mail</p>
        <ul>
        	<li>ご登録メールアドレスへ再設定方法のメールを送信致します。</li>
            <li>We will send e-mail of resetting method to registered e-mail address.</li>
        </ul>
  
  		<div class="form-box">
		<form action="http://graphis.ne.jp/entry/index.php" method="post">
	      	<ul>
        		<li>メールアドレス /e-mail</li>
        		<li><input name="FM01" value="" maxlength="100" type="text"></li>
        	</ul>
            <div>
				<input name="FS" value="SUBMIT" class="login-submit" type="submit">
            <input name="TYPE" value="SUBENTRY_MAIL" type="hidden">
            <input name="FCHK" value="TRUE" type="hidden">
            </div>
        </form>
        </div>
    </div><!--/.login-box-->
    
	

</section>


</div>
  <!--/#content-gp--> 
  <!-- /コンテンツ --> 
  
  <!-- フッター -->
  
  <div id="navi-bottom-gp">
    <div class="navi-bottom-logo"> <img src="/Public/webapp/user_files/gralogo.svg" alt="GRAPHIS"> </div>
    <div class="navi-bottom-section"> 
      
      <!--登录の判断-->
      
      <ul>
        <li><a href="/">TOP /トップページ</a></li>
        <li><a href="/member/logout.php">Logout /ログアウト</a></li>
        <li><a href="/monthly/">Models /公開モデル</a></li>
      </ul>
      <ul>
        <!--<li><a href="#">スタッフ（モデル等）募集</a></li>-->
        <li><a href="/files/htmlpage/legal.html" target="_blank">特定商取引法に基づく表示</a></li>
        <li><a href="/files/htmlpage/legal02.html" target="_blank">改正風営法に基づく表記</a></li>
        <li><a href="/files/htmlpage/kiyaku.html" target="_blank">ご利用規約</a></li>
      </ul>
    </div>
  </div>
  <!--/#navi-bottom-->
  
  <footer class="tpl">
    <p><span class="text-jp">当サイトに掲載されている画像・動画ファイル及び文章等の無断転載及び使用を固く禁じます。</span><br>
      <span class="text-en">All contents on this website are the copyright of GRAPHIS.Unauthorized copy or any form of reproduction is strictly prohibited.</span></p>
    <p>Copyright (C) 2018 graphis.ne.jp All rights reserved.</p>
  </footer>
  <!-- /フッター --> 
  
  <!--	google analytics等	--> 
  
</div>
<!--/#wrapper--> 

<!--	google analytics等	-->

</body>
</html>