<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>GRAPHIS美女图片|女优百科|艾薇头条</title>
<meta name="keywords" content="GRAPHIS，女优百科，艾薇头条，日本女优，AV女优，美女图片，性感美女，美女写真，私房写真">
<meta name="description" content="GRAPHIS是专业的知名美女写真网站，致力于拍摄性感又不失唯美的人像写真，分享性感、清新、唯美、时尚、COSPLAY等各种不同风格的美女图片和日本女优、AV女优的私房写真">

<!--缓存清除-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<!--css-->
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/default.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/modelpage.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/item-himekuri.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/loader.css">
<link rel="stylesheet" type="text/css" href="/Public/webapp/graphis_files/jquery.mCustomScrollbar.css">

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="/files/css/lte_ie9.css">
<![endif]-->

<!--js-->
<script src="/Public/webapp/graphis_files/jquery.min.js"></script>
<script src="/Public/webapp/graphis_files/fullSlideShow.js"></script>
<script src="/Public/webapp/graphis_files/gra-common.js"></script>
<script src="/Public/webapp/graphis_files/loader.js"></script>
<style type="text/css">
#wrapper {
	display: none;
}
#fade, #loader {
	display: block;
}
</style>
<script src="/Public/webapp/graphis_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Public/webapp/graphis_files/slide_menu.js"></script>
<!--<script src="/Public/webapp/graphis_files/slide_show.js"></script>-->
<script src="/Public/webapp/graphis_files/flexibility.js"></script>

<!--[if lte IE 9]>
<script src="/files/js/flexibility.js"></script>
<script>
    $(function(){
        flexibility(document.documentElement);
    });
</script>
<![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- java script-->
<script>
		(function($){
			$(window).load(function(){
				
				$(".scroll-box").mCustomScrollbar({
					theme:"light",
					scrollInertia:400
				});
			});
		})(jQuery);
		
</script>
<!-- java script

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b0410d9cd394fe90b30ba4e0db6de606";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>-->
</head>
<body>

<!-- 页眉导航 -->
<header>
  <div id="head-navi3">
    <div class="head-navi3-box">
      <div class="head-navi-logo"><a href="/"><img src="/Public/webapp/graphis_files/gralogo.svg" class="gralogo-head"></a></div>
      <div class="head-navi-list"> 
        
        <!--登录判断-->
        
        <nav>
          <ul>
            <li><a href="models.html"><span class="text-en">Models</span><br>
              <span class="text-jp">模特一览</span></a></li>
            <li><a href="album.html"><span class="text-en">Albums</span><br>
              <span class="text-jp">专辑一览</span></a></li>
            <li><a href="/index/guide.html" target="_blank"><span class="text-en">Guide</span><br>
              <span class="text-jp">网站介绍</span></a></li>
            <li><a href="/index/contact.html" target="_blank"><span class="text-en">Contact</span><br>
              <span class="text-jp">联系我们</span></a></li>
          </ul>
        </nav>
        <div class="head-join-box">
          <ul>
            <li class="btn-join"><a href="/index/entry.html"><span class="text-en">JOIN</span><br>
              <span class="text-jp">入会</span></a></li>
            <li class="btn-login"><a href="/index/login.html"><span class="text-en">LOGIN</span><br>
              <span class="text-jp">登录</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.head-navi-list --> 
      
    </div>
    
    <!--登录判断--> 
    
  </div>
  
  <!--页眉导航缩小-->
  <div id="head-navi2">
    <div class="head-navi2-box">
      <ul>
        <li id="btn-menu">
          <div>MENU</div>
        </li>
        <li class="head-logo">
          <div><a href="/"><img src="/Public/webapp/graphis_files/gralogo.svg"></a></div>
        </li>
        
        <!--登录判断-->
        
        <li class="btn-login"><a href="#">LOGIN</a></li>
      </ul>
    </div>
    
    <!--登录判断--> 
    
  </div>
  <!--页眉导航缩小--> 
  
  <!--滑动导航-->
  <div id="slide-menu">
    <navi class="slide-navi">
      <ul>
        <!--登录判断-->
        <li class="join"><a href="#">JOIN/会员注册</a></li>
        <li class="login"><a href="#">LOGIN/会员登录</a></li>
        <li class="photo"><a href="models.html">MODELS/模特一览</a> </li>
        <li class="photo"><a href="album.html">ALBUMS/专辑一览</a></li>
        <li class="photo"><a href="/index/guide.html" target="_blank">Guide/网站介绍</a></li>
        <li class="photo"><a href="/index/contact.html" target="_blank">Contact/联系我们</a></li>
      </ul>
    </navi>
  </div>
  <!--滑动导航--> 
  
</header>
<!-- 页眉导航 --> 

<!--登录判断--> 

<!--top-->
<p class="scroll-top" style="display: none;"><a href="#wrapper">▲TOP</a></p>
<div id="wrapper" class="slide" style="display: block;"> 
  
  <!-- 内容TOP10 -->
  <div id="contens-list">
    <section id="contens-list-head">
      <p class="pan-link"><a href="/">TOP</a> &gt; <a href="models.html">模特一览/Models</a></p>
      <h1>
        <ul>
          <li class="text-en">MODELS</li>
          <li class="text-jp">模特一览</li>
        </ul>
      </h1>
    </section>
    
    <!-- 内容 -->
    
    <div class="gp-model-thumb-box">
      <div class="list-thumb-box">
      
      <volist name="modelslist" id="vo">
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="{:U('models/albumlist',array('id'=>$vo['id']))}" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="{$vo.photo}" alt="{$vo.title}"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">{$vo.title}</span></li>
                <li class="name-jp">专辑:{$vo.album_num}</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
       </volist>
       
        
      </div>
      <!--/.gp-model-thumb-box--> 
      
    </div>
    <!-- /.list-thumb-box -->
    
    </section>
  </div>
  <!--/#content-gp--> 
  <!-- /内容 --> 
  
  <!-- 页脚 -->
  
  <div id="navi-bottom-gp">
    <div class="navi-bottom-logo"> <img src="/Public/webapp/graphis_files/gralogo.svg" alt="GRAPHIS"> </div>
    <div class="navi-bottom-section"> 
      
      <!--登录判断-->
      
      <ul>
        <li><a href="/">Home /首页</a></li>
        <li><a href="#" class="join">Join /会员注册</a></li>
        <li><a href="#">Login /会员登录</a></li>
        <li><a href="models.html">Models /模特一览</a></li>
        <li><a href="albums.html">Albums /专辑一览</a></li>
      </ul>
      <ul>
        <li><a href="1.html" target="_blank">Guide /网站介绍</a></li>
        <li><a href="2.html" target="_blank">Contact /联系我们</a></li>
        <li><a href="3.html" target="_blank">VIP说明</a></li>
        <li><a href="4.html" target="_blank">免责声明</a></li>
      </ul>
    </div>
  </div>
  <!--/#navi-bottom-->
  
  <footer class="tpl">
    <p><span class="text-jp">版权所有 严禁转载</span></p>
    <p>Copyright (C) 2018 graphis.club All rights reserved.</p>
  </footer>
  <!-- /页脚 --> 
  
  <!--	google analytics等	--> 
  
</div>
<!--/#wrapper--> 

<!--	google analytics等	-->

</div>
</body>
</html>