<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>GRAPHIS美女图片|女优百科|艾薇头条</title>
<meta name="keywords" content="GRAPHIS，女优百科，艾薇头条，日本女优，AV女优，美女图片，性感美女，美女写真，私房写真">
<meta name="description" content="GRAPHIS是专业的知名美女写真网站，致力于拍摄性感又不失唯美的人像写真，分享性感、清新、唯美、时尚、COSPLAY等各种不同风格的美女图片和日本女优、AV女优的私房写真">

<!--缓存清除-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<!--css-->
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/reset_html5.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-tb.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/default-sp.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/modelpage.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/item-himekuri.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/loader.css">
<link rel="stylesheet" type="text/css" href="./GRAPHIS_files/jquery.mCustomScrollbar.css">

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="/files/css/lte_ie9.css">
<![endif]-->

<!--js-->
<script src="./GRAPHIS_files/jquery.min.js"></script>
<script src="./GRAPHIS_files/fullSlideShow.js"></script>
<script src="./GRAPHIS_files/gra-common.js"></script>
<script src="./GRAPHIS_files/loader.js"></script>
<style type="text/css">
#wrapper {
	display: none;
}
#fade, #loader {
	display: block;
}
</style>
<script src="./GRAPHIS_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./GRAPHIS_files/slide_menu.js"></script>
<script src="./GRAPHIS_files/slide_show.js"></script>
<script src="./GRAPHIS_files/flexibility.js"></script>

<!--[if lte IE 9]>
<script src="/files/js/flexibility.js"></script>
<script>
    $(function(){
        flexibility(document.documentElement);
    });
</script>
<![endif]-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- java script-->
<script>
		(function($){
			$(window).load(function(){
				
				$(".scroll-box").mCustomScrollbar({
					theme:"light",
					scrollInertia:400
				});
			});
		})(jQuery);
		
</script>
<!-- java script-->
</head>
<body>

<!-- 页眉导航 -->
<header>
  <div id="head-navi3">
    <div class="head-navi3-box">
      <div class="head-navi-logo"><a href="http://tu6.com.cn/"><img src="./GRAPHIS_files/gralogo.svg" class="gralogo-head"></a></div>
      <div class="head-navi-list">  
        <nav>
          <ul>
            <li><a href="models.html"><span class="text-en">Models</span><br>
              <span class="text-jp">模特一览</span></a></li>
            <li><a href="albums.html"><span class="text-en">Albums</span><br>
              <span class="text-jp">专辑一览</span></a></li>
            <li><a href="1.html" target="_blank"><span class="text-en">Guide</span><br>
              <span class="text-jp">网站介绍</span></a></li>
            <li><a href="2.html" target="_blank"><span class="text-en">Contact</span><br>
              <span class="text-jp">联系我们</span></a></li>
          </ul>
        </nav>
        
        <!--登录判断-->
        <div class="head-join-box">
          <ul>
            <li class="btn-join"><a href="#"><span class="text-en">JOIN</span><br>
              <span class="text-jp">入会</span></a></li>
            <li class="btn-login"><a href="#"><span class="text-en">LOGIN</span><br>
              <span class="text-jp">登录</span></a></li>
          </ul>
        </div>
      	<!--登录判断--> 
      </div>
      <!-- /.head-navi-list --> 
      
    </div>
  </div>
  
  <!--页眉导航缩小-->
  <div id="head-navi2">
    <div class="head-navi2-box">
      <ul>
        <li id="btn-menu">
          <div>MENU</div>
        </li>
        <li class="head-logo">
          <div><a href="http://tu6.com.cn/"><img src="./GRAPHIS_files/gralogo.svg"></a></div>
        </li>
        
        <!--登录判断-->
        
        <li class="btn-login"><a href="#">LOGIN</a></li>
      </ul>
    </div>
    
    <!--登录判断--> 
    
  </div>
  <!--页眉导航缩小--> 
  
  <!--滑动导航-->
  <div id="slide-menu">
    <navi class="slide-navi">
      <ul>
        <!--登录判断-->
        <li class="join"><a href="#">JOIN/会员注册</a></li>
        <li class="login"><a href="#">LOGIN/会员登录</a></li>
        <li class="photo"><a href="models.html">MODELS/模特一览</a> </li>
        <li class="photo"><a href="albums.html">ALBUMS/专辑一览</a></li>
        <li class="photo"><a href="1.html" target="_blank">Guide/网站介绍</a></li>
        <li class="photo"><a href="2.html" target="_blank">Contact/联系我们</a></li>
      </ul>
    </navi>
  </div>
  <!--滑动导航--> 
  
</header>
<!-- 页眉导航 --> 

<!--登录判断--> 

<!--top-->
<p class="scroll-top" style="display: none;"><a href="#wrapper">▲TOP</a></p>
<div id="wrapper" class="slide" style="display: block;"> 
  
  <!-- 内容TOP10 -->
  <div id="contens-list">
    <section id="contens-list-head">
      <p class="pan-link"><a href="http://tu6.com.cn/">TOP</a> &gt; <a href="models.html">模特一览/Models</a></p>
      <h1>
        <ul>
          <li class="text-en">MODELS</li>
          <li class="text-jp">模特一览</li>
        </ul>
      </h1>
    </section>
    
    <!-- 内容 -->
    
    <div class="gp-model-thumb-box">
      <div class="list-thumb-box">
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="TakahashiShouko.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/TakahashiShouko_2.jpg" alt="高桥圣子"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">高桥圣子</span></li>
                <li class="name-jp">高橋しょう子</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="MikamiYua.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/MikamiYua_2.jpg" alt="三上悠亚"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">三上悠亚</span></li>
                <li class="name-jp">三上悠亜</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="AsakuraYuu.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AsakuraYuu_2.jpg" alt="麻仓优"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">麻仓优</span></li>
                <li class="name-jp">麻倉憂</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="MaricaHase.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/MaricaHase_2.jpg" alt="长谷真理香"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">长谷真理香</span></li>
                <li class="name-jp">長谷真理香</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="YokoyamaMiyuki.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/YokoyamaMiyuki_2.jpg" alt="横山美雪"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">横山美雪</span></li>
                <li class="name-jp">横山美雪</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="ShiinaSora.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/ShiinaSora_2.jpg" alt="椎名空"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">椎名空</span></li>
                <li class="name-jp">椎名そら</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="AmatsukaMoe.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AmatsukaMoe_2.jpg" alt="天使萌"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">天使萌</span></li>
                <li class="name-jp">天使もえ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="MinatoRiku.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/MinatoRiku_2.jpg" alt="凑莉久"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">凑莉久</span></li>
                <li class="name-jp">湊莉久</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="SasakiAki.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/SasakiAki_2.jpg" alt="佐佐木明希"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">佐佐木明希</span></li>
                <li class="name-jp">佐々木あき</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="OnoderaRisa.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/OnoderaRisa_2.jpg" alt="小野寺梨纱"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">小野寺梨纱</span></li>
                <li class="name-jp">小野寺梨紗</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="KobayakawaReiko.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/KobayakawaReiko_2.jpg" alt="小早川怜子"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">小早川怜子</span></li>
                <li class="name-jp">小早川怜子</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="HoshinoNami.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/HoshinoNami_2.jpg" alt="星野娜美"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">星野娜美</span></li>
                <li class="name-jp">星野ナミ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="KamihataIchika.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/KamihataIchika_2.jpg" alt="神波多一花"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">神波多一花</span></li>
                <li class="name-jp">神波多一花</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="MayaKawamura.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/MayaKawamura_2.jpg" alt="川村真矢"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">川村真矢</span></li>
                <li class="name-jp">川村まや</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="AoiTsukasa.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AoiTsukasa_2.jpg" alt="葵司"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">葵司</span></li>
                <li class="name-jp">葵つかさ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="AkiraElly.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AkiraElly_2.jpg" alt="晶爱丽"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">晶爱丽</span></li>
                <li class="name-jp">晶エリー</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="AkieHarada.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AkieHarada_2.jpg" alt="原田明绘"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">原田明绘</span></li>
                <li class="name-jp">原田明絵</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="KohakuUta.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/KohakuUta_2.jpg" alt="琥珀歌"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">琥珀歌</span></li>
                <li class="name-jp">琥珀うた</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="AnjoAnna.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AnjoAnna_2.jpg" alt="安城安娜"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">安城安娜</span></li>
                <li class="name-jp">安城アンナ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="OtowaReon.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/OtowaReon_2.jpg" alt="音羽雷恩"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">音羽雷恩</span></li>
                <li class="name-jp">音羽レオン</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-0"> <a href="RukawaRina.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/RukawaRina_2.jpg" alt="瑠川莉娜"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-0">瑠川莉娜</span></li>
                <li class="name-jp">瑠川リナ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="MatsumotoMei.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/MatsumotoMei_2.jpg" alt="松本芽依"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">松本芽依</span></li>
                <li class="name-jp">松本メイ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="NinomiyaNana.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/NinomiyaNana_2.jpg" alt="二宫奈奈"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">二宫奈奈</span></li>
                <li class="name-jp">二宮ナナ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-"> <a href="AbenoMiku.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AbenoMiku_2.jpg" alt="阿部乃美久"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-">阿部乃美久</span></li>
                <li class="name-jp">阿部乃みく</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-2"> <a href="Julia.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/Julia_2.jpg" alt="Julia"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-2">Julia</span></li>
                <li class="name-jp">京香じゅりあ</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="AoiSora.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/AoiSora_2.jpg" alt="苍井空"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">苍井空</span></li>
                <li class="name-jp">蒼井そら</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="HatanoYui.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/HatanoYui_2.jpg" alt="波多野结衣"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">波多野结衣</span></li>
                <li class="name-jp">波多野結衣</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-2"> <a href="YoshizawaAkiho.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/YoshizawaAkiho_2.jpg" alt="吉泽明步"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-2">吉泽明步</span></li>
                <li class="name-jp">吉沢明歩</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="OkitaAnri.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/OkitaAnri_2.jpg" alt="冲田杏梨"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">冲田杏梨</span></li>
                <li class="name-jp">沖田杏梨</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box-->
        
        <div class="gp-model-box">
          <ul>
            <li class="model-thum-img user-rank-3"> <a href="OzawaMaria.html" target="_blank">
              <div class="user-rank-tag"></div>
              <img src="./model_files/OzawaMaria_2.jpg" alt="小泽玛利亚"></a> </li>
            <li class="model-info">
              <ul>
                <li class="name-jp"><span class="user-rank-3">小泽玛利亚</span></li>
                <li class="name-jp">小澤マリア</li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.gp-model-box--> 
        
      </div>
      <!--/.gp-model-thumb-box--> 
      
    </div>
    <!-- /.list-thumb-box -->
    
    </section>
  </div>
  <!--/#content-gp--> 
  <!-- /内容 --> 
  
  <!-- 页脚 -->
  
  <div id="navi-bottom-gp">
    <div class="navi-bottom-logo"> <img src="./GRAPHIS_files/gralogo.svg" alt="GRAPHIS"> </div>
    <div class="navi-bottom-section"> 
      
      <!--登录判断-->
      
      <ul>
        <li><a href="http://tu6.com.cn/">Home /首页</a></li>
        <li><a href="#" class="join">Join /会员注册</a></li>
        <li><a href="#">Login /会员登录</a></li>
        <li><a href="models.html">Models /模特一览</a></li>
        <li><a href="albums.html">Albums /专辑一览</a></li>
      </ul>
      <ul>
        <li><a href="1.html" target="_blank">Guide /网站介绍</a></li>
        <li><a href="2.html" target="_blank">Contact /联系我们</a></li>
        <li><a href="3.html" target="_blank">VIP说明</a></li>
        <li><a href="4.html" target="_blank">免责声明</a></li>
      </ul>
    </div>
  </div>
  <!--/#navi-bottom-->
  
  <footer class="tpl">
    <p><span class="text-jp">版权所有 严禁转载</span></p>
    <p>Copyright (C) 2018 graphis.club All rights reserved.</p>
  </footer>
  <!-- /页脚 --> 
  
  <!--	google analytics等	--> 
  
</div>
<!--/#wrapper--> 

<!--	google analytics等	-->

</div>
</body>
</html>