<include file='./Shop/Webapp/View/header.html' />
<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Orders</span>
            <a href="{:U('Member/index')}" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--订单列表开始-->
    <div class="order">
    	<div class="orderStatus">
        	<div class="box">
                <a href="javascript:void(0)" class="Status" val="0">Order Status<i></i></a>
                <div class="statusChoose">
                    <a href="javascript:void(0)"><em>9</em>Unpaid</a>
                    <a href="javascript:void(0)"><em>10</em>To Be Shipped</a>
                    <a href="javascript:void(0)"><em>5</em>Shipped</a>
                    <a href="javascript:void(0)"><em>3</em>To Be Reviewed</a>
                    <a href="javascript:void(0)"><em>5</em>In Refund Process</a>
                    <a href="javascript:void(0)"><em>7</em>Within Three Months</a>
                    <a href="javascript:void(0)"><em>99</em>Beyond Three Months</a>
                </div>
            </div>
        </div>
    	<div class="orderSearch">
        	<input type="text" value="Order Number/Product Name" class="search" />
            <a href="javascript:void(0)" class="searchBtn">search</a>
        </div>
        <div class="orderEach">
        	<h3><em>To Be Shipped</em>Order Number : EX1213131312 </h3>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="Refund_Application.html">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="javascript:void(0)">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="allTotal">
            	<span class="total">Total: $300.00</span>
                <a href="javascript:void(0)" class="deleteBtn">delete</a>
                <a href="order_detail.html" class="CancellBtn">Detail</a>
            </div>
        </div>
        <div class="orderEach">
        	<h3><em>To Be Shipped</em>Order Number : EX1213131312 </h3>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="javascript:void(0)">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="allTotal">
            	<span class="total">Total: $300.00</span>
                <a href="javascript:void(0)" class="yellowBtn">Confirm</a>
                <a href="javascript:void(0)" class="deleteBtn">delete</a>
                <a href="javascript:void(0)" class="CancellBtn">Cancell</a>
            </div>
        </div>
        <div class="orderEach">
        	<h3><em>To Be Shipped</em>Order Number : EX1213131312 </h3>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="javascript:void(0)">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="allTotal">
            	<span class="total">Total: $300.00</span>
                <a href="javascript:void(0)" class="yellowBtn">Confirm</a>
                <a href="javascript:void(0)" class="deleteBtn">delete</a>
                <a href="javascript:void(0)" class="CancellBtn">Cancell</a>
            </div>
        </div>
        <div class="orderEach">
        	<h3><em>To Be Shipped</em>Order Number : EX1213131312 </h3>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="javascript:void(0)">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="allTotal">
            	<span class="total">Total: $300.00</span>
                <a href="javascript:void(0)" class="yellowBtn">Confirm</a>
                <a href="javascript:void(0)" class="deleteBtn">delete</a>
                <a href="javascript:void(0)" class="CancellBtn">Cancell</a>
            </div>
        </div>
        <div class="orderEach">
        	<h3><em>To Be Shipped</em>Order Number : EX1213131312 </h3>
            <div class="proInfo clearfix">
            	<div class="info">
                	<span class="price">$3.00</span>
                    <span class="num">×100</span>
                    <a href="javascript:void(0)">Apply Refund</a>
                </div>
            	<dl class="clearfix">
                	<dt><a href="javascript:void(0)"><img src="images/show/pic_2.jpg" width="50" height="50"/></a></dt>
                    <dd>
                    	<h4><a href="javascript:void(0)">Titanium Dioxide Rutile, SR-2377</a></h4>
                        <p>Batch:201406131</p>
                        <p>Package:500g/Bag</p>
                    </dd>
                </dl>
            </div>
            <div class="allTotal">
            	<span class="total">Total: $300.00</span>
                <a href="javascript:void(0)" class="yellowBtn">Confirm</a>
                <a href="javascript:void(0)" class="yellowBtn">Confirm</a>
                <a href="javascript:void(0)" class="CancellBtn">Cancell</a>
            </div>
        </div>
    </div>
	<!--订单列表结束--> 
</div>
<include file='./Shop/Webapp/View/footer.html' />
