<include file='./Shop/Webapp/View/header.html' />
<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Write a Review</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--用户评价列表开始-->
    <div class="reviews">
    	<form id="review_form" method="post">
    	<div class="WriteReviewBox">
        <volist name="order_goods" id="goods" key="key">
        	<div class="writeEach">
            	<div class="proImages">
                    <a href="{:U('Goods/index',array('id'=>$goods['goods_id']))}" class="itemName" target="_blank"><img src="/{$goods.default_image}" width="300" /></a>
                   <p><a href="{:U('Goods/index',array('id'=>$goods['goods_id']))}" class="itemImg" target="_blank">{$goods.goods_name}</a><br><span>{$goods.goods_attr}</span></p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                    <input type="hidden" name="score[]" value="0" />
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="content[]" id="textarea" cols="45" rows="5"></textarea>
                    <input type="hidden" name="rec_id[]" value="{$goods.rec_id}" /> 
                    </dd>
                </dl>
            </div>
        </volist>    
        <input type="hidden" name="id" value="{$order.order_id}" />
         <a href="javascript:void(0)" class="Submit">Submit</a>
        </div>
        </form>
    </div>
	<!--用户评价列表结束-->
    <script>
    $(function(){
		//提交
		$('.Submit').click(function(){ $(this).parents('form').submit(); });
		//评价星级
		$("#star a").click(function(){
			var thisStar = $(this).parent("#star").find("a").index(this) + 1;
			$(this).parent("#star").find("a").removeClass("current");
			$(this).parent("#star").find("a:lt(" + thisStar + ")").addClass("current");	
			$(this).parent("#star").find("input").val(thisStar);
		});
		
/*		$(".star a").click(function(){
			var thisStar = $(this).parent(".star").find("a").index(this) + 1;
			$(this).parent(".star").find("a").removeClass("current");
			$(this).parent(".star").find("a:lt(" + thisStar + ")").addClass("current");
		});
*/
	});
    </script> 
    
</div>
<include file="./Shop/Webapp/View/footer.html" /> 