<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Order Information</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--提交订单开始-->
    <div class="orderShipping">
        <div class="Delivery">
        	<h3>Delivery Method</h3>
            <a href="javascript:void(0)" class="current"><em></em>Shipping<i>(From Champlain 178 West Service Road Champlain, NY 12919)</i></a>
            <a href="javascript:void(0)"><em></em>Pick Up<i>(To Champlain 178 West Service Road Champlain, NY 12919 )</i></a>
        </div>
        <div class="address">
        	<h3>Address Information</h3>
            <div class="addressEach">
            	<a href="unlogin_address.html"><em></em>Shipping Address</a>
                <div class="addressDetail">
                	<h4>Macle Kloes<span>Phone: 12345678912</span></h4>
                    <p>germany franch litaly brazil china united states and so on. which you can you imagine who can will the final match be the end.,england and hetaler, Arizona.</p>
                </div>
            </div>
            <div class="addressEach">
            	<a href="javascript:void(0)"><em></em>Billing Address</a>
                <div class="addressDetail">
                	<h4>Macle Kloes<span>Phone: 12345678912</span></h4>
                    <p>germany franch litaly brazil china united states and so on. which you can you imagine who can will the final match be the end.,england and hetaler, Arizona.</p>
                </div>
            </div>
        </div>
        <div class="shippingInfo">
        	<h3><a href="Delivery.html"><em></em>Shipping Information</a></h3>
            <p><span>FedEx</span>Shipping Method</p>
            <a href="javascript:void(0)" class="Inside current"><em></em>Delivery Inside</a>
            <p><span>$20.00</span>Shipping Fee</p>
        </div>
        <div class="Discounts">
        	<!--<h3><a href="javascript:void(0)"><em></em>Discount Information</a></h3>-->
            <h3>Discount Information</h3>
            <div class="each clearfix">
            	<span>- $20.00</span>
                <input type="text" value="" class="typeIn" />
                Points Redeemed
            </div>
        </div>
        <div class="orderTotal">
        	<p><span>$600.00</span>Initial</p>
            <p><span class="colorNum">$600.00</span>Final</p>
        </div>
        <a href="order_success.html" class="submitOrderBtn">Submit the order information</a>
    </div>
	<!--提交订单结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
