<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Product List</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--产品分类开始-->
    <div class="proListBox">
    	<div class="proSearch">
        	<input type="text" value="Titanium Dioxide" class="search" />
            <a href="javascript:void(0)" class="searchBtn">search</a>
        </div>
        <div class="list">
        	<div class="listChooseBox">
            	<div class="listChoose clearfix">
                    <a href="javascript:void(0)" class="current">Z-A</a>
                    <a href="javascript:void(0)">Price</a>
                    <a href="javascript:void(0)">Sale</a>
                    <a href="javascript:void(0)" val="Brands">Brands<i></i></a>
                </div>
                <div class="Brands clearfix">
                	<a href="javascript:void(0)" class="current">RUICHEM</a>
                    <a href="javascript:void(0)">BILLIONS</a>
                    <a href="javascript:void(0)">DOGUIDE</a>
                    <a href="javascript:void(0)">BLUESTAR</a>
                    <a href="javascript:void(0)">TIKON</a>
                    <a href="javascript:void(0)">XINFU</a>
                    <a href="javascript:void(0)">PANGANG</a>
                    <a href="javascript:void(0)">JINMAO</a>
                </div>
            </div>
        	<div class="noResult">
            	<span></span>
                <p>Sorry!<br />There is no search result for the term.</p>
                <a href="javascript:void(0)">Go Shopping</a>
            </div>
        </div>
    </div>
	<!--产品分类结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
