<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Refund Application</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--退款退货开始-->
    <div class="refund">
   	  <div class="refundDetail">
      	<div class="detailChoose">
        	<a href="javascript:void(0)" class="current">Result of Refund Application</a>
            <a href="javascript:void(0)">Conversation Record</a>
        </div>
        <div class="detailShow">
        	<div class="refundInfo">
            	<h3>Refund Info</h3>
                <dl class="clearfix">
                	<dt>Refund No.:</dt>
                    <dd>1425264402</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Refund Type:</dt>
                    <dd>Return</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Refund Amount:</dt>
                    <dd>$150.00</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Refund Reason:</dt>
                    <dd>Without Any Reason</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Application Date:</dt>
                    <dd>2014-09-10 18:49:24</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Refund Description:</dt>
                    <dd></dd>
                </dl>
            </div>
            <div class="refundInfo">
            	<h3>Refund Applied</h3>
                <p>Your refund request has been applied successfully.</p>
            </div>
            <div class="refundBtn">
            	<div class="clearfix">
                	<a href="javascript:void(0)" class="yellowBtn flR">Edit Refund Request</a>
                    <a href="javascript:void(0)" class="yellowBtn flL">Cancel Refund Request</a>
                </div>
                <a href="javascript:void(0)" class="grayBtn">Fill in the return of the logistics information</a>
            </div>
        </div>
        <div class="detailShow" style="display:none;">
        	<div class="each">
            	<h4>2014-01-12 18:56<em>From</em><strong>OKCHEM</strong></h4>
                <div class="con">
                	<ul>
                    	<li>Apply refund at 2014-08-27 10:30:25</li>
                        <li>Return Address ：United States of America New York Champlain Zip：12919 Contact Name：xxxx Phone：13333335555</li>
                        <li>Description:</li>
                    </ul>
                </div>
            </div>
            <div class="each">
            	<h4>2014-01-12 18:56<em>From</em><strong>me</strong></h4>
                <div class="con">
                	<ul>
                    	<li>Apply refund at 2014-08-27 10:30:25</li>
                        <li>Return Address ：United States of America New York Champlain Zip：12919 Contact Name：xxxx Phone：13333335555</li>
                        <li>Description:</li>
                    </ul>
                </div>
            </div>
            <div class="each">
            	<h4>2014-01-12 18:56<em>From</em><strong>OKCHEM</strong></h4>
                <div class="con">
                	<ul>
                    	<li>Apply refund at 2014-08-27 10:30:25</li>
                        <li>Return Address ：United States of America New York Champlain Zip：12919 Contact Name：xxxx Phone：13333335555</li>
                        <li>Description:</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
	<!--退款退货结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
