<include file='./Shop/Webapp/View/header.html' />
<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Refund Note</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--退款退货开始-->
    <div class="refund">
   		<div class="RefundNote">
        	<h3>Return</h3>
            <p>1.Orders can be returned with original package and remain unused in 60 days from the payment time. Customers need to be responsible for both sending and returning shipping cost, and a restocking fee worth 25% of the order’s total value.</p>
            <p>2.Orders can be returned if OKchem ships the wrong products that mismatch the order. No cost will be on customer.</p>
            <h3>Refund</h3>
            <p>1.If there is quality issue of the products, items that have been used can be full or partial refunded in 60 days from the payment time. Our customer service will contact you to solve the problem.</p>
            <p>2.If the order has been damaged in transportation process, customers can apply for a full or partial refund in 60 days from the payment time. Our customer service will follow up and file a claim against the carrier.</p>
        </div>
    </div>
	<!--退款退货结束--> 
</div>
<include file="./Shop/Webapp/View/footer.html" /> 