<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Refund Application</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--退款退货开始-->
    <div class="refund">
   	  <div class="refundType">
        	<dl>
           	  <dt>Refund Type *</dt>
              <dd class="RefundChoose">
                	<a href="javascript:void(0)" class="current"><em></em>Return</a>
                    <a href="javascript:void(0)"><em></em>Refund</a>
              </dd>
            </dl>
            <dl>
           	  <dt>Refund Reason *</dt>
              <dd>
                	<select name="select">
                    	<option>Refund Reason 1</option>
                        <option>Refund Reason 2</option>
                        <option>Refund Reason 3</option>
                        <option>Refund Reason 4</option>
                    </select>
              </dd>
            </dl>
            <dl>
            	<dt>Refund Amount * <em>( Max : $44, including shipping fee : $0 )</em></dt>
                <dd>
                	<input type="text" value="" class="typeIn" />
                </dd>
            </dl>
        	<dl>
            	<dt>Refund Number * <em>( Max : 2 )</em></dt>
                <dd>
                	<input type="text" value="" class="typeIn" />
                </dd>
          </dl>
          <dl>
           	  <dt>Description (optional)</dt>
              <dd>
              		<textarea name="textarea" id="textarea"></textarea>
              </dd>
          </dl>
          <a href="Refund_Note.html" class="Learn">Learn about the Refund Note</a>
          <a href="Refund_success.html" class="submitBtn">Submit the Application</a>
          <a href="Refund_fault.html" class="submitBtn">链接到提交失败页面，测试使用实际开发无此按钮</a>
        </div>
    </div>
	<!--退款退货结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
