<include file='./Shop/Webapp/View/header.html' />

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Product Request</span>
            <a href="{:U('ProductsRequest/index')}" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--用户需求开始-->
    <div class="RequestBox">
        <div class="infoBox">
         <form id="request_form" method="post" action="{:U('edit')}"> 
         	<input type="hidden" name="id" value="{:I('id')}" />
        	<div class="show">
            	<dl class="clearfix">
                  <dt>Product Name:</dt>
                  <dd><input name="pro_name" type="text" class="textIn" id="pro_name" value="{$list.pro_name}" /></dd>
                </dl>
                <dl class="clearfix">
                  <dt>Cas Number:</dt>
                  <dd><input name="cas_number" type="text" class="textIn" id="cas_number" value="{$list.cas_number}" /></dd>
                </dl>
                <dl class="clearfix">
                  <dt>Standard:</dt>
                  <dd><input name="standard" type="text" class="textIn" id="standard" value="{$list.standard}" /></dd>
                </dl>
                <dl class="clearfix">
                  <dt>Package:</dt>
                  <dd><input name="package" type="text" class="textIn" id="package" value="{$list.package}" /></dd>
                </dl>
                <dl class="clearfix">
                  <dt>Quantity:</dt>
                  <dd>
                  	<select name="quantity_unit" id="quantity_unit">
                   	  <option value="t" <?php if(trim($list['quantity_unit'])=='t'){ echo 'selected';}?>>t</option>
                        <option value="kg" <?php if(trim($list['quantity_unit'])=='kg'){ echo 'selected';}?>>kg</option>
                        <option value="g" <?php if(trim($list['quantity_unit'])=='g'){ echo 'selected';}?>>g</option>
                  </select>
                  	<input name="quantity" type="text" class="textIn2" id="quantity" value="{$list.quantity}" maxlength="10" />
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt></dt>
                  <dd>
                  	<select name="cycle_unit" id="cycle_unit">
                   	  <option value="week" <?php if(trim($list['cycle_unit'])=='week'){ echo 'selected';}?>>week</option>
                        <option value="month" <?php if(trim($list['cycle_unit'])=='month'){ echo 'selected';}?>>month</option>
                        <option value="day" <?php if(trim($list['cycle_unit'])=='day'){ echo 'selected';}?>>day</option>
                  </select>
                  <input name="cycle" type="text" class="textIn2" id="cycle" value="{$list.cycle}" size="10" />
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt>Expected Price:</dt>
                  <dd><input name="expected_price" type="text" class="textIn" id="expected_price" value="{$list.expected_price}" /></dd>
                </dl>
                <dl class="clearfix">
                  <dt>Other Details:</dt>
                  <dd><textarea name="description" id="OtherDetails" cols="45" rows="5">{$list.description} </textarea></dd>
                </dl>
                <a href="javascript:void(0)" class="Submit">Preserve</a>
            </div>
            </form>
        </div>
    </div>
	<!--用户需求结束--> 
    <script>
    	$(function(){
			$('#request_form .Submit').click(function(){
				$('#request_form').submit();	
			}); 
			
			$('#request_form').validate({
				rules : {  
					pro_name : {
						required : true, 
					},
					cas_number : {
						required : true
					},
					standard : {
						required : true
					},
					package : {
						required : true
					},  
					quantity : {
						required : true, 
						number:true,
					}, 
					quantity_unit : {
						required : true
					},
					cycle : {
						required : true,
						number:true,
					},
					cycle_unit : {
						required : true
					},
					expected_price : {
						required : true,
						number:true,
					},
					company_name : {
						required : true, 
					},  
				},
				messages : {  
					cycle_unit : {
						required : '<i></i>cycle_unit is required.', 
					},
					pro_name : {
						required : '<i></i>product name is required.'
					},
					cas_number : {
						required : '<i></i>cas_number is required.'
					} 					
				},
				focusCleanup:true,
				focusInvalid: false,
				onkeyup : false,
				onfocusout : false,
				success: 'dd',
				errorElement : 'span',
				errorClass : 'InfoError',
				validClass: 'InfoTrue',
				
			});
		});
    </script>
</div>
<include file='./Shop/Webapp/View/footer.html' />