<include file='./Shop/Webapp/View/header.html' />

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Reward Points</span>
            <a href="{:U('Member/index')}" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--会员中心设置开始-->
    <div class="myAccountIndex">
    	<div class="allSettings">
        	<a href="{:U('available_points')}"><i></i>Available Points<span></span></a>	
            <a href="{:U('points_history')}"><i></i>Points History<span></span></a>	
        </div>
    </div>
	<!--会员中心设置结束--> 
    
</div>
<include file='./Shop/Webapp/View/footer.html' />

