<include file='./Shop/Webapp/View/header.html' />

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Technology Center</span>
            <a href="{:U('Index/index')}" class="back">back</a>
        </div>	
<include file='./Shop/Webapp/View/menu.html' />
    </div>
    <!--导航结束-->
    
    <!--下载中心开始-->
    <div class="downloadCenter">
    	<div class="downLoadChoose">
        	<a href="{:U('DownloadCenter/index')}">MSDS</a>
            <a href="{:U('DownloadCenter/COA')}" class="current">COA</a>
        </div>	
        <div class="MCsearch">
        	<div class="Search">
            	<form id="search_frm" method="get">
                <input type="text" name="goods_name" value="{:I('goods_name')}" placeholder='RC-708' class="search" />
                <a href="javascript:void(0)" class="searchBtn">search</a>
                </form>
            </div>
            <p>iPhone supports reading online but do not support download, Android supports download but do not support reading online!</p>
        </div>
        <div class="MClist">
          <volist name='list' id='vo'>
        	<div class="each clearfix">
            	<a href="/{$vo.file}" class="name">{$vo.goods_name}</a>
                <a href="/{$vo.file}" class="read"><span>Read/Download</span></a>
            </div> 
          </volist>   
        </div>
    </div>
	<!--下载中心结束--> 
    <script>
    	$(function(){
			$('.Search .searchBtn').click(function(){
				$('.Search #search_frm').submit();	
			});
		});
    </script>
</div>
<include file='./Shop/Webapp/View/footer.html' />