<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Track Order</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--订单列表开始-->
    <div class="order">
		<div class="orderDetail">
        	<div class="orderInfo">
            	<h3>Travel History</h3>
                <p class="track">Information From <strong>FedEx</strong></p>
                <p class="track">Tracking Number: 012906379069646</p>
                <p class="track">Type of Delivery: Fedex Freight Economy</p>
                <p class="track">2014-08-26T12:17:25-04:00<em>Delivered</em></p>
                <p class="track">2014-08-26T04:01:00-04:00<em>On FedEx vehicle for delivery</em></p>
                <p class="track">2014-08-26T03:28:00-04:00<em>At local FedEx facility</em></p>
                <p class="track">2014-08-25T14:23:00-04:00<em>Arrived at FedEx location</em></p>
            </div>
            <div class="orderInfo">
            	<h3>Recipient Information</h3>
                <dl class="clearfix">
                	<dt>Recipient Name:</dt>
                    <dd>Petter</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Shipping Address:</dt>
                    <dd>10990 Roe Avenue, Overland Park, KS22611 10990 Roe Avenue, Overland Park, KS22611 10990 Roe Avenue, Overland Park, KS22611 10990 Roe Avenue, Overland Park, KS22611</dd>
                </dl>
                <dl class="clearfix">
                	<dt>Phone:</dt>
                    <dd>4564564654456</dd>
                </dl>
            </div>
		</div>
    </div>
	<!--订单列表结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
