<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>OKchem</title>
<link rel="apple-touch-icon-precomposed" href="images/3.png" />
<link rel="stylesheet" type="text/css" href="css/okchemwebAPP.css" />
</head>


<body>

<div class="appContent">
	
    <!--导航开始-->
    <div class="appNav">
    	<div id="navContent">
        	<a href="javascript:void(0)" class="subNav" val="0">subNav</a>
            <span>Write a Review</span>
            <a href="javascript:void(0)" class="back">back</a>
        </div>	
        <div class="subNavBox">
        	<div class="navList clearfix">
            	<a href="index.html"><span class="Home"></span>Home</a>
                <a href="Product_Category.html"><span class="Product"></span>Product</a>
                <a href="cart.html"><span class="Cart"></span>Cart</a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    
    <!--用户评价列表开始-->
    <div class="reviews">
    	<div class="WriteReviewBox">
        	<div class="writeEach">
            	<div class="proImages">
                    <img src="images/show/pic_4.jpg" width="300" />
                    <p>Titanium Dioxide Rutile, RC-708</p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="textarea" id="textarea"></textarea></dd>
                </dl>
            </div>
            <div class="writeEach">
            	<div class="proImages">
                    <img src="images/show/pic_4.jpg" width="300" />
                    <p>Titanium Dioxide Rutile, RC-708</p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="textarea" id="textarea"></textarea></dd>
                </dl>
            </div>
            <div class="writeEach">
            	<div class="proImages">
                    <img src="images/show/pic_4.jpg" width="300" />
                    <p>Titanium Dioxide Rutile, RC-708</p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="textarea" id="textarea"></textarea></dd>
                </dl>
            </div>
            <div class="writeEach">
            	<div class="proImages">
                    <img src="images/show/pic_4.jpg" width="300" />
                    <p>Titanium Dioxide Rutile, RC-708</p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="textarea" id="textarea"></textarea></dd>
                </dl>
            </div>
            <div class="writeEach">
            	<div class="proImages">
                    <img src="images/show/pic_4.jpg" width="300" />
                    <p>Titanium Dioxide Rutile, RC-708</p>
                </div>
                <div id="star">
                    <a href="javascript:void(0)"><span>1 star</span></a>
                    <a href="javascript:void(0)"><span>2 star</span></a>
                    <a href="javascript:void(0)"><span>3 star</span></a>
                    <a href="javascript:void(0)"><span>4 star</span></a>
                    <a href="javascript:void(0)"><span>5 star</span></a>
                </div>
                <dl class="clearfix">
                    <dt>Review Content:</dt>
                    <dd><textarea name="textarea" id="textarea"></textarea></dd>
                </dl>
            </div>
            <a href="javascript:void(0)" class="Submit">Submit</a>
        </div>
    </div>
	<!--用户评价列表结束-->
    
    <div class="footer">
    	<div class="loginBox">
        	<a href="javascript:void(0)" class="backToTop">Return To Top</a>
            <a href="javascript:void(0)" class="login">Login</a><em>|</em>
            <a href="javascript:void(0)" class="Register">Register</a>
        </div>
        <div class="footerInfo">
        	<a href="javascript:void(0)" class="liveChat">Live Chat</a>
            <span class="pc">For Computer<i></i></span>
            <p>&copy;m.okchem.com</p>
        </div>
    </div>
    
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>
