<!DOCTYPE html>
<html class="um landscape">
<head>
<title>日本女优目录 | {$Think.get.cate_id|getNameById='cate_name','albumcate','cate_id',###} GRAPHIS官方网站 - 日本女优专辑介绍</title> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
<link rel="stylesheet" href="/Public/home/files/ui-base.css">
<link rel="stylesheet" href="/Public/home/files/ui-color.css">
<link rel="stylesheet" href="/Public/home/files/ui-icon.css">
<link rel="stylesheet" href="/Public/home/files/ui-control.css">
<link rel="stylesheet" href="/Public/home/files/main.css">
<style>
	table dl dt,dd{float:left; width:150px; overflow:hidden; border:1px solid #ccc;}
	table a:link{color:#999;}
	table a:visited{color:#333;}
</style>
<script src="/Public/home/files/jquery.js"></script> 
<script src="/Public/home/files/main.js"></script>
<meta name="keywords" content="{:C('site_keywords')} {$album.title}"> 
<meta name="description" content="{$album.title} {:C('site_description')},日本女优目录和日本女优专辑介绍">
<script src="/Public/home/files/jquery.js"></script><script src="/Public/home/files/main.js"></script><script src="/Public/home/files/tool.js"></script><script src="/Public/home/files/login.js"></script><script src="/Public/home/files/register.js"></script><script type="text/javascript">
$(function(){
	if ("ab" == ""){
		$("#not_login").show();
	}
	else{
		$("#have_login").show();
	}
	if ("false" == "true"){
		$("#jinbi").show();
	}
	else{
		$("#jinbi").hide();
	}
	
})
</script>
 
<style type="text/css"> 
	a{ color:#333;}
	a:hover{ color:#000; font-weight:bold;}
	a.a_regsiter,a.a_login{color:#fff;} 
/*翻页*/
.page { float:right; margin:6px 15px 0; vertical-align:middle;} 
.num,a.num {border:1px solid #ccc; line-height:20px; margin:0 3px; padding:3px 8px; color:#666;}
.page span.current{
	margin:0 3px;
 	padding:3px 8px;position:inherit;
  	 
 	color:#eee;
 	font-weight:bold;
 } 
.page #gotoPage{text-align:center;border:1px solid #ccc; height:30px;}
.page input[value='Go']{border:1px solid #aaa; color:#999; height:32px!important; margin-left:2px; padding:0 2px !important;}
.current,a.current{ color:red !important; border:1px solid #ccc;} 
</style>  
<!--[if IE 8]>
<style>
.hd_l{ position:absolute;left:50%; margin-left:-600px;}
.hd_l1{margin-left:520px;;left:50%; }
</style>
<![endif]--> 
</head>
<body class="um-vp bc-bg">
<include file="./Shop/Home/View/index/header.html" /> 
<div class="sc-bg2 uwidth fixed" style="display:none;" id="jinbi">
  <div class="uc-a3   lg_width left top modal jinbie" style="margin-left: -165px;"> <img src="/Public/home/files/jinbi.png">
    <p class="toop">签到成功</p>
    <p class="toop-b">每天签到可获得<em>5</em>麻豆</p>
    <div class="uinn0">
      <input value="知道咯" class="btn" type="button">
    </div>
  </div>
</div> 
<!--登录、注册-->

<div class="sc-bg2 uwidth fixed" id="login" style="display: none;">
  <div class="uc-a3 sc-bg uinn0 lg_width left top modal" style="margin-left: -165px;">
    <div class="">
      <div class="ufl ulev2">GRAPHIS欢迎您</div>
      <div class="ufr">
        <div class="sc-bg3 sc-white cl_width uc-br2 tx-c closed">×</div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="uinn7">
      <div class="tx-c">
        <div class="img_width uc-br2 bc-border-d sc-bg3"><img src="/Public/home/files/pic.png" class="uc-br2" height="98" width="98"></div>
      </div>
      <div class="bc-border-f umar-tc">
        <div class="ufl icon_width bc-border-e"><i class="icon icon_login"></i></div>
        <input id="name" name="name" placeholder="请输入邮箱或手机号" class="ufl uinn3" style="width: 80%;" type="text">
        <div style="clear:both;"></div>
      </div>
      <div class="bc-border-f umar-tc">
        <div class="ufl icon_width bc-border-e"><i class="icon icon_pwd1"></i></div>
        <input id="password" name="password" placeholder="请输入密码" class="ufl uinn3" style="width: 80%;" type="password">
        <div style="clear:both;"></div>
      </div>
      <div class="ulev0 sc-text-d umar5" id="result"></div>
      <div class="ulev0 umar-t">
        <label class="ufl">
          <input class="chk_width ver-mid" id="auto_login" type="checkbox">
          <span class="ver-mid umar-lb">下次自动登录</span></label>
        <div class="ufr"><a class="sc-text-e"></a></div>
        <div style="clear: both;"></div>
      </div>
      <div class="umar-ta uinn8">
        <input class="sc-bg1 sc-white uc-a2 uwidth line5 ulev1 btn_login" id="login_submit" value="登录" name="event_submit_do_login" type="button">
      </div>
      <div class="ulev0 umar-ta umar-ba">使用合作账号登录或 <a class="sc-text-e" id="login_to_register">注册账号</a></div>
      <div class="uwidth ulev0 uinn-ele8 lg-way umar-ba"> <a href="/json/ouathLogin/weixinLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-weixin"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/sinaLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-weibo"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/renrenLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-ren"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/tencentLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-QQ"></dt>
        </dl>
        </a> </div>
    </div>
  </div>
</div>
<div class="sc-bg2 uwidth fixed" id="register" style="display: none;">
  <div class="uc-a3 sc-bg uinn0 lg_width left top modal" style="margin-left: -165px;">
    <div class="">
      <div class="ufl ulev2">GRAPHIS欢迎您</div>
      <div class="ufr">
        <div class="sc-bg3 sc-white cl_width uc-br2 tx-c closed">×</div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="uinn6 ulev0">
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>账号：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="zh" placeholder="请输入邮箱或手机号" class="uinn3 bc-border-f uwidth" type="text">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="zh_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>昵称：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="nc" placeholder="请输入昵称" class="uinn3 bc-border-f uwidth" type="text">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="nc_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>密码：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="pwd" placeholder="6-20位字母、数字结合" class="uinn3 bc-border-f uwidth" type="password">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="pwd_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>确认密码：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="confirmPwd" placeholder="6-20位字母、数字结合" class="uinn3 bc-border-f uwidth" type="password">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="confirmPwd_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>验证码：</div>
        <div class="ufl">
          <input id="yzm" placeholder="请输入验证码" class="uinn3 bc-border-f" style="width: 108px;" type="text">
          <div class="ulev0 sc-text-d umar-tg" id="yzm_check"></div>
        </div>
        <img id="CreateCheckCode" src="/Public/home/files/verify.jpg" class="ufl umar-lb" onclick="javascript:refresh();" height="34" width="98"> <a href="javascript:refresh();" tabindex="-1">换一张</a>
        <div style="clear:both;"></div>
      </div>
      <div class="ulev0 sc-text-d umar-tg" id="register_reslut"></div>
      <div class="umar-ta uinn8">
        <button class="sc-bg1 sc-white uc-a2 uwidth line5 ulev1 btn_login" id="register_submit">同意协议并注册</button>
      </div>
    </div>
  </div>
</div>

<div id="page_0" class="up ub ub-ver bc-bg">   
  <!--content开始-->
  <div id="content" class="ub-f1 umar-bd">
    <div class="umw1 umar-ba clearfix" style="padding-top:20px;">
      <div class="ufl">
        <div class="cont_left">
          <div data-am-widget="titlebar" class="am-titlebar umar-c am-titlebar-one WIDGET-55897986fa8af984057640e2 titlebar-home-magazine am-no-layout">
            <h2 class="am-titlebar-title ulev3"> <strong>所有专辑 /</strong> <span class="sc-view-b">ALL</span> </h2>
          </div>
          <div>
          		       	<table width="100%" border="0">
          <tr>
            <td width="89" height="57" align="right">专辑类别:</td>
            <td width="921"> <volist name="albumcate" id="v">
                        &nbsp; <a style="font-weight:bold;" href="{:U('album/index',array('cate_id'=>$v['cate_id']))}">{$v.cate_name}</a> &nbsp;<font size="-2" style="padding:3px; line-height:25px;">|</font> <if condition="$key eq '7'"><br></if>
                    </volist> 
              </td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp; 
            排序：<a href="{:U('album/index',$param)}">按日期<?php if($orderdate=='asc'){ echo '↑';}else{ echo '↓';}?></a> &nbsp;<a href="{:U('album/index',$param)}">按人气<?php if($orderhot=='asc'){ echo '↑';}else{ echo '↓';}?></a></td>
          </tr>
        </table>

          </div>
          <ul class="umar-e list1">
          	<volist name="album_list" id="vo">
            <?php if($key % 4 ==0){ echo '          </ul><ul class="umar-e list1">';} ?>
            <li class="bx-shadow sc-bg" onclick="//javascript:window.open('/album/reward/id/{$vo.id}.html')"><!--/album/detail/id/{$vo.id}-->
              <div class="ufl list_left view view-first" style="text-align:left;"><img src="{$vo.photo|getThumb='180x240'}" alt="{$vo.models_title}" height="240" width="180">
                <div class="mask">
                  <div class="uinn15">
                    <div class="view-top"> 
                      <div class="sc-view">{$vo.title}</div>
                      <p class="ulev0 umar-tc"><span>模特：</span><span class="sc-view-b"><a target="_blank" href="{$random_url}/album/reward/id/{$vo.id}.html">{$vo.models_title}</a></span></p>
                      <p class="ulev0"><span>时间：</span><span class="sc-view-b">{$vo.pubdate}</span></p>
                      <p class="ulev0  umar-bc"><span>阅读量：</span><span class="sc-view-b">{$vo.view_num}人阅读</span></p>
                      <div class="sc-text-b ulev0"><span class="line detail">{$vo.labels}...</span>&nbsp;&nbsp;<a target="_blank" href="{$random_url}/album/reward/id/{$vo.id}.html" class="sc-view-b">[{$vo.models_title}简介]</a></div>
                    </div>
                  </div>
                </div>
              </div>
              	<div class="ufr sc-text-b ulev0" style=" height:30px; padding-top:7px;"><a style="color:#666;" target="_blank" href="{$random_url}{:U('album/reward',array('id'=>$vo['id']))}">{$vo.cate_id|getNameById="cate_name","albumcate","cate_id",###}&nbsp;|&nbsp;{$vo.models_title}</a></div>
                <div style="clear:both"></div>
            </li>
            </volist> 
          </ul>  
        </div>
        <!--page--> 
        <div class="page">{$page}</div>
      </div>
      <!--每周之星开始
      < incl ude file="./Shop/Home/View/index/right.html" /> --> 
      
      <div style="clear: both"></div>
    </div>
    
    <!--content结束--> 
  </div>
</div> 
  <include file="./Shop/Home/View/index/footer.html" />
  
</body>
</html> 