<div id="footer" class="sc-text-c ulev0 ">
    <div class="sc-ft-bg">
      <div class="umw1">
        <div class="uinn5">
          <div class="ufl bc-border-r uinn1"><img src="/Public/files/graphis_logo.png" style="max-height:120px;margin-top:6px;"></div>
          <div class="ufl umar-la footer-right umar-t">
            <div class="footer_nav uinn4 bc-border-b">
              <ul>
                <li class="ufl tx-c"><a href="{:C('site_url')}/index/singlepage/id/1.html" class="sc-text-b">关于GRAPHIS</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/index/singlepage/id/2.html" class="sc-text-b">联络我们</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/index/singlepage/id/3.html" class="sc-text-b">VIP说明</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}" class="sc-text-b">日本graphis官网</a></li>
                <div style="clear: both;"></div>
                
              </ul> 
            </div>
            <div class="footer_nav uinn4" style="padding-top:10px; line-height:2;">
              <ul>
                <li class="ufl tx-c"><a href="{:C('site_url')}" class="sc-text-b">GRAPHIS美女图片</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}" class="sc-text-b">graphis日本女优官网</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}" class="sc-text-b">GRAPHIS性感写真</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}" class="sc-text-b">AV女优写真照片集合</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/24.html" class="sc-text-b">晶爱丽(晶エリー)</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/26.html" class="sc-text-b">小早川怜子资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/25.html" class="sc-text-b">横山美雪资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/23.html" class="sc-text-b">葵司(葵つかさ)资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/20.html" class="sc-text-b">神波多一花资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/18.html" class="sc-text-b">三上悠亚(三上悠亜)</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/32.html" class="sc-text-b">浜崎真绪资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/15.html" class="sc-text-b">波多野结衣资料介绍</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/39.html" class="sc-text-b">小泽玛利亚(小澤マリア)</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/45.html" class="sc-text-b">瑠川丽娜(瑠川リナ)</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/16.html" class="sc-text-b">高桥圣子(高橋しょう子)</a></li>
                <li class="ufl tx-c"><a href="{:C('site_url')}/models/albumlist/id/41.html" class="sc-text-b">椎名空(椎名そら)</a></li>
                <div style="clear: both;"></div> 
              </ul>
             </div>
          </div>
          <div style="clear: both"></div>
          
        </div>
      </div>
    </div>
    <div class="sc-ft-bg1 tx-c  uwidth uinn">Copyright © Graphis.club  2010-<?php echo date('Y');?>. 
	<script src="https://s4.cnzz.com/z_stat.php?id=1257918760&web_id=1257918760" language="JavaScript"></script></div>
  </div>
 <style>.sc-ft-bg1 a,.sc-ft-bg1 a:link,.sc-ft-bg1 visited{ color:#cdcdcd;} td>a.current{border:0px;}</style>