<!DOCTYPE html>
<html >
<head>
<title>GRAPHIS官方网站 - 打赏码</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/Public/home/files/ui-base.css">
<link rel="stylesheet" href="/Public/home/files/ui-color.css">
<link rel="stylesheet" href="/Public/home/files/main.css">
<script src="/Public/home/files/jquery.js"></script>
<script src="/Public/home/files/main.js"></script>
<script src="/Public/home/files/tool.js"></script>
<script src="/Public/home/files/login.js"></script>
<script src="/Public/home/files/register.js"></script>
<script type="text/javascript">
$(function(){
	if ("ab" == ""){
		$("#not_login").show();
	}
	else{
		$("#have_login").show();
	}
	if ("false" == "true"){
		$("#jinbi").show();
	}
	else{
		$("#jinbi").hide();
	}
	
})
</script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script src="__PUBLIC__/js/jquery.validate.js"></script>
<script> 
$(function() { 
	$('.code-submit').click(function(){
		$('#main_form').submit();
	});
	//注册表单验证
	$('#main_form').validate({
		rules : {
			code : {
				required : true
			},   
		},
		messages : {
			code : {
				required : '请输入口令码.', //function(){ layer.alert('请输入用户名.');},
			},  
		},
		/* Ajax提交注册*/
		submitHandler: function(form){ //回调函数参数：form 
			$("#main_form #show_msg").html('<img src="/Public/home/images/loading.gif" style="vertical-align:middle;" /> Creating...').show();
			$.post('/member/code.html',{
						code: function(){
								return $('#main_form input[name="code"]').val();
							}, 	   
				},function(data){  
					if(data.status=='0'){
						layer.alert(data.info); 
						$('#user_name').focus();
						$("#login_form #show_msg").html(data.info);
						return;
					}else{
						$("#login_form #show_msg").html('OK.'); 
						layer.confirm(data.info,{btn:['返回我的专辑','继续添加口令码']},function(){
							self.location= '/myalbum/index.html';
						},function(){ 
							//$('input[name="code"]').val('');
							self.location=data.url;		
						});  
					}  
				},'json');
			//form.submit(); //提交表单
		},
		/*
		errorPlacement: function(error, element) {  
			if(element.attr('name') == 'is_agree'){
				element.next().next().after(error);
			}else{
				error.appendTo(element.parent()); 
			}
		},*/
		focusInvalid: true, //当为false时，验证无效时，没有焦点响应  
		onkeyup: false,   
		//success: 'InfoTrue',
		//errorElement : 'span',
		//errorClass : 'InfoError',
		//validClass : 'InfoTrue'
		
	});	 
}); 
</script>
<style type="text/css">
.touxiang .tx_pic {
	border-radius:2px;
	width:50px;
	height:50px;
	background:url(/Public/home/images/uppic.png);
	background-size:100% 100%;
	float:right;
	margin-right:10px;
}
.touxiang .tx_pic input {
	width:50px;
	height:50px;
}
input[type='text'] {
	border:1px solid #ccc !important;
}
.error {
	color:#f00;
}
</style>

<!--[if IE 8]>
<style>
.hd_l{ position:absolute;left:50%; margin-left:-600px;}
.hd_l1{margin-left:520px;;left:50%; }
</style>
<![endif]-->

</head>
<body class="um-vp bc-bg">
<include file="./Shop/Home/View/index/header.html" />
<div class="sc-bg2 uwidth fixed" style="display:none;" id="jinbi">
  <div class="uc-a3   lg_width left top modal jinbie" style="margin-left: -165px;"> <img src="/Public/home/files/jinbi.png">
    <p class="toop">签到成功</p>
    <p class="toop-b">每天签到可获得<em>5</em>麻豆</p>
    <div class="uinn0">
      <input value="知道咯" class="btn" type="button">
    </div>
  </div>
</div>

<!--登录、注册-->

<div class="sc-bg2 uwidth fixed" id="login" style="display: none;">
  <div class="uc-a3 sc-bg uinn0 lg_width left top modal" style="margin-left: -165px;">
    <div class="">
      <div class="ufl ulev2">GRAPHIS欢迎您</div>
      <div class="ufr">
        <div class="sc-bg3 sc-white cl_width uc-br2 tx-c closed">×</div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="uinn7">
      <div class="tx-c">
        <div class="img_width uc-br2 bc-border-d sc-bg3"><img src="/Public/home/files/pic.png" class="uc-br2" height="98" width="98"></div>
      </div>
      <div class="bc-border-f umar-tc">
        <div class="ufl icon_width bc-border-e"><i class="icon icon_login"></i></div>
        <input id="name" name="name" placeholder="请输入邮箱或手机号" class="ufl uinn3" style="width: 80%;" type="text">
        <div style="clear:both;"></div>
      </div>
      <div class="bc-border-f umar-tc">
        <div class="ufl icon_width bc-border-e"><i class="icon icon_pwd1"></i></div>
        <input id="password" name="password" placeholder="请输入密码" class="ufl uinn3" style="width: 80%;" type="password">
        <div style="clear:both;"></div>
      </div>
      <div class="ulev0 sc-text-d umar5" id="result"></div>
      <div class="ulev0 umar-t">
        <label class="ufl">
          <input class="chk_width ver-mid" id="auto_login" type="checkbox">
          <span class="ver-mid umar-lb">下次自动登录</span></label>
        <div class="ufr"><a class="sc-text-e"></a></div>
        <div style="clear: both;"></div>
      </div>
      <div class="umar-ta uinn8">
        <input class="sc-bg1 sc-white uc-a2 uwidth line5 ulev1 btn_login" id="login_submit" value="登录" name="event_submit_do_login" type="button">
      </div>
      <div class="ulev0 umar-ta umar-ba">使用合作账号登录或 <a class="sc-text-e" id="login_to_register">注册账号</a></div>
      <div class="uwidth ulev0 uinn-ele8 lg-way umar-ba"> <a href="/json/ouathLogin/weixinLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-weixin"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/sinaLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-weibo"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/renrenLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-ren"></dt>
        </dl>
        </a> <a href="/json/ouathLogin/tencentLogin.json">
        <dl class="ufl tx-c">
          <dt class="icon icon-QQ"></dt>
        </dl>
        </a> </div>
    </div>
  </div>
</div>
<div class="sc-bg2 uwidth fixed" id="register" style="display: none;">
  <div class="uc-a3 sc-bg uinn0 lg_width left top modal" style="margin-left: -165px;">
    <div class="">
      <div class="ufl ulev2">GRAPHIS欢迎您</div>
      <div class="ufr">
        <div class="sc-bg3 sc-white cl_width uc-br2 tx-c closed">×</div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="uinn6 ulev0">
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>账号：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="zh" placeholder="请输入邮箱或手机号" class="uinn3 bc-border-f uwidth" type="text">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="zh_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>昵称：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="nc" placeholder="请输入昵称" class="uinn3 bc-border-f uwidth" type="text">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="nc_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>密码：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="pwd" placeholder="6-20位字母、数字结合" class="uinn3 bc-border-f uwidth" type="password">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="pwd_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>确认密码：</div>
        <div class="umar4">
          <div class="ufl uwidth">
            <input id="confirmPwd" placeholder="6-20位字母、数字结合" class="uinn3 bc-border-f uwidth" type="password">
          </div>
          <div style="clear:both;"></div>
          <div class="ulev0 sc-text-d umar-tg" id="confirmPwd_check"></div>
        </div>
      </div>
      <div class="umar-tc">
        <div class="ufl lab_width tx-r"><span class="sc-text-d ulev1">*&nbsp;</span>验证码：</div>
        <div class="ufl">
          <input id="yzm" placeholder="请输入验证码" class="uinn3 bc-border-f" style="width: 108px;" type="text">
          <div class="ulev0 sc-text-d umar-tg" id="yzm_check"></div>
        </div>
        <img id="CreateCheckCode" src="/Public/home/files/verify.jpg" class="ufl umar-lb" onclick="javascript:refresh();" height="34" width="98"> <a href="javascript:refresh();" tabindex="-1">换一张</a>
        <div style="clear:both;"></div>
      </div>
      <div class="ulev0 sc-text-d umar-tg" id="register_reslut"></div>
      <div class="umar-ta uinn8">
        <button class="sc-bg1 sc-white uc-a2 uwidth line5 ulev1 btn_login" id="register_submit">同意协议并注册</button>
      </div>
    </div>
  </div>
</div>
<div id="page_0" class="up ub ub-ver bc-bg"> 
  <!--header开始--> 
  
  <!--header结束--> 
  <!--content开始-->
  <div id="content" class="ub-f1 umar-bd">
    <div class="umw1 umar-tc umar-bc">
      <div class="tab uwidth"> <include file="./Shop/Home/View/index/member.left.html" />
        <div class="sc-bg ufl tab_cont subRight_menu1 umar-lc uinn9 uinn-r uinn-l"> 
          
          <!--我的关注-->
          <div class="ul_list">
            <div data-am-widget="titlebar" class="am-titlebar  umar-t am-titlebar-one WIDGET-55897986fa8af984057640e2 titlebar-home-magazine am-no-layout">
              <h2 class="am-titlebar-title ulev3"> <strong>口令码/ </strong> <span class="sc-text-b">CODE</span> </h2>
            </div>
            <div class="uinn14">
              <div class="join-box main-box" style="min-height:250px;">
                <p> </p>
                <div class="form-box" style="text-align:center; line-height:3;">
                  <form id="main_form" action="#" method="post" novalidate="novalidate">
                    <ul>
                      <li class="sc-text-b" style="font-weight:bold; font-size:14px;">16位口令码</li>
                      <li>
                        <input name="code" value="" maxlength="16" style="font-size:3rem; width:98%; border-radius:5px; text-align:center;" type="text">
                      </li>
                      <li class="sc-text-b">(输入口令码找回你打赏过的专辑，永久免费观看。)</li>
                    </ul>
                    <div>
                      <input name="FS" value="确认提交" class="code-submit" style="font-size:16px; border:1px solid #ccc; border-radius:6px; padding:5px 15px;" type="button">
                    </div>
                  </form>
                </div>
                <!--/.form-box-->
                
                <div class="pre-note none"> <br>
                </div>
              </div>
              <div style="line-height:3; width:99.5%; margin-bottom:25px; border-bottom:1px dotted #ccc;" >我打赏过的专辑 <div style="position:absolute;text-align:right; width:100px; right:8px; display:inline-block;"><a href="/myalbum/index.html">更多>></a></div></div>
              <ul class="model_list">
                <volist name="list" id="vo">
                <a href="/album/reward/id/{$vo.id}.html" target="_blank">
                  <li class="bx-shadow sc-bg ufl umar-bc">
                    <div><img src="{$vo.photo|getThumb='360x480'}" class="uwidth" height="240"></div>
                    <div class="umar1">
                      <div>{$vo.title}</div>
                      <div class="ulev0 umar-t  sc-text-b">打赏金额:{$vo.reward_fee|format_price}</div>
                    </div>
                  </li></a>
                </volist>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  
  <!--content结束--> 
</div>
<include file="./Shop/Home/View/index/footer.html" />
</body>
</html>
<!--弹出广告end-->