<!DOCTYPE html>
<html class="um landscape">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="/Public/home/files/jquery.js"></script><script src="/Public/home/files/main.js"></script><script src="/Public/home/files/tool.js"></script><script src="/Public/home/files/login.js"></script><script src="/Public/home/files/register.js"></script><script type="text/javascript">
$(function(){
	if ("" == ""){
		$("#not_login").show();
	}
	else{
		$("#have_login").show();
	}
	if ("" == "true"){
		$("#jinbi").show();
	}
	else{
		$("#jinbi").hide();
	}
	
})
</script>
</head>

<!--[if IE 8]>
<style>
.hd_l{ position:absolute;left:50%; margin-left:-600px;}
.hd_l1{margin-left:520px;;left:50%; }
</style>
<![endif]-->

<title></title>
<meta charset="utf-8">
<link rel="stylesheet" href="/Public/home/files/ui-base.css">
<link rel="stylesheet" href="/Public/home/files/ui-color.css">
<link rel="stylesheet" href="/Public/home/files/ui-icon.css">
<link rel="stylesheet" href="/Public/home/files/ui-control.css">
<link rel="stylesheet" href="/Public/home/files/main.css">


<body class="um-vp bc-bg">
<include file="./Shop/Home/View/index/header.html" /> 

<div id="page_0" class="up ub ub-ver bc-bg"> 
  
  <!--content开始-->
  <div id="content" class="ub-f1 umar-bd">
    <div class="umw1 umar-ta umar-ba sc-bg">
      <div class="bc-border-c uinn6">
        <div class="tx-c"><!--<img src="css/icons/u7.png">--></div>
        <div class="sc-text-d ulev2 tx-c uinn4"><b>GRAPHIS麻豆兑换规则</b></div>
      </div>
      <div class="umar-tb uinn2">
        <div class="line2 umar-d">GRAPHIS麻豆兑换规则</div>
        <div class="ulev0">
          <div class="line2">10麻豆/1元RMB，每日登录可获赠5麻豆;</div>
          <div class="line2">评论1次或者粉模特每次可获得1麻豆，每日上限10麻豆；</div>
          <div class="line2">GRAPHIS麻豆只能是单向由RMB兑换麻豆，而不能用麻豆兑换RMB；</div>
          <div class="line2">该规则的最终解释权在法律规定的范围内归本公司所有。</div>
          <div class="line2"></div>
        </div>
      </div>
      <div class="umw1 umar-ta umar-ba sc-bg">
        <div class="bc-border-c uinn6">
          <div class="tx-c"><!--<img src="css/icons/u7.png">--></div>
          <div class="sc-text-d ulev2 tx-c uinn4"><b>VIP会员订阅</b></div>
        </div>
        <div class="umar-tb uinn2">
          <div class="line2 umar-d">黄金VIP 399元/半年</div>
          <div class="ulev0">
            <div class="line2">每期图集25张JPEG格式高清大图，每周6期图集（法定节假日除外）；</div>
            <div class="line2">半年内总共可下载144个图集和25个视频(包括往期图集和视频)，如果超出额度，需另外付费下载；</div>
            <div class="line2">精彩视频（拍摄花絮、剪辑版拍精华摄精选）；</div>
            <div class="line2">不定期参与GRAPHIS签约模特线上聊天活动；</div>
            <div class="line2">不定期获得GRAPHIS特殊纪念品；</div>
          </div>
        </div>
        <div class="umar-tb uinn2">
          <div class="line2 umar-d">白金VIP 699元/一年</div>
          <div class="ulev0">
            <div class="line2">每期图集25张JPEG格式高清大图，每周6期图集（法定节假日除外）；</div>
            <div class="line2">1年内总共可下载288个图集和全年发布视频(包括往期图集和视频)，如果超出额度，需另外付费下载；</div>
            <div class="line2">精彩视频（拍摄花絮、剪辑版拍精华摄精选）以及不定期发布的不对外销售特刊；</div>
            <div class="line2">不定期参与GRAPHIS签约模特线上聊天活动；</div>
            <div class="line2">不定期获得GRAPHIS特殊纪念品；</div>
            <div class="line2">不定期参加GRAPHIS抽奖活动；</div>
          </div>
          <div class="umar-ta" style="margin-bottom:20px;"> <a href="/recharge">
            <button class="bc-border-d sc-bg tx-c btn-size uc-a2 btn-active ulev1">会员订阅</button>
            </a> </div>
        </div>
      </div>
    </div>
    <!--content结束--> 
    
  </div>
  <include file="./Shop/Home/View/index/footer.html" />
</div>
<div id="ads"></div>
</body>
</html>
<!--弹出广告end-->