@charset "utf-8";
/* CSS Document */


#content-model,
#content-item,
#content-ppv {
	max-width: 1200px;
	margin: 0 auto 48px;
	padding-top: 120px;
	
	}

.model-box {
	padding: 32px;
	
	}


/*修正部分*/
.model-box2 {
	text-align: center;
	margin-bottom: 24px;
	} 

.model-box h4 {
	background-color: #000000;
	color: #eeeeee;
	padding: 8px;
	font-size: 24px;
	font-weight: normal;
	}

.model-info-box,
.fs02 {
	padding: 8px 16px;
	text-align: left;
	display: flex;
	}

.fs02{
	margin-bottom: 24px;
	}

.model-info-box3 {
	padding: 8px 16px;
	text-align: left;
	}

.model-info-box >li,
.model-info-box3 >li {
	margin-bottom: 16px;
	}

.model-info-box >li:first-child,
.model-info-box3 >li:first-child {
	margin-right: 24px;
	}

.model-info-box >.model-prof,
.model-info-box3 >.model-prof {
	padding: 0;
	margin: 0;
	margin-bottom: 16px;
	}

.model-info-box3 >.model-prof .multi {
	display: flex;
	flex-wrap: wrap;
	}

.model-info-box >.model-prof >div >ul,
.model-info-box3 >.model-prof >div >div >ul {
	padding: 16px;
	flex: 1;
	}

.model-info-box >.model-prof .name,
.model-info-box3 >.model-prof .name {
	font-weight: bold;
	}


.model-info-box >.model-prof >div >ul >p,
.model-info-box3 >.model-prof >p,
.model-info-box >.comment-box >div >ul >p,
.model-info-box3 >.comment-box >div >ul >p {
	font-family: "gra-font01";
	font-size: 24px;
	color: #333;
	padding: 2px 0;
	}

.model-info-box >.model-prof >div >ul >li,
.model-info-box3 >.model-prof >div >div >ul >li,
.model-info-box >.comment-box >div >ul >li,
.model-info-box3 >.comment-box >div >ul >li {
	margin-bottom: 8px;
	display: flex;
	}

.fs02 >ul >li {
	margin-bottom: 8px;
	}

.fs02 >ul >li.en {
	font-size: 13px;
	line-height: 1.4;
	}

.model-info-box >.model-prof >div >ul >li >span:first-child {
	/*font-weight: bold;*/
	}

.model-info-box >.comment-box {
	flex: 2;
	}

.model-info-box >.comment-box div {
	padding: 16px;
	line-height: 1.5;
	}

.model-info-box >.comment-box div .text-en {
	font-size: 13px;
	line-height: 1.4;
	}

.model-info-box >.comment-box div ul li:first-child {
	margin-bottom: 16px;
	}

/*修正部分ここまで*/


.model-prof-box {
	display: flex;
	margin: 24px 0;
	}

.model-image {
	width: 360px;
	line-height: 0;
	}

.model-prof,
.model-prof3 {
	flex: 1;
	margin-left: 24px;
	padding: 16px;
	}

.calendar-text {
	padding: 8px 16px;
	text-align: left;
	}

.calendar-text ul {
	padding: 8px 16px;
	}

.calendar-text .notice {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin-bottom: 16px;
	}



.photo-gallery-box,
.video-gallery-box {
	border-top: dotted 1px #666;
	margin:0 8px 64px;
	}

.photo-gallery-box h5,
.video-gallery-box h5,
.photo-gallery-list h5,
.video-gallery-list h5 {
	font-size: 24px;
	font-weight: normal;
	font-family: "gra-font01";
	margin: 16px;
	}
	
.photo-gallery-box h5,
.photo-gallery-list h5 {
	display: inline-block;
	}

.photo-gallery-box span {
	display: inline;
	}

.photo-gallery-box span a {
	color: #333;
	}

.photo-gallery-box span .link-icon {
	width: 14px;
	}

.photo-thumb,
.video-thumb {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	}

.photo-thumb div,
.video-thumb div {
	text-align: center;
	margin: 8px 8px 24px;
	width: 180px;
	box-sizing: border-box;
	}

/*
.video-thumb div {
	width: 300px;
	text-align: center;
	padding: 8px;
	box-sizing: border-box;
	}
*/

.photo-thumb img,
.video-thumb img {
	line-height: 0;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	}

.photo-thumb div ul li {
	margin-bottom: 8px;
	}

.photo-thumb div ul li:last-child,
.video-thumb div ul li:last-child{
	margin-top: 8px;
	}

.photo-thumb div ul li.active,
.video-thumb div ul li.active{
	background: #000;
	}

.photo-thumb div ul li.active img,
.video-thumb div ul li.active img{
	opacity: 0.4;
	}

div.photo-thumb div img.tag-up {
	vertical-align: middle;
	margin-top: -4px;
	height: 12px;
	}

.sample-image-box {
	margin: 32px 8px;
	}

.sample-image-box p {
	margin: 32px 16px;
	text-align: left;
	font-family: "gra-font01";
	font-size: 24px;
	margin-bottom: 0;
	}

.sample-image-box ul {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	background-color: #000;
	padding: 12px;
	}

.sample-image-box ul li {
	width: 16%;
	padding: 16px;
	box-sizing: border-box;
	position: relative;
	}

.sample-image-box ul li:before {
	display: block;
	content: " ";
	padding-top: 100%;
	}

.sample-image-box ul li a {
	}

.sample-image-box ul li a img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	}

.sample-image-box ul li a img {
	max-height: 100%;
	border: solid 1px #fff;
	box-sizing: border-box;
	}



/* item 
-----------------------------------------------------------------------------------*/

#content-item section {
	margin: 48px;
	}

#content-item section h3,
#content-htmlpage section h3 {
	display: block;
	}

#content-item .photo-gallery-list,
#content-item .video-gallery-list {
	margin: 48px 0 64px;
	}

#content-item .photo-gallery-list .item-thumb-box,
#content-item .video-gallery-list .item-thumb-box {
	position: relative;
	}

.item-thumb-box {
	padding: 32px 0;
	border-bottom: solid 1px #333;
	}

.item-thumb-box ul.gallery-img-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	max-width: 1020px;
	margin: 0 auto;
	padding: 32px 0;
	}

.item-thumb-box ul li {
	width: 20%;
	text-align: center;
	position: relative;
	display: block;
	}

.item-thumb-box ul li:before {
	content: "";
	display: block;
	padding-top: 100%;
	}

/*
.item-thumb-box ul li {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	text-align: center;
	padding: 16px;
	background-color: #000;
	margin: 2px;
	display: table;
	}
*/

.item-thumb-box ul li div {
	width: 99%;
	height: 99%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	}
/*
.item-thumb-box ul li div {
	display: table-cell;
	vertical-align: middle;
	}

*/

.item-thumb-box ul li div img {
	line-height: 1.0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

.item-thumb-box ul li div a img {
	border: solid 1px #fff;
	}


.item-user-rank2 {
	display: inline-block;
	width: 60px;
	height: 18px;
	margin-left: 8px;
	background-image: url(../images/parts/svg/rank-icon-stage1.svg);
	background-repeat: no-repeat;
	}

.item-user-rank3 {
	display: inline-block;
	width: 60px;
	height: 18px;
	margin-left: 8px;
	background-image: url(../images/parts/svg/rank-icon-stage2.svg);
	background-repeat: no-repeat;
	}

.dl-box {
	text-align: center;
	padding: 24px 0;
	}

.dl-box ul li{
	display: inline-block;
	}
 

.dl-button {
	border: solid 1px #333;
	box-sizing: border-box;
	color: #333;
	font-size: 16px;
	padding: 4px 16px;
	}

.dl-button span:before {
	content: "";
	background-image: url(../images/parts/svg/dl-icon-b.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-bottom: -5px;
	margin-right: 6px;
	}

.dl-button:hover {
	background-color: #000;
	color: #eee;
	text-decoration: none;
	}

.dl-button:hover span:before {
	background-image: url(../images/parts/svg/dl-icon-w.svg);
	}


.list-active:before {
	content: "test";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	}


.simple-lightbox,
.sl-prev,
.sl-next,
.sl-close {
	color: #eee;
	}


.modelpage-link {
	text-align: center;
	margin: 8px 0;
	}

.modelpage-link a {
	border: solid 1px #333;
	display: inline-block;
	line-height: 1.0;
	padding: 8px 28px;
	color: #333;
	}

.modelpage-link a .en {
	font-size: 12px;
	}
.modelpage-link a:hover {
	background-color: #222;
	text-decoration: none;
	color: #eee;
	}



/* 日めくり */

#content-item #himekuri {
	margin-left: 1%;
	margin-right: 1%
	}


#item-himekuri {
	max-width: 730px;
	margin: 0 auto;
	font-family: "gra-font01";
	box-sizing: border-box;
	}

#item-himekuri h3 {
	margin-bottom: 24px;
	}

#item-himekuri ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	margin: 0 auto;
	padding: 32px 0;
	position: relative;
	}

#item-himekuri .gallery-img-list li,
#item-himekuri >.week li {
	margin: 0px;
	box-sizing: border-box;
	position: relative;
	padding: 2px;
	width: 14.2%;
	border: solid 1px #FFF;
	text-align: center;
	background-color: #000;
	}

#item-himekuri .gallery-img-list >li:before {
	content: "";
	display: block;
	padding-top: 180%;
	}


#item-himekuri ul li div {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	width: 100%;
	height: 85%;
	}

#item-himekuri ul li div img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	}


#item-himekuri >.week {
	padding-bottom: 4px;
	}

#item-himekuri >ul.week li {
	color: #fff;
	height: auto;
	background-color: #333;
	font-size: 14px;
	}

#item-himekuri >.week li:first-child {
	background-color: #860002;
	}

#item-himekuri >.week li:last-child {
	background-color: #264687;
	}


#item-himekuri .gallery-img-list {
	padding-top: 0;
	}

#item-himekuri .gallery-img-list li.date-number:after {
	content: counter(date-number);
	color: #eee;
	border-top: dotted 1px #ccc;
	display: block;
	font-size: 18px;
	/*width: 96px;*/
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 98%;
	}
	
.date-number {
	counter-increment: date-number;
	}

.wed-30 .space-be,
.wed-30 .space-af {
	background-color: #aaa;
	}


/* movie
----------------------------------------------*/


.item-mov-box {
	padding: 32px 0;
	border-bottom: solid 1px #333;
	}


.item-mov-box h3 {
	text-align: center;
	}

.mov-box {
	padding: 32px 0;
	}

.video {
	width: 100%;
	}

.free-thumb {
	position: relative;
	vertical-align: middle;
	}

.free-thumb> img {
	line-height: 0;
	vertical-align: bottom;
	}

.free-thumb div {
	background-color: rgba(0, 0, 0, 1.0);
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	}
	
.free-thumb div img {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

.item-mov-box .dl-box a {
	margin: 8px;
	}

.item-mov-box .video-info {
	text-align: center;
	}




/* PPV
----------------------------------------------*/

.ppv-item {
	text-align: center;
	margin-bottom: 24px;
	padding: 1%;
	}

.ppv-item .ppv-header {
	line-height: 1.0;
	padding: 0;
	margin-bottom: 8px;
	}

.ppv-item .ppv-title,
.ppv-review .ppv-title {
	padding: 16px;
	font-size: 18px;
	margin-bottom: 32px;
	text-align: center;
	}

.ppv-item .ppv-title .title,
.ppv-review .ppv-title .title {
	font-weight: bold;
	font-size: 16px;
	}

.ppv-item .ppv-title .name,
.ppv-review .ppv-title .name {
	font-size: 14px;
	}

.ppv-info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
	}

.ppv-info .ppv-info-box {
	width: 50%;
	}

.ppv-info ul {
	text-align: left;
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 18px;
	}

.ppv-info ul p {
	font-family: "gra-font01";
	font-size: 20px;
	margin: 8px 0;
	}
	
.ppv-info ul li {
	margin-bottom: 8px;
	}

.ppv-info .sample-mov,
.ppv-info .sample-himekuri {
	margin: 16px auto;
	padding: 8px;
	}

.sample-mov img {
	max-width: 240px;
	}

.ppv-info .sample-himekuri {
	text-align: center;
	}

.ppv-info .sample-himekuri a {
	color: #333;	
	}

.sample-himekuri img {
	max-width: 90%;
	}

	
.ppv-info .ppv-buy-button li a {
	display: block;
	text-align: center;
	padding: 6px;
	}

.ppv-info .ppv-buy-button li a:hover {
	text-decoration: none;
	}

.ppv-info .ppv-buy-button .login-button {
	color: #fff;
	background-color: #f00;
	}

.ppv-info .ppv-buy-button .login-button:hover {
	background-color: #f33;
	}

.ppv-info .ppv-buy-button .login-button .en {
	font-family: "gra-font01";
	}

.ppv-info .ppv-buy-button .buy-button {
	color: #fff;
	background-color: #333;
	}

.ppv-info .ppv-buy-button .buy-button:hover {
	color: #fff;
	background-color: #666;
	}
	
.ppv-info .ppv-buy-end {
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
	border: solid 1px #ccc;
	text-align: center;
	}

.ppv-info .ppv-buy-point div {
	padding: 4px;
	margin-bottom: 8px;
	}

.ppv-info .ppv-buy-point li {
	margin-left: 1em;
	}

.ppv-info .ppv-buy-point li:before {
	content: "";
	background-image: url(../images/parts/svg/tri-right-b.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	}

.ppv-info .ppv-buy-point li a {
	color: #f33;
	}

.ppv-sample-img {
	margin-bottom: 16px;
	}

.ppv-sample-img p{
	font-size: 24px;
	}


.ppv-sample-img ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	max-width: 1020px;
	margin: 0 auto;
	padding: 16px 0;
	}

.ppv-sample-img ul li {
	width: 20%;
	position: relative;
	}

.ppv-sample-img ul li:before {
	content: "";
	display: block;
	padding-top: 100%;
	}

.ppv-sample-img ul li div {
	width: 99%;
	height: 99%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

.ppv-sample-img ul li img {
	max-width: 80%;
	max-height: 80%;
	line-height: 1.0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

.ppv-top-review {
	max-width: 1200px;
	margin: auto;
	}

.ppv-review {
	text-align: left;
	padding: 8px;
	margin-bottom: 32px;
	}

.ppv-review p,
.ppv-sample-img p,
.ppv-favo p,
.ppv-ranking p {
	font-size: 24px;
	text-align: center;
	margin-bottom: 16px;
	}

.ppv-review p .en,
.ppv-sample-img p .en,
.ppv-favo p .en,
.ppv-ranking p .en {
	font-family: "gra-font01";
	}

.ppv-review p .jp,
.ppv-sample-img p .jp,
.ppv-favo p .jp,
.ppv-ranking p .jp {
	font-size: 18px;
	}
	
.review-info {
	padding: 4px;
	margin: 0 auto;
	text-align: center;
	}

.review-info ul {
	line-height: 1.2;
	margin-bottom: 24px;
	}

.ppv-review .ppv-review-head {
	text-align: center;
	}

.ppv-review .pager {
	margin-bottom: 24px;
	}

.ppv-review .review-box {
	border-top: dotted 1px #333;
	margin: 0 2%;
	padding-top: 16px;
	}

.review-box .subject {
	font-size: 18px;
	font-weight: bold;
	}

.post-review {
	text-align: center;
	}

.post-review a {
	color: #333;
	border: solid 1px #222;
	display: inline-block;
	padding: 12px 16px;
	line-height: 1.0;
	}

.post-review a:hover {
	background-color: #222;
	color: #eee;
	text-decoration: none;
	}

.post-review .en {
	font-size: 12px;
	}

.post-review >div {
	margin: 16px 0;
	line-height: 1.0;
	}

.ppv-favo {
	padding: 8px;
	margin-bottom: 32px;
	}





/*単品購入その他*/

.ppv-section {
	padding: 4px;
	box-sizing: border-box;
	}

.ppv-product-content {
	}

.ppv-product-content .ppv-product-info {
	text-align: left;
	display: inline-block;
	margin: 0 auto;
	}

.ppv-product-content .ppv-product-info li {
	display: flex;
	padding: 4px;
	margin-bottom: 4px;
	}


.submit-button {
	color: #fff;
	background-color: #222;
	display: inline-block;
	padding: 8px 48px;
	margin: 0 auto;
	border: none;
	}

.submit-button:hover {
	background-color: #333;
	cursor: pointer;
	}

.ppv-confirm ul {
	margin-bottom: 16px;
	}
	
.ppv-confirm ul li{
	padding: 4px;
	}

.ppv-confirm ul li a {
	color: #f00;
	}

.ppv-confirm ul.link {
	display: inline-block;
	text-align: left;
	}


.ppv-confirm ul li a:before {
	content: "";
	background-image: url(../images/parts/svg/tri-right-b.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	}


.ppv-review .ppv-review {
	display: inline-block;
	text-align: left;
	padding: 4px;
	}

.ppv-review .ppv-review li {
	list-style-type: decimal;
	margin-bottom:4px;
	margin-left: 24px;
	padding: 4px;
	}

.ppv-review .ppv-review-page {
	display: inline-block;
	text-align: left;
	padding: 4px;
	margin-bottom: 16px;
	}


.ppv-review .caution,
.ppv-form-box .caution {
	display: inline-block;
	text-align: left;
	}

.ppv-review .caution li {
	margin-left: 1em;
	}

.ppv-form-box {
	padding: 4px;
	}

.ppv-form-box .caution li,
.ppv-review >.caution li{
	margin-bottom: 8px;
	margin-left: 1em;
	padding-left: 4px;
	}

.ppv-form-box .caution li:before,
.ppv-review >.caution li:before {
	content: "※";
	margin-left: -1em;
	}

.ppv-form-box .ppv-review-form {
	display: block;
	text-align: left;
	max-width: 480px;
	margin: auto;
	padding:8px;
	}

.ppv-form-box .ppv-review-form dt {
	margin-bottom: 16px;
	}

.ppv-form-box form p {
	margin-bottom: 24px;
	padding: 0 8px;
	}


.ppv-form-box .title input {
	width: 100%;
	}

.ppv-form-box .textarea textarea {
	width: 100%;
	height: 200px;
	}

.ppv-purchase-completed {
	}

.ppv-purchase-completed li {
	margin-bottom: 8px;
	}

.ppv-purchase-completed li a {
	color: #eee;
	background-color: #333;
	padding: 4px;
	display: inline-block;
	width: 120px;
	} 

.ppv-purchase-completed li a:hover {
	background-color: #666;
	}



/*レビューリスト*/

.ppv-review-list-top {
	text-align: center;
	margin: 24px auto;
	}
 
.ppv-review-list {
	margin: 40px auto;
	}

.ppv-review-list a {
	color: #333;
	font-weight: bold;
	}

.ppv-review-list >ul >li {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 32px;
	}

.ppv-review-list .thumb-img {
	max-width: 30%;
	margin-right: 16px;
	}

.ppv-top-review .thumb-img {
	max-width: 24%;
	}

.ppv-review-list .text {
	max-width: 60%;
	}

.ppv-top-review .text {
	max-width: 72%;
	}

.ppv-review-list .text >ul >li {
	margin-bottom: 4px;
	}

.ppv-review-list .text .subject {
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
	}


/*===============================================
●画面の横幅が960pxまで
===============================================*/


@media screen and (max-width: 960px){

#content-item section {
	margin: 32px;
	}

.item-thumb-box ul li {
	width: 25%;
	}


.model-info-box {
	display: block;
	}

.model-info-box .model-prof {
	margin-bottom: 0;
	}

.photo-thumb div,
.video-thumb div {
	width: 160px;
	}

.ppv-sample-img ul li {
	width: 25%;
	position: relative;
	}

}

/*===============================================
●画面の横幅が720pxまで
===============================================*/
@media screen and (max-width: 720px){


.item-thumb-box ul li {
	width: 33.3%;
	}

.photo-thumb div,
.video-thumb div {
	width: 140px;
	}

.ppv-info {
	display: block;
	}

.ppv-info .ppv-info-box {
	width: auto;
	}


}


/*===============================================
●画面の横幅が600pxまで
===============================================*/
@media screen and (max-width: 600px){

#content-item section {
	margin: 16px;
	}

.item-thumb-box ul li {
	width: 50%;
	}
	
.photo-thumb div,
.video-thumb div {
	width: 120px;
	}


.model-info-box >.model-prof >div >ul >p,
.model-info-box >.comment-box >div >ul >p {
	font-size: 18px;
	}

.ppv-sample-img ul li {
	width: 33%;
	}

.dl-box ul li{
	display: block;
	margin-bottom: 24px;
	}


.ppv-review-list >ul >li {
	display: block;
	}

.ppv-review-list .thumb-img {
	max-width: 98%;
	margin: auto;
	} 

.ppv-review-list .text {
	max-width: 98%;
	margin: auto;
	}


	
/* 日めくり */


#item-himekuri >.week li {
	font-size: 10px;
	}
	

#item-himekuri .gallery-img-list li.date-number:after {
	font-size: 12px;
	}

}


