<include file='./Shop/Home/View/header.html' />
<div class="webC1000">
	<div id="help" class="clearfix">
		<include file='./Shop/Home/View/help.left.html' />
        <!--右侧信息开始-->
        <div class="helpInfo">
        	<h1>{$article.title}</h1>
            <div class="wishlist" style="word-break:break-all;">
            	{$article.content|htmlspecialchars_decode}
            	<!--
                <h3>HOW DO I CREATE A WISH list?</h3>
                <div class="show">
                	<p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                    <p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                    <p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>HOW DO I CREATE A WISH LIST?</h3>
                <div class="show">
                	<p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>HOW DO I CREATE A WISH LIST?</h3>
                <div class="show">
                	<p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>HOW DO I CREATE A WISH LIST?</h3>
                <div class="show">
                	<p>t is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>	
                -->
            </div>
        </div>
        <!--右侧信息结束-->
    </div>
</div>

<include file='./Shop/Home/View/footer.html' />
