<include file='./Shop/Home/View/header.html' /> 
<div id="crumbs">
	<a href="{:U('./Index')}">Home</a>&gt;
    <a href="{:U('/Article/index')}">Help Center</a>&gt;
    <span>Index</span>
</div>
<div class="webC1000">
	<div id="help" class="clearfix">
<include file='./Shop/Home/View/help.left.html' />
        <!--右侧信息开始-->
        <div class="helpInfo">
        	<h2>F. A . Q</h2>
            <div class="faq">
            	<h3>How to pay via Bank Transfer-GC</h3>
                <div class="show">
                	<p style="display:block;">It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>How to pay via Direct Debit</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>How to pay via Yandex（for Russia Customer)</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>Credit Card payment (Visa/MasterCard/American Express/JCB)</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>How to pay via Bank Transfer-GC</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>How to pay via Direct Debit</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>How to pay via Yandex（for Russia Customer)</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
                <h3>Credit Card payment (Visa/MasterCard/American Express/JCB)</h3>
                <div class="show">
                	<p>It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.It is as easy as a few clicks! While browsing, if you like what you see and want to add it to your Wish list, simply click the Add to Wish List button.</p>
                </div>
            </div>
        </div>
        <!--右侧信息结束-->
    </div>
</div>

<include file='./Shop/Home/View/footer.html' />
