<include file='./Shop/Home/View/header.html' /> 
<div id="crumbs">
	<a href="{:U('./Index')}">Home</a>&gt;
    <a href="{:U('/DownloadCenter/index')}">Download Center(MSDS,COA)</a>&gt;
    <span>MSDS</span>
</div>


<div class="webC1000">
	<div id="download">
    	<h2>Download Center(MSDS)</h2>
    	<div class="downloadChoose">
        	<a href="{:U('./DownloadCenter/index')}" class="current">MSDS</a>
            <a href="{:U('./DownloadCenter/COA')}">COA</a>
        </div>
        <div class="downloadShow">
        	<!--下载列表一开始-->
            <div class="show list1" style="display:block;">
            	<div class="downloadSearch">
                   <form action="{:U('./DownloadCenter/MSDS')}" method="post">
                	Product Name:
                    <input type="text" name="goods_name" value="{$goods_name}" class="textIn" placeholder="RC-708" />
                    <input type="submit" value="Search" class="searchBtn" />
                   </form>
                </div> 
             <volist name='brands' id='brand'>    
              <dl class="clearfix">
                        <dt>{$brand.bname}</dt>   
                        <dd class="clearfix">
                            <volist name='brand.goods' id='vo'>
                              <div class="each">
                                <a href="{:U('Goods/index',array('id'=>$vo['goods_id']))}" class="buy" target="_blank">buy</a>
                                <a href="javascript:Preview({$vo.goods_id})" class="name Preview" target="_self">{$vo.goods_name}(MSDS)</a>
                                <a href="/{$vo.msds}" class="downloadLink" target="_blank">download</a>
                              </div>
                            </volist> 
                        </dd>
                    </dl>
             </volist>  
             </div>
            <!--下载列表一结束--> 
        </div>	
    </div>
</div>


<!--弹窗开始-->
<div id="grayBg"></div>
<div id="alertBox"> 
    <div class="show">
    	<iframe src="" id="preview_frm" width="750px" height="500px" frameborder="0"></iframe>
    	<a href="javascript:void(0)" class="close">close</a> 
    </div>
</div>
<!--弹窗结束-->

<script type="text/javascript">
	$(document).ready(function(){
		
		$("div.list1 dl").each(function(){
			var dtHeight = $(this).find("dd").height()- 1;
			$(this).find("dt").css({height:dtHeight,"line-height":dtHeight + "px"});	
		});
		$("a.Preview").click(function(){
			var winHeight = $(window).height();
			var winWidth = $(window).width();
			var boxTop = (winHeight - 506)/2;
			var boxLeft = (winWidth - 756)/2;
			var iconTop = (winHeight - 506)/2;
			var iconLeft = (winWidth - 756)/2 - 25;
			$("#grayBg").show().css("height",winHeight);
			$("#alertBox").show().css({left:boxLeft,top:boxTop});
			$("#alertBox a.close").css({right:iconLeft,top:iconTop});
		});
		$("#alertBox a.close").click(function(){
			var userAgent = navigator.userAgent;
			var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") < 1 ;
			if(isSafari == true){
				window.top.location.reload();//刷新页面解决iframe在Safari中无法关闭的问题。
			}else{
				$("#grayBg").hide();
				$("#alertBox").hide();	
			}
		});
		Preview=function(goods_id){
			var frm_url="{:U('DownloadCenter/msds_pdf')}?goods_id="+goods_id;  
			$('#preview_frm').attr('src',frm_url); 
		}
	});
</script>
<include file='./Shop/Home/View/footer.html' /> 
