<include file="./Shop/Home/View/header.html" />
<script type="text/javascript">
$(function(){
	
	$('#forgotpassword_form').validate({
		rules : {
			email : {
				required : true,
				email : true,
				remote:{ 
					url : '/Index/ajax_check_email.html',
					type : 'post',
					dataType : 'json',
					data : {
						email: function(){
								return $('#forgotpassword_form input[name="email"]').val();
						}
					}
				} 	 
			}
		},
		messages:{
			email:{
				remote: 'The E-mail address is not exist.',
			}
		},
		submitHandler: function(form){ //表单提交句柄,为一回调函数，带一个参数：form
			$("#show_msg").html('<img src="/Public/home/images/loading.gif" style="vertical-align:middle;" /> Sending email...').show();
			$.post('/Forgotpassword.html',{ 
						email: function(){
								return $('input[name="email"]').val();
							}, 
				},function(data){  
					if(data.status=='0'){
						$("#show_msg").html(data.info);
						return;
					}else{
						$('.InfoError').attr('style','width:auto;');
						$("#show_msg").html('The email of password retrieval has been sent to your email box, please check it out in 48 hours.');
						alert('Congratulations, System have successfully sent email to your email box.');
						//self.location=data.info;	
					}  
				},'json');
			//form.submit(); //提交表单
		},
		
		success: 'InfoTrue',
		errorElement : 'span',
		errorClass : 'InfoError',
		validClass : 'InfoTrue'
	});	
	$('.reLogin').click(function(){ self.location="{:U('/Index/login_register')}"});
});
</script>
<div id="crumbs">
	<a href="{:U('/')}">home</a>&gt;
    <span>Forgot Password</span>
</div>
<div class="webC1000">
	<div id="account">
    	
        <!--找回密码开始-->
        <div class="forgetPsw">
        	<h2>Forgot Password</h2>
            <h3>Forgot your password?</h3>
            <p>Please enter your e-mail address to receive your account password by e-mail.</p>
            <form id="forgotpassword_form" method="post">
            <dl>
            	<dt>E-mail Address:</dt>
                <dd><input type="text" id="email" name="email" value="" class="emailIn" /></dd>
            </dl>
            <dl>
                 <span id="show_msg" class="InfoError" style="display:none;"></span>
            </dl>
            <div class="btnBox">
            	<input type="button" value="" title="Send Password" class="send submit" />
                <input type="button" value="" title="Return to Login" class="reLogin" />
            </div>
            </form>
        </div>
        <!--找回密码结束-->
        
    </div>
</div>
<include file="./Shop/Home/View/footer.html" />