<include file="./Shop/Home/View/header.html" />
<script type="text/javascript">
$(function(){
	$('#forgotpassword_form').validate({
		rules : {
			password : {
				required : true,
				minlength : 6
			},
			repassword : {
				required : true,
				minlength : 6,
				equalTo : '#password'
			}
		},
		success: 'InfoTrue',
		errorElement : 'span',
		errorClass : 'InfoError',
		validClass : 'InfoTrue'
	});	
});
</script>
<div id="crumbs">
	<a href="{:U('/')}">home</a>&gt;
    <span>Reset Password</span>
</div>
<div class="webC1000">
	<div id="account">
    	
        <!--找回密码开始-->
        <div class="forgetPsw">
        	<h2>Reset Password</h2>
            <h3>Forgot your password?</h3>
            <p>Please enter your e-mail address to receive your account password by e-mail.</p>
            <form id="forgotpassword_form" method="post">
            <dl>
            	<dt>New Password:</dt>
                <dd><input type="password" id="password" name="password" value="" class="emailIn" /></dd>
            </dl>
            <dl>
            	<dt>Confirm Password:</dt>
                <dd><input type="password" id="repassword" name="repassword" value="" class="emailIn" /></dd>
            </dl>
            <div class="btnBox">
            	<input type="hidden" name="fid" value="{$flog.fid}" />
            	<input type="button" value="" title="Send Password" class="send submit" />
            </div>
            </form>
        </div>
        <!--找回密码结束-->
        
    </div>
</div>
<include file="./Shop/Home/View/footer.html" />