<include file="./Shop/Home/View/header.html" />
<load href="__PUBLIC__/home/js/order.js" />
<div id="crumbs">
	<a href="javascript:void(0)">home</a>&gt;
    <a href="javascript:void(0)">My Account</a>&gt;
    <span>Account Settings</span>
</div>

<div class="webC1000">
	<div id="pay">
    	<!--步骤开始-->
        <div id="stepBox">
          <div class="stepBj">
              <div class="stepShow stepShow2"></div>
              <div class="step first past">
                  <span class="time"></span>
                  <span class="each">1</span>
                  <span class="content">Add to Cart</span>
              </div>
              <div class="step second current">
                  <span class="time"></span>
                  <span class="each">2</span>
                  <span class="content">Submit Order Information</span>
              </div>
              <div class="step third ">
                  <span class="time"></span>
                  <span class="each">3</span>
                  <span class="content">Delivery Product</span>
              </div>
              <div class="step fourth ">
                  <span class="time"></span>
                  <span class="each">4</span>
                  <span class="content">Conform Delivery</span>
              </div>
              <div class="step fifth">
                  <span class="time"></span>
                  <span class="each">5</span>
                  <span class="content">Order Completed</span>
              </div>
              <div class="step sixth">
                  <span class="time"></span>
                  <span class="each">6</span>
                  <span class="content">Write a Review</span>
              </div>
          </div>
        </div>
        <!--步骤结束-->
        
        <!--地址信息开始-->
        <div class="addressInfo clearfix">
          <h2 class="h_1"><span>Manage Address Book</span>Choose Your Address</h2>
          <div class="adsList">
                <h3>Shipping Address<a href="javascript:void(0)" class="addNew">Add a New Address</a></h3>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_1" />
                    <label for="ads_1">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Default</a>
                </div>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_2" />
                    <label for="ads_2">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Set As a Default </a>
                </div>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_3" />
                    <label for="ads_3">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Set As a Default </a>
                </div>
                <p><a href="javascript:void(0)">Use Another Address</a></p>
          </div>  
          <div class="adsList">
                <h3>Billing Address<a href="javascript:void(0)" class="addNew">Add a New Address</a></h3>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_4" />
                    <label for="ads_4">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Set As a Default </a>
                </div>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_5" />
                  <label for="ads_5">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Set As a Default </a>
                </div>
                <div class="each">
                    <a href="javascript:void(0)" title="Edit This Address" class="EditAds">Edit This Address</a>
                    <input type="radio" value="" name="radio" id="ads_6" />
                    <label for="ads_6">10990 Roe Avenue, Overland Park, KS22611, New York, United States（<em>Petter Macle</em>），56262341641 </label>
                    <a href="javascript:void(0)" class="DefaultAbout">Set As a Default </a>
                </div>
                <p><a href="javascript:void(0)">Use Another Address</a></p>
          </div>
        </div>
        <!--地址信息结束-->
        
        <!--订单支付详情开始-->
        <div class="orderPay clearfix">
        	<div class="order">
           	  <div class="shipInfo">
                <h2 class="h_2">Shipping Method</h2>
                <p>Note: product no more than 50kg will be shipped by FedEx, otherwise by YRC Freight.</p>
                <table width="490" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>Type of Delivery</td>
                        <td>FedEx </td>
                      </tr>
                      <tr>
                        <td>Shipping </td>
                        <td>$20.00</td>
                      </tr>
                </table>
              </div>
              <div class="orderInfo">
           		<h2 class="h_3">rders Information</h2>
                <table width="490" border="0" cellspacing="0" cellpadding="0">
                      <thead>
                          <tr>
                            <td>Item Description </td>
                            <td width="90">Unit Price </td>
                            <td width="90">Quantity </td>
                            <td width="90">Total </td>
                          </tr>
                      </thead>
                      <tr>
                        <td>
                        	<dl class="clearfix">
                            	<dt><a href="javascript:void(0)"><img src="images/show/5.jpg" width="50" height="50" /></a></dt>
                              <dd>
                                <p class="pName"><a href="javascript;void(0)">Gucci Men's YA114217...</a></p>
                                <p>Batch:Batch 001</p>
                                <p>Package: 25kg/bag </p>
                              </dd>
                            </dl>
                        </td>
                        <td width="90">$2.98 </td>
                        <td width="90">200 </td>
                        <td width="90">$596.00</td>
                      </tr>
                      <tr>
                        <td>
                        	<dl class="clearfix">
                            	<dt><a href="javascript:void(0)"><img src="images/show/5.jpg" width="50" height="50" /></a></dt>
                              <dd>
                                <p class="pName"><a href="javascript;void(0)">Gucci Men's YA114217...</a></p>
                                <p>Batch:Batch 001</p>
                                <p>Package: 25kg/bag </p>
                              </dd>
                            </dl>
                        </td>
                        <td width="90">$2.98 </td>
                        <td width="90">200 </td>
                        <td width="90">$596.00</td>
                      </tr>
                </table>
                <p class="total">Sub Total: <em>$7,965.00</em>Shipping:<em>$20.00</em>Grand Total: $7,965.00</p>
                <div class="totalPrice">
                	<p>Discount: - $30.00</p>
                    <div class="Points">
                    	<input type="checkbox" name="checkbox" id="usePoints" /><label for="usePoints">Redeem Points</label>
                        <input type="text" value="" class="usePointTotal" />
						<em>- $20.00</em>
                        <span class="allPoint">(100 available)</span>
                    </div>
                    <p class="all">Final:<em>$7,965.00</em></p>
                </div>
              </div>
            	
            </div>
            <!--支付信息开始-->
            <div class="payInfo">
            	<h2 class="h_4">Payment</h2>
                <div class="card">
                	<h3>* Pay Method Type</h3>
                    <div class="genre clearfix">
                    	<a href="javascript:void(0)" class="PayPal current" title="PayPal"><span>PayPal</span></a>
                        <a href="javascript:void(0)" class="Authorize" title="Authorize.Net"><span>Authorize.Net</span></a>
                    </div>
                    <div class="genreDetail clearfix">
                    	<ul>
                        	<li class="Visa">
                            	<input type="radio" name="radio" id="Visa" />
                                <label for="Visa">Visa</label>
                            </li>
                            <li class="Maste">
                            	<input type="radio" name="radio" id="Maste" />
                                <label for="Maste">Maste</label>
                            </li>
                            <li class="Discover">
                            	<input type="radio" name="radio" id="Discover" />
                                <label for="Discover">Discover</label>
                            </li>
                            <li class="Express">
                            	<input type="radio" name="radio" id="Express" />
                                <label for="Express">American Express</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="writeInfo">
                	<dl>
                    	<dt>* Name on Card</dt>
                        <dd><input type="text" value="" class="textIn textIn_1" /></dd>
                    </dl>
                    <dl>
                    	<dt>* Credit Card No.</dt>
                        <dd><input type="text" value="" class="textIn textIn_1" /></dd>
                    </dl>
                    <dl>
                    	<dt>* Exp. date</dt>
                        <dd>
                        	<input type="text" value="" class="textIn textIn_2" />Month
                            <input type="text" value="" class="textIn textIn_2" />Year
                        </dd>
                    </dl>
                    <dl>
                    	<dt>* CCID</dt>
                        <dd class="clearfix">
                        	<input type="text" value="" class="textIn textIn_3" />	
                            <div class="show">
                            	<p>Please enter the last 3 digits on the back of your credit card.</p>
                                <img src="images/creditCard..jpg" width="153" height="98" />
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!--支付信息结束-->
        </div>
        
        <!--确认支付开始-->
        <div class="surePay">
            <div class="sureInfo">
                <p>Deliver to: 10990 Roe Avenue, Overland Park, KS22611, New York, United States.</p>
                <p>Receiver: Petter Marcle, 156565662332 </p>
            </div>
            <a href="javascript:void(0)" class="sureBtn" title="Submit Your Order Now">Submit Your Order Now</a>
        </div>
        <!--确认支付结束-->
        
        <!--订单支付详情结束-->
    </div>
</div>

<div id="grayBg"></div>
<div id="newAds">
	<h2><a href="javascript:void(0)" class="closed" title="Closed">closed</a>Add a New Adderss</h2>
    <dl class="clearfix">
        <dt>*First Name:</dt>
        <dd>
            <input type="text" value="" class="mTextin" />
            * Last Name:
            <input type="text" value="" class="mTextin" />
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>* Address:</dt>
        <dd>
            <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>* City:</dt>
        <dd>
            <input type="text" value="" class="mTextin" />
            * State:
            <select name="select">
                <option>State one</option>
                <option>State one</option>
                <option>State one</option>
            </select>
            Country: 
            <select name="select">
                <option>State one</option>
                <option>State one</option>
                <option>State one</option>
            </select>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>* Phone:</dt>
        <dd>
            <input type="text" value="" class="mTextin" />
            Fax:
            <input type="text" value="" class="mTextin" />
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>* Zip:</dt>
        <dd>
            <input type="text" value="" class="mTextin" />
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>* Preferred:</dt>
        <dd>
            <select name="select">
                <option>State one</option>
                <option>State one</option>
                <option>State one</option>
            </select>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>&nbsp;</dt>
        <dd>
            <p>Your billing address must match the address on your credit card statement to avoid any delays in the 
authorization process.</p>
            <input type="checkbox" value="" name="checkbox" id="SetAsADefault" />
            <label for="SetAsADefault">Set As a Default</label>
        </dd>
    </dl>
    <div class="addressBtnBox">
      <a href="javascript:void(0)" class="addressSubmit" title="Submit">Submit</a>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("div.adsList").each(function(){
			var ListAll = $(this).find("div.each").length;
			if(ListAll > 3){
				$(this).find("p").show();
				$(this).find("div.each:gt(2)").hide();
				$("div.adsList p a").toggle(function(){
					$(this).parents("div.adsList").find("div.each").fadeIn(400);		
				},function(){
					$(this).parents("div.adsList").find("div.each:gt(2)").fadeOut(400);
				})
			}else{
				$(this).find("p").hide();	
			}
		});
	});
</script>
<include file="./Shop/Home/View/footer.html" />