<include file="./Shop/Home/View/header.html" /> 
<div class="webC1000">
	<div id="account">
    	
      <div class="ProRequest">
        	<p>Can’t find the product you want on our website? Don’t worry, we are dedicated to improving customer satisfaction from every aspect. Although there aresome chemical products we do not list on our website, we can source them from our best suppliers and help you 
get what you want. All you need to do is filling in the Product Request form below and submit it to us!We will try our best to supply the 
product you requested either from our website or only for you depending on how many people need it. You will be reached immediately
when the requested product is available.</p>
			<p>Currently there is a promotion for the Product Request! You will get 100 reward points that can be used in future purchase once the request is validated.</p>
            <div class="member">
           	  	<input type="radio" name="radio2" id="AlreadyMem" value="radio2" />
                <label for="AlreadyMem">Already a member?</label>
            	<input type="radio" name="radio2" id="NotMem" value="radio" />
                <label for="NotMem">Not a member?</label>
          	</div>
            <h3>Please fill in the contact form below</h3>
            <dl class="clearfix">
            	<dt>* Company Name: </dt>
                <dd><input type="text" name="company_name" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Contact Name:</dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Phone:</dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Email:</dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <h3>Please fill in the product request form below</h3>
            <dl class="clearfix">
            	<dt>* Product Name: </dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Cas Number: </dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Standard: </dt>
                <dd><input type="text" value="" class="textIn" autocomplete="off" /></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Package: </dt>
                <dd><input type="text" value="" class="textIn textIn2" autocomplete="off" /><span>Enter multiple values separated by comma.</span></dd>
            </dl>
            <dl class="clearfix">
            	<dt>* Quantity: </dt>
                <dd>
                	<input type="text" value="" class="textIn textIn3" autocomplete="off" />
                    <select name="select">
                    	<option>kg</option>
                        <option>kg</option>
                        <option>kg</option>
                    </select>
                    --
                    <input type="text" value="" class="textIn textIn3" autocomplete="off" />
                    <select name="select">
                    	<option>week</option>
                        <option>month</option>
                        <option>day</option>
                    </select>
                </dd>
            </dl>
            <dl class="clearfix">
            	<dt>Expected Price: </dt>
                <dd><input type="text" value="" class="textIn textIn2" autocomplete="off" /><span>Enter multiple values separated by comma.</span></dd>
            </dl>
            <dl class="clearfix">
            	<dt>Other Details: </dt>
                <dd>
                	<textarea name="textarea" id="OtherDetails" cols="45" rows="5"></textarea>
                </dd>
            </dl>
            <dl class="clearfix">
            	<dt>&nbsp;</dt>
                <dd>
                	<input type="submit" value="Submit" title="Submit" class="subBtn" />
                </dd>
            </dl>
            
        </div>
        
    </div>
</div>



<!--页尾开始-->
<div class="footerBg">
	<div class="footer clearfix">
    	<div class="Company">
        	<h3>Company Info</h3>
            <ul>
            	<li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Contact Us</a></li>
                <li><a href="javascript:void(0)">F.A.Q</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">Product Request</a></li>
                <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
        </div>
        <div class="Company">
        	<h3>Store Policies</h3>
            <ul>
            	<li><a href="javascript:void(0)">Return Policy</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shipping Info</a></li>
                <li><a href="javascript:void(0)">Payment Info</a></li>
            </ul>
        </div>	
        <div class="emails">
        	<p class="font13">Subscribe our emails to save cash.</p>
            <p>PLUS a chance to win our Daily Cash Giveaway!</p>
            <div class="emailBox">
            	<input type="text" value="Email Address" class="eAddress" />
                <a href="javascript:void(0)" class="go">GO</a>
            </div>
        </div>
        <div class="share">
        	<a href="javascript:void(0)" title="facebook" class="facebook">facebook</a>
            <a href="javascript:void(0)" title="twitter" class="twitter">twitter</a>
            <a href="javascript:void(0)" title="foogle+" class="foogle">foogle+</a>
            <a href="javascript:void(0)" title="linkedin" class="linkedin">linkedin</a>
            <a href="javascript:void(0)" title="pinterest" class="pinterest">pinterest</a>
            <a href="javascript:void(0)" title="blooger" class="blooger">blooger</a>
        </div>
    </div>
    <div class="bank">
    	<a href="javascript:void(0)" title="visa" class="visa">visa</a>
        <a href="javascript:void(0)" title="mastercard" class="mastercard">mastercard</a>
        <a href="javascript:void(0)" title="paypal" class="paypal">paypal</a>
        <a href="javascript:void(0)" title="authorize.net" class="authorize">authorize.net</a>
    </div>
</div>
<div class="copyright">
    <p>&copy;2014-2026, Okchem.com.All Rights Reserved.See our <a href="javascript:void(0)">privacy policy</a>, <a href="javascript:void(0)">terms of use</a> and <a href="javascript:void(0)">takedown policy</a>.</p>
</div>
<!--页尾结束-->
<script type="text/javascript" src="js/jquery-1.6.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
</body>
</html>

