<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="关键字,关键字" />
<meta name="description" content="我们网站是干什么的，这里就是一大串的说明" />
<link rel="icon" href="http://gtms03.alicdn.com/tps/i3/T1OjaVFl4dXXa.JOZB-114-114.png" type="image/x-icon" charset="utf-8" /><!--图标icon-->
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<title>OkChem</title>
</head>
<body>

<div id="header">
	<!--顶部开始-->
	<div class="headertop clearfix">
    	<div class="leftHome">
        	<a href="javascript:void(0)" title="">home</a>|
            <a href="javascript:void(0)" title="">blog</a>|
            <a href="javascript:void(0)" title="">help</a>
        </div>
        <div class="loginInfo clearfix">
        	<ul>
            	<li><a href="javascript:void(0)">Wish List</a></li>
                <li class="showBoxFa">
                	<a href="javascript:void(0)" class="Cart"><span>Cart [<i>0</i>]</span></a>
                    <div class="CartBoxBg show">
                    	<div class="CartBox">
                        	<p>Your  Cart is empty.</p>
                            <p class="tosearch">To search for target products</p>
                            <a href="javascript:void(0)" class="viewCart">view Cart ( <i>0</i> Items )</a>
                            <span class="sanj"></span>
                        </div>
                    </div>
                    <!--
                    <div class="CartBoxBg show" style="display:none">
                    	<div class="CartBox">
                        	<p>Your Cart a total of <strong>5</strong> items</p>
                            <p>Total：<strong>$562</strong></p>
                            <a href="javascript:void(0)" class="enterPayment">Enter payment</a>
                            <span class="sanj"></span>
                        </div>
                    </div>-->
                </li>
                <li class="showBoxFa">
                	<a href="javascript:void(0)">Sign in / Register</a>
                    <div class="customerCenterBg show">
                    	<div class="homeCtenter">
                        	<h4>New customer? <a href="javasctipt:void(0)">Click here</a></h4>
                            <a href="javascript:void(0)" class="login">Sign in</a>
                            <ul>
                                <li><a href="javascript:void(0)">My Account</a></li>
                                <li><a href="javascript:void(0)">My Orders</a></li>
                                <li><a href="javascript:void(0)">My Wish List</a></li>
                                <li><a href="javascript:void(0)">My Reviews</a></li>
                                <li><a href="javascript:void(0)">My Shipping Address</a></li>
                            </ul>
                            <span class="sanj"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--顶部开始-->
    <!--logo，搜索，客服开始-->
    <div class="headerCon clearfix">
    	<div class="logo"><a href="javascript:void(0)"><img src="images/okchem_logo.png" width="185" height="71" alt="logo" title="logo" /></a></div>
        <div class="searchbox">
        	<div class="search">
            	<input type="text" value="Wood protection coating" class="searchInput" />
                <a href="javascript:void(0)" class="searchBtn">GO</a>
            </div>
            <p>
            	<a href="javascript:void(0)">Coil coatings</a>,
                <a href="javascript:void(0)">Can coatings</a>,
                <a href="javascript:void(0)">Floor coatings</a>
            </p>
        </div>
        <div class="liveChart"><a href="javascript:void(0)">Live chart</a></div>
    </div>
    <!--logo，搜索，客服结束-->
</div>

<!--导航开始-->
<div class="navBg">
	<div id="nav">
    	<ul>
        	<li class="navSubFa">
            	<a href="javascript:void(0)" class="current">Titanium Dioxide</a>
                <div class="subNav clearfix">
                	<div class="subNavbox clearfix Coatings">
                    	<h3>Coatings</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                    </div>
                    <div class="subNavbox clearfix Plastics">
                    	<h3>Plastics</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                    	<a href="javascript:void(0)">Marine coatings</a>
                    </div>
                    <div class="subNavbox clearfix Others">
                    	<h3>Others</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">Brands</a></li>
            <li><a href="javascript:void(0)">New Arrival</a></li>
            <li><a href="javascript:void(0)">Product Request</a></li>
            <li><a href="javascript:void(0)">Responsibility</a></li>
            <li><a href="javascript:void(0)">Download Center(MSDS,COA)</a></li>
        </ul>
    </div>
</div>
<!--导航结束-->


<div id="crumbs">
	<a href="javascript:void(0)">home</a>&gt;
    <a href="javascript:void(0)">My Account</a>&gt;
    <span>Account Settings</span>
</div>



<div class="webC1000">
	<div id="ItemDetail">
        <div class="ItemDetailInfo clearfix">
        	<!--左侧开始-->
            <div class="left">
            	<!--图片展示开始-->
                <div class="zoom-section clearfix">  
                    <div class="zoom-small-image">
                        <a href="images/show/18_1.jpg" class="cloud-zoom" id="zoom1" rel="adjustX:10, adjustY:-4"><img src="images/show/18.jpg" alt="这是第一张图片" /></a>
                    </div>
                    <div class="zoom-desc">
                      <a href="images/show/18_1.jpg" class="cloud-zoom-gallery" title="Red" rel="useZoom:'zoom1',smallImage: 'images/show/18.jpg' "><img class="zoom-tiny-image" src="images/show/5.jpg" alt="这是第二张图片" /></a>
                      <a href="images/show/19_1.jpg" class="cloud-zoom-gallery" title="Red" rel="useZoom:'zoom1',smallImage: 'images/show/19.jpg' "><img class="zoom-tiny-image" src="images/show/5.jpg" alt="这是第二张图片" /></a>
                      <a href="images/show/18_1.jpg" class="cloud-zoom-gallery" title="Red" rel="useZoom:'zoom1',smallImage: 'images/show/18.jpg' "><img class="zoom-tiny-image" src="images/show/5.jpg" alt="这是第二张图片" /></a>
                      <a href="images/show/19_1.jpg" class="cloud-zoom-gallery" title="Red" rel="useZoom:'zoom1',smallImage: 'images/show/19.jpg' "><img class="zoom-tiny-image" src="images/show/5.jpg" alt="这是第二张图片" /></a>
                    </div>
                </div>
                <!--图片展示开始-->
                
                <!--分享开始-->
                <div class="share" style="border:1px solid #00f;">
                	因为需要连接国外服务器，影响速度，代码已经注释，直接放开注释即可，注意页尾有2个js同样需要放开
                    <!--
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_tumblr_large' displayText='Tumblr'></span>-->
                </div>
                <!--分享结束-->
                <div class="addToWishList">
                     <a href="javascript:void(0)" class="addToWishListLink" title="Add To Wish List">Add To Wish List</a>
                </div>
            </div>
            <!--左侧结束-->
            <!--右侧开始-->
            <div class="right">
            	<h2>Titanium Dioxide RC-708</h2>
                <div class="itemInf">
                	Item Code:<span>TD 001</span>
                    Ship From:
                    <select name="select">
                    	<option>option</option>
                        <option>option</option>
                        <option>option</option>
                        <option>option</option>
                    </select>
                </div>
                <dl class="batch clearfix">
                    <dt>Batch:</dt>
                    <dd class="clearfix">
                    	<a href="javascript:void(0)" class="current">001<span>001Titanium Dioxide RC-708</span></a>
                        <a href="javascript:void(0)">002<span>001Titanium Dioxide RC-708</span></a>
                        <a href="javascript:void(0)">003<span>001Titanium Dioxide RC-708</span></a>
                        <a href="javascript:void(0)">004<span>001Titanium Dioxide RC-708</span></a>
                        <a href="javascript:void(0)">005<span>001Titanium Dioxide RC-708</span></a>
                    </dd>
                </dl>
                <div class="goods">
                	<h3>Normal Goods</h3>
                    <dl class="clearfix">
                    	<dt>Price: $3.00/bag<br />Package: 25kg/bag</dt>
                        <dd>
                        	Quantity:
                        	<div class="Quantity">
                                <a href="javascript:void(0)" class="reduce" title="reduce">reduce</a>
                                <input type="text" value="1" class="numText" />
                                <a href="javascript:void(0)" class="add" title="add">add</a>
                            </div>
                            Bag(Stock:200)
                        </dd>
                    </dl>
                    <dl class="clearfix">
                    	<dt>Price: $3.00/bag<br />Package: 25kg/bag</dt>
                        <dd>
                        	Quantity:
                        	<div class="Quantity">
                                <a href="javascript:void(0)" class="reduce" title="reduce">reduce</a>
                                <input type="text" value="1" class="numText" />
                                <a href="javascript:void(0)" class="add" title="add">add</a>
                            </div>
                            Pallet(Stock:3)
                        </dd>
                    </dl>
                    <p class="total">Sub Total: <strong>$7,456.00</strong></p>
                </div>
                <div class="goods">
                	<h3>Samples</h3>
                    <dl class="clearfix">
                    	<dt>Price: $3.00/bag<br />Package: 25kg/bag</dt>
                        <dd>
                        	Quantity:
                        	<div class="Quantity">
                                <a href="javascript:void(0)" class="reduce" title="reduce">reduce</a>
                                <input type="text" value="1" class="numText" />
                                <a href="javascript:void(0)" class="add" title="add">add</a>
                            </div>
                            Bag(Stock:200)
                        </dd>
                    </dl>
                    <p class="total">Sub Total: <strong>$7,456.00</strong></p>
                </div>
                <div class="itemBuy">
                	<h4>Grand Total: <strong>$14,912.00</strong></h4>
                    <a href="javascript:void(0)" title="Add to Cart" class="AddtoCart">Add to Cart</a>
                    <a href="javascript:void(0)" title="Buy Now" class="buyNow">Buy Now</a>
                    <p>Tip:Order more than two tons, you can enjoy a 10% discount. For more discount 
information, please contact our customer support.</p> 
                </div>
            </div>
            <!--右侧结束-->        
        </div>
        <!--商品详情相关评价等开始-->
        <div class="productDetail clearfix">
        	<div class="Related">
            	<div class="RelatedList">
                    <h3>Related Products</h3>
                    <dl class="clearfix">
                        <dt><a href="javascript:void(0)"><img src="images/show/5.jpg" width="50" height="50" /></a></dt>
                        <dd>
                            <a href="javascript:void(0)">ulfuric acid process rutile titaniu</a>
                            <span>101 watch</span>
                            <span class="price">$14~$50</span>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href="javascript:void(0)"><img src="images/show/5.jpg" width="50" height="50" /></a></dt>
                        <dd>
                            <a href="javascript:void(0)">ulfuric acid process rutile titaniu</a>
                            <span>101 watch</span>
                            <span class="price">$14~$50</span>
                        </dd>
                    </dl>
                    <a href="javascript:void(0)" class="more">More >></a>
                </div>
                <a href="javascript:void(0)" title="Download Center(MSDS,COA)" class="Download">Download Center(MSDS,COA)</a>
            </div>
            
            <!--详情开始-->
            <div class="detail">
            	<div class="detailChoose">
                	<a href="javascript:void(0)" title="Product Details" class="current">Product Details</a>
                    <a href="javascript:void(0)" title="Customer Review">Customer Review(<em>12</em>)</a>
                    <a href="javascript:void(0)" title="Seller Guarantees">Seller Guarantees</a>
                </div>
                <div class="detailShow">
               	  <div class="show showD">
                   	<h3>Description</h3>
                    <p>R-248 is a sulfuric acid process rutile titanium dioxide, which adopts advanced TINT and particle size controlledtechnique and it is stabilized with zinc salt and enveloped with Multiple elements including zirconium, aluminium,silicon,and phosphorous. It combines excellent properties such as high whiteness, high optical and hiding power,super durability and dispersibility properties.R-248 is an high-quality plastic-specific titanium dioxide. </p>
                        <h3>Applications</h3>
                    <p>It can also be widely used in <strong>polyolefins, PVC, ABS , pipe,</strong> and  <strong>leather paste, oil paint.</strong></p>
                    <h3>Typical Property</h3>
                    <table width="485" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>TiO2 conetent % ≥</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Brightness % ≥</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Content of rutile % ≥ </td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Tint-reducing power，reynolds number ≥</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>PH value</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Oil absorption g/100个 ≤</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Specific resistance Ωm ≥</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Sieve residue（45μm），%（m/m）≤</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Dispersibility，Hetman ≥</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                          <tr>
                            <td>Volatile at 105 C，%≤</td>
                            <td width="150"><em>96.6</em></td>
                          </tr>
                    </table>
                    <div class="downloadCenter clearfix">
                    	<a href="javascript:void(0)"><i class="doctypes"></i>RC-708 ( MSDS )<i class="download"></i></a>
                        <a href="javascript:void(0)"><i class="doctypes"></i>RC-708 ( COA ) Batch 001<i class="download"></i></a>
                        <a href="javascript:void(0)"><i class="doctypes"></i>RC-708 ( COA ) Batch 002<i class="download"></i></a>
                        <a href="javascript:void(0)"><i class="doctypes"></i>RC-708 ( COA ) Batch 003<i class="download"></i></a>
                    </div>
                    </div>
                  <div class="show showP">
                  		<div class="every">
                        	<p>My wife and I often travel the continents in our custom 747 visiting foriegn dignitaries and celebutants. I was recently visiting my goodchum the Sultan of Oman when I said that I was bored and he suggested that nothing would lift my spirits better than purchasing a few small tokens. </p>
                            <div class="star star0"></div>
                            <p class="whoInfo">By<span>Petter</span>2014-06-12 18:28</p>
                        </div>
                        <div class="every">
                        	<p>My wife and I often travel the continents in our custom 747 visiting foriegn dignitaries and celebutants. I was recently visiting my goodchum the Sultan of Oman when I said that I was bored and he suggested that nothing would lift my spirits better than purchasing a few small tokens. </p>
                            <div class="star star1"></div>
                            <p class="whoInfo">By<span>Petter</span>2014-06-12 18:28</p>
                        </div>
                        <div class="detailPage">
                        	<span>Page: </span>
                            <a href="javascript:void(0)">1</a>
                            <a href="javascript:void(0)">2</a>
                            <a href="javascript:void(0)" class="current">3</a>
                            <a href="javascript:void(0)">4</a>
                            <a href="javascript:void(0)">5</a>
                            <a href="javascript:void(0)">6</a>
                            <span>…</span>
                            <a href="javascript:void(0)">100</a>
                            <a href="javascript:void(0)" title="Prev" class="prev">Prev</a>
                            <a href="javascript:void(0)" title="Next" class="next">Next</a>
                        </div>
                        <div class="detailWrite">
                        	<a href="javascript:void(0)" class="write" title="Write a review">Write a review</a>
                            <div class="writeBox">
                            	<!--书写评价开始-->
                                    <dl class="clearfix">
                                      <dt>* Ratings:</dt>
                                      <dd>
                                            <div id="starShow"></div>
                                      </dd>
                                    </dl>
                                  <h4>Wirte Your Review</h4>
                                 <dl class="clearfix">
                                    <dt>* Review Title:</dt>
                                    <dd><input type="text" value="" class="titleIn" /></dd>
                                  </dl>
                                  <dl class="clearfix">
                                    <dt>* Content:</dt>
                                    <dd>
                                        <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
                                    </dd>
                                  </dl>
                                    <dl class="clearfix">
                                      <dt>Name:</dt>
                                        <dd>
                                            <input type="text" value="" class="nameIn" />
                                            <input type="checkbox" name="checkbox" id="nameCheck" />
                                            <label for="nameCheck">Anonymity</label>
                                        </dd>
                                  </dl>
                                    <dl class="clearfix">
                                      <dt>&nbsp;</dt>
                                        <dd><input type="submit" value="" class="subBtn" /></dd>
                                    </dl>
                                <!--书写评价结束-->
                            </div>
                        </div>
                  </div> 
                  <div class="show showS">
                  	<h3>Description</h3>
                    <p>R-248 is a sulfuric acid process rutile titanium dioxide, which adopts advanced TINT and particle size controlledtechnique and it is stabilized with zinc salt and enveloped with Multiple elements including zirconium, aluminium,silicon,and phosphorous. It combines excellent properties such as high whiteness, high optical and hiding power,super durability and dispersibility properties.R-248 is an high-quality plastic-specific titanium dioxide. </p>
                    <p>R-248 is a sulfuric acid process rutile titanium dioxide, which adopts advanced TINT and particle size controlledtechnique and it is stabilized with zinc salt and enveloped with Multiple elements including zirconium, aluminium,silicon,and phosphorous. It combines excellent properties such as high whiteness, high optical and hiding power,super durability and dispersibility properties.R-248 is an high-quality plastic-specific titanium dioxide. </p>
                    <p>R-248 is a sulfuric acid process rutile titanium dioxide, which adopts advanced TINT and particle size controlledtechnique and it is stabilized with zinc salt and enveloped with Multiple elements including zirconium, aluminium,silicon,and phosphorous. It combines excellent properties such as high whiteness, high optical and hiding power,super durability and dispersibility properties.R-248 is an high-quality plastic-specific titanium dioxide. </p>
                  </div> 
                </div>
            </div>
            <!--详情结束-->
            
        </div>
        <!--商品详情相关评价等结束-->
    </div>
</div>

<div class="Recently">
	<h3>Your Recently Viewed Items</h3>
    <div id="slide-box">
        <div class="slide-content" id="tempShow">
            <div class="wrap">
              <ul class="JQ-slide-content">
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
                <li>
                	<div class="each">
                        <a href="javascript:void(0)" class="proImg"><img src="images/show/8.jpg" width="140" height="140" /></a>
                        <a href="javascript:void(0)" class="proName">RC-618 Can coatings</a>
                        <p class="proInf">Water-soluble titanium dioxide, are water-dispersible ...</p>
                        <dl class="clearfix">
                            <dt class="star star5"></dt>
                            <dd>(123545)</dd>
                        </dl>
                    </div>
                </li>
              </ul>
            </div>
            <div class="JQ-slide-nav">
              <a class="prev" href="javascript:void(0)"><span>&#8249;</span></a>
              <a class="next" href="javascript:void(0)"><span>&#8250;</span></a>
            </div>
        </div>
    </div>
</div>

<!--页尾开始-->
<div class="footerBg">
	<div class="footer clearfix">
    	<div class="Company">
        	<h3>Company Info</h3>
            <ul>
            	<li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Contact Us</a></li>
                <li><a href="javascript:void(0)">F.A.Q</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">Product Request</a></li>
                <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
        </div>
        <div class="Company">
        	<h3>Store Policies</h3>
            <ul>
            	<li><a href="javascript:void(0)">Return Policy</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shipping Info</a></li>
                <li><a href="javascript:void(0)">Payment Info</a></li>
            </ul>
        </div>	
        <div class="emails">
        	<p class="font13">Subscribe our emails to save cash.</p>
            <p>PLUS a chance to win our Daily Cash Giveaway!</p>
            <div class="emailBox">
            	<input type="text" value="Email Address" class="eAddress" />
                <a href="javascript:void(0)" class="go">GO</a>
            </div>
        </div>
        <div class="share">
        	<a href="javascript:void(0)" title="facebook" class="facebook">facebook</a>
            <a href="javascript:void(0)" title="twitter" class="twitter">twitter</a>
            <a href="javascript:void(0)" title="foogle+" class="foogle">foogle+</a>
            <a href="javascript:void(0)" title="linkedin" class="linkedin">linkedin</a>
            <a href="javascript:void(0)" title="pinterest" class="pinterest">pinterest</a>
            <a href="javascript:void(0)" title="blooger" class="blooger">blooger</a>
        </div>
    </div>
    <div class="bank">
    	<a href="javascript:void(0)" title="visa" class="visa">visa</a>
        <a href="javascript:void(0)" title="mastercard" class="mastercard">mastercard</a>
        <a href="javascript:void(0)" title="paypal" class="paypal">paypal</a>
        <a href="javascript:void(0)" title="authorize.net" class="authorize">authorize.net</a>
    </div>
</div>
<div class="copyright">
    <p>&copy;2014-2026, Okchem.com.All Rights Reserved.See our <a href="javascript:void(0)">privacy policy</a>, <a href="javascript:void(0)">terms of use</a> and <a href="javascript:void(0)">takedown policy</a>.</p>
</div>
<!--页尾结束-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
<script type="text/javascript" src="js/cloud-zoom.1.0.2.min.js"></script>
<!--
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "bd66dea7-9894-4301-8986-ed6e077283c8", doNotHash: true, doNotCopy: true, hashAddressBar: true});</script>-->

<script type="text/javascript" src="js/jquery.raty.js"></script>
<script type="text/javascript" src="js/jquery.Slide.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#starShow').raty({
			onClick: function(score){
				alert("得分：" + score + "颗星星！");
			}
		});
		$("#tempShow").Slide({
			effect : "scroolLoop",
			autoPlay : false,
			speed : "normal",
			timer : 1000,
			steps:2
		});
	});
</script>


</body>
</html>

