<include file="./Shop/Home/View/header.html" />
<div id="crumbs">
	<a href="/">home</a>&gt;
    <a href="{:U('Member/index')}">My Account</a>&gt;
    <span>Account Settings</span>
</div>
<div class="webC1000">
	<div id="account" class="clearfix">
    	<!--refund开始-->
        <div class="refundBox">
        	
            <div id="refundStep">
            	<div class="stepBj">
                	<div class="stepShow stepShow1"></div>
                    <div class="step first <if condition="$order.refund_status eq 0">current<else />past</if>">
                        <span class="each">1</span>
                        <span class="content">Refund Requested by Buyer</span>
                    </div>
                    <div class="step second <if condition="in_array($order['refund_status'],array(11,20,21,22,30,40,50))">current<elseif condition="$order.refund_status eq 33" />past</if>">
                        <span class="each">2</span>
                        <span class="content">Process Refund Request</span>
                    </div>
                    <div class="step third <if condition="$order.refund_status eq 33">past</if>">
                        <span class="each">3</span>
                        <span class="content">Refund Completed</span>
                    </div>
                </div>
            </div>
            
            <div class="refundInfo clearfix">
            	<div class="leftDetail">
                	<h3>Refund Info</h3>
                    <div class="thisShow">
                        <dl class="clearfix OrderAbout">
                        	<dt>Refund No.: </dt>
                            <dd>{$order.refund_sn}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Refund Type: </dt>
                            <dd><if condition="$order.refund_type eq 1">Return<else />Refund</if></dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Refund Amount: </dt>
                            <dd>{$order.refund_price|format_price}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Refund Reason: </dt>
                            <dd>{$order.refund_reason}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Application Date: </dt>
                            <dd><em>{$order.refund_time|todate}</em></dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Refund Description: </dt>
                            <dd>{$order.refund_note} </dd>
                        </dl>
                    </div>
                    
                    <h3>Refund Items</h3>
                    <div class="thisShow">
                    	<dl class="clearfix product">
                        	<dt><a href="javascript:void(0)"><img src="/{$order.default_image}" width="50" height="50" /></a></dt>
                            <dd>
                            	<p class="proName"><a href="javascript:void(0)">{$order.goods_name}</a></p>
                                <p class="proIn">{$order.goods_attr}</p>
                            </dd>
                        </dl>
                        <dl class="clearfix priceAbout">
                        	<dt>Unit Price: </dt>
                            <dd>{$order.present_price|format_price}</dd>
                        </dl>
                        <dl class="clearfix priceAbout">
                        	<dt>Quantity: </dt>
                            <dd>{$order.quantity}</dd>
                        </dl>
                        <dl class="clearfix priceAbout">
                        	<dt>Total: </dt>
                            <dd>{$order.refund_totle|format_price}</dd>
                        </dl>
                    </div>
                    
                    <h3>Order Details</h3>
                    <div class="thisShow">
                        <dl class="clearfix OrderAbout">
                        	<dt>Order No.: </dt>
                            <dd>{$order.order_sn}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Shipping Fee: </dt>
                            <dd>{$order.shipping_fee|format_price}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Discount: </dt>
                            <dd>{$order.discount_fee|format_price}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Redeem Points: </dt>
                            <dd>- {$order.integral_fee|format_price}</dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Final: </dt>
                            <dd><em>{$order.totle_fee|format_price}</em></dd>
                        </dl>
                        <dl class="clearfix OrderAbout">
                        	<dt>Transaction Time: </dt>
                            <dd>{$order.add_time|todate} </dd>
                        </dl>
                    </div>
                </div>
                
                <div class="rightCon">
                	<div class="refundSure">
                        <h3 class="clHeach">Result of Refund Application</h3>
                        <div class="ResultBox">
                        	<h4>Merchants have agreed to refund application.</h4>
                            <p>The refund amount will return within <strong>30</strong> days to pay the account!</p>
                        </div>
                        <h3 class="clHeach">Fill in the return of the logistics information</h3>
                        <div class="sureBox">Please fill in the shipping method and tracking number for your returned items.</div>
                        <div class="logistics">
                            <form id="refund_send_goods_form" method="post">
                            <dl class="clearfix">
                                <dt>* Shipping Method: </dt>
                                <dd><input type="text" id="refund_shipping_name" name="refund_shipping_name" value="" class="textIn" /></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>* Tracking Number: </dt>
                                <dd><input type="text" id="refund_invoice_no" name="refund_invoice_no" value="" class="textIn" /></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>&nbsp;</dt>
                                <input type="hidden" id="id" name="id" value="{$order.rec_id}" />
                                <dd><input type="submit" value="" title="Submit" class="subBtn submit"/></dd>
                            </dl>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="recordBox">
                <h3 class="clHeach">Operation Records</h3>
                <div class="record">
                    <volist name="refunds" id="vo" key="key">
                    <h4>{$vo.refund_time|todate}</h4>
                    <switch name="vo.refund_status">
                    <case value="11">
                        <dl class="clearfix">
                            <dt>Me:</dt>
                            <dd>
                            	<ul>
                                	<if condition="$key eq 1">
                                    	<li>Apply refund at {$vo.refund_time|todate}</li>
                                    <else />
                                    	<li>Edit refund application at {$vo.refund_time|todate}</li>
                                    </if>
                                    <li>Refund Type:<if condition="$vo['refund_data']['refund_type'] eq 1">Return<else />Refund</if></li>
                                    <li>Refund Amount:{$vo.refund_data.refund_price|format_price}</li>
                                    <li>Refund Reason:{$vo.refund_data.refund_reason}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                    <notempty name="vo.refund_data.refund_img">
                                    <li>Evidence:<a href="/{$vo.refund_data.refund_img}" target="_blank" ><img src="/{$vo.refund_data.refund_img}" width="50"></a></li>
                                    </notempty>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="20">
                    	<dl class="clearfix">
                        	<dt>OkChem:</dt>
                            <dd>
                            	<ul>
                                	<li>Approve your refund application at {$vo.refund_time|todate}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="21">
                    	<dl class="clearfix">
                        	<dt>OkChem:</dt>
                            <dd>
                            	<ul>
                                	<li>Approve your refund application at {$vo.refund_time|todate}</li>
                                    <li>{$vo.refund_data.refund_address}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="22">
                    	<dl class="clearfix">
                        	<dt>Me:</dt>
                            <dd>
                            	<ul>
                                	<li>Fill in the shipping method and tracking number for my returned items at {$vo.refund_time|todate}</li>
                                    <li>Shipping Method:{$vo.refund_data.refund_shipping_name}</li>
                                    <li>Tracking Number:{$vo.refund_data.refund_invoice_no}</li>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="30">
                    	<dl class="clearfix">
                        	<dt>OkChem:</dt>
                            <dd>
                            	<ul>
                                	<li>Receive returned product at {$vo.refund_time|todate}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                </ul>
                            </dd>	
                        </dl>
                    </case>
                    <case value="33">
                    	<dl class="clearfix">
                        	<dt></dt>
                            <dd>
                            	<ul>
                                	<li>Refund successfully at {$vo.refund_time|todate}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="40">
                    	<dl class="clearfix">
                        	<dt>Me:</dt>
                            <dd>
                            	<ul>
                                	<li>Cancel refund application at {$vo.refund_time|todate}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    <case value="50">
                    	<dl class="clearfix">
                        	<dt>OkChem:</dt>
                            <dd>
                            	<ul>
                                	<li>Reject your refund application at {$vo.refund_time|todate}</li>
                                    <li>Description:{$vo.refund_data.refund_note}</li>
                                    <notempty name="vo.refund_data.refund_img">
                                    <li>Evidence:：<a href="/{$vo.refund_data.refund_img}" target="_blank" ><img src="/{$vo.refund_data.refund_img}" width="50"></a></li>
                                    </notempty>
                                </ul>
                            </dd>
                        </dl>
                    </case>
                    </switch>
                	</volist>
                </div>
            </div>
        
        </div>
        <!--refund结束-->
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		//高度
		$(".thisShow dl.OrderAbout").each(function(){
			var dtHeight = $(this).find("dd").height() + 10;
			//alert(dtHeight);
			if(dtHeight > 30){
				$(this).find("dt").css({height:dtHeight,"line-height":dtHeight + "px"});
			}	
		});
	});
</script>
<include file="./Shop/Home/View/footer.html" />