<include file='./Shop/Home/View/header.html' /> 
<div id="crumbs">
	<a href="{:U('./Index')}">Home</a>&gt;
    <a href="{:U('/Responsibility/index')}">Responsibility</a>&gt;
    <span>Index</span>
</div>

<div class="webC1000">
	<div id="help" class="clearfix">
<include file='./Shop/Home/View/help.left.html' />
        <!--右侧信息开始-->
        <div class="helpInfo"> 
        	<h1>Responsibility</h1>
            <div class="faq">
            	<h3>Responsibility</h3>
              <p>We are fully aware of our responsibility –  this central principle in OKChem guides the daily operations for every staff.  Responsibility has many aspects which mean that the company accepts its responsibility  towards customers, employees, quality, environment and society. For OKChem,  these multiple dimensions of responsibility are inseparably linked. Our aims are  to provide the best chemical products, especially Titanium Dioxide products to various  types of customers and reducing the environment pollution caused by chemical  industry to make the sky blue and water clean. Customers and consumers can rely  on our products to deliver first-class performance. They have been extensively  tested for safety and are environmentally compatible. We as a company, and all  our employees worldwide, are aware of the requirements of sustainable  development. We act in conformity with these requirements and embrace our  responsibility.</p>
              <h3>Quality</h3>
              <p>OKChem prides itself on the high level of  quality and reliability of its products and services, and enjoys a great amount  of positive feedbacks from our customers that we offer the best titanium  dioxide and perfect customer service quality.</p>
              <p>We are continually improving  the quality of our products and services to make customers satisfied and help  our business expand.</p>
              <p>We totally understand and  anticipate market needs and delight our customers with passion and hard work,  therefore optimize our quality control process and obtain better results that  customers care most.</p>
             <h3>Environment</h3>
              <p>OKChem is striving for a green environment  for we know that giving back to nature is our responsibility. A green and  healthy environment is one of the most important factors for sustained  development. We optimize environmental performance systematically with some  protection measures. OKChem accepts its responsibility in matters affecting the  environment towards its customers, the company and the natural environment.<br />
                OKChem will minimize its impact on the  environment by:</p>
              <p>Prevention of pollution at all  stages of operations from initial planning to final product/waste disposition.</p>
              <p>Continually improving  environmental protection performance.</p>
              <p>Establish objectives, track and  review performance to objectives.</p>
              <p>Communicate relevant  information to concerned parties, including employees, suppliers, customers,  regulatory agencies, and the public.</p>
              <h3>Health  &amp; Safety</h3>
             <p>Health &amp; safety is also an  important aspect of OKChem&rsquo;s social responsibility towards its workforce and  society, as well as quality and environment. Our aim is to make sure that  procedures are trouble-free and promote responsible action at all levels. We  are committed to protect the health and safety of our employees and everyone  else involved in our business. We aim at high standards of Occupational Health  &amp; Safety practices through our action towards:</p>
                <p>Compliance with health and  safety legislations, regulations and other requirements to which we subscribe.</p>
                <p>Continual improvement of  Occupational Health &amp; Safety performance.</p>
                <p>Avoid the exposure of any  harmful elements at the workplace so that appropriate, effective remedial  action can be taken.</p>
            </div>
        </div>
        <!--右侧信息结束-->
    </div>
</div>

<include file='./Shop/Home/View/footer.html' />
