<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="关键字,关键字" />
<meta name="description" content="我们网站是干什么的，这里就是一大串的说明" />
<link rel="icon" href="http://gtms03.alicdn.com/tps/i3/T1OjaVFl4dXXa.JOZB-114-114.png" type="image/x-icon" charset="utf-8" /><!--图标icon-->
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<title>OkChem</title>
</head>
<body>

<div id="header">
	<!--顶部开始-->
	<div class="headertop clearfix">
    	<div class="leftHome">
        	<a href="javascript:void(0)" title="">home</a>|
            <a href="javascript:void(0)" title="">blog</a>|
            <a href="javascript:void(0)" title="">help</a>
        </div>
        <div class="loginInfo clearfix">
        	<ul>
            	<li><a href="javascript:void(0)">Wish List</a></li>
                <li class="showBoxFa">
                	<a href="javascript:void(0)" class="Cart"><span>Cart [<i>0</i>]</span></a>
                    <div class="CartBoxBg show">
                    	<div class="CartBox">
                        	<p>Your  Cart is empty.</p>
                            <p class="tosearch">To search for target products</p>
                            <a href="javascript:void(0)" class="viewCart">view Cart ( <i>0</i> Items )</a>
                            <span class="sanj"></span>
                        </div>
                    </div>
                    <!--
                    <div class="CartBoxBg show" style="display:none">
                    	<div class="CartBox">
                        	<p>Your Cart a total of <strong>5</strong> items</p>
                            <p>Total：<strong>$562</strong></p>
                            <a href="javascript:void(0)" class="enterPayment">Enter payment</a>
                            <span class="sanj"></span>
                        </div>
                    </div>-->
                </li>
                <li class="showBoxFa">
                	<a href="javascript:void(0)">Sign in / Register</a>
                    <div class="customerCenterBg show">
                    	<div class="homeCtenter">
                        	<h4>New customer? <a href="javasctipt:void(0)">Click here</a></h4>
                            <a href="javascript:void(0)" class="login">Sign in</a>
                            <ul>
                                <li><a href="javascript:void(0)">My Account</a></li>
                                <li><a href="javascript:void(0)">My Orders</a></li>
                                <li><a href="javascript:void(0)">My Wish List</a></li>
                                <li><a href="javascript:void(0)">My Reviews</a></li>
                                <li><a href="javascript:void(0)">My Shipping Address</a></li>
                            </ul>
                            <span class="sanj"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--顶部开始-->
    <!--logo，搜索，客服开始-->
    <div class="headerCon clearfix">
    	<div class="logo"><a href="javascript:void(0)"><img src="images/okchem_logo.png" width="185" height="71" alt="logo" title="logo" /></a></div>
        <div class="searchbox">
        	<div class="search">
            	<input type="text" value="Wood protection coating" class="searchInput" />
                <a href="javascript:void(0)" class="searchBtn">GO</a>
            </div>
            <p>
            	<a href="javascript:void(0)">Coil coatings</a>,
                <a href="javascript:void(0)">Can coatings</a>,
                <a href="javascript:void(0)">Floor coatings</a>
            </p>
        </div>
        <div class="liveChart"><a href="javascript:void(0)">Live chart</a></div>
    </div>
    <!--logo，搜索，客服结束-->
</div>

<!--导航开始-->
<div class="navBg">
	<div id="nav">
    	<ul>
        	<li class="navSubFa">
            	<a href="javascript:void(0)" class="current">Titanium Dioxide</a>
                <div class="subNav clearfix">
                	<div class="subNavbox clearfix Coatings">
                    	<h3>Coatings</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                    </div>
                    <div class="subNavbox clearfix Plastics">
                    	<h3>Plastics</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Wood protection coating</a>
                    	<a href="javascript:void(0)">Marine coatings</a>
                    </div>
                    <div class="subNavbox clearfix Others">
                    	<h3>Others</h3>
                        <a href="javascript:void(0)">Wood protection coating</a>
                        <a href="javascript:void(0)">Marine coatings</a>
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">Brands</a></li>
            <li><a href="javascript:void(0)">New Arrival</a></li>
            <li><a href="javascript:void(0)">Product Request</a></li>
            <li><a href="javascript:void(0)">Responsibility</a></li>
            <li><a href="javascript:void(0)">Download Center(MSDS,COA)</a></li>
        </ul>
    </div>
</div>
<!--导航结束-->


<div id="crumbs">
	<a href="javascript:void(0)">home</a>&gt;
    <a href="javascript:void(0)">My Account</a>&gt;
    <span>Account Settings</span>
</div>



<div class="webC1000">
	<div id="review">
    	<!--写商品评价开始-->
        <h2>Review Your Purchased Items</h2>
        <div class="writeDetail clearfix">
        	<div class="leftItem">
            	<h3>Item Name</h3>
                <div class="item">
                	<a href="javascript:void(0)" class="itemImg"><img src="images/show/16.jpg" width="135" height="135" /></a>
                    <a href="javascript:void(0)" class="itemName">Gucci Men's YA114217 I-Gucci Digital GRAMMY...Gucci Men's YA114217 I-Gucci Digital GRAMMY</a>
                    <span>Batch: Batch 001</span>
                    <span>Package: 1000kg/pallet </span>
                    <span class="price">$3.00</span>
                </div>
            </div>
            <div class="rightWrite">
           	  <h3>Review Information</h3>
                <dl class="clearfix">
               	  <dt>* Ratings:</dt>
                  <dd>
                    	<div id="starShow"></div>
                  </dd>
                </dl>
              <h4>Wirte Your Review</h4>
             <dl class="clearfix">
               	<dt>* Review Title:</dt>
                <dd><input type="text" value="" class="titleIn" /></dd>
              </dl>
              <dl class="clearfix">
                <dt>* Content:</dt>
                <dd>
                    <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
                </dd>
              </dl>
                <dl class="clearfix">
               	  <dt>Name:</dt>
                    <dd>
                    	<input type="text" value="" class="nameIn" />
                        <input type="checkbox" name="checkbox" id="nameCheck" />
                        <label for="nameCheck">Anonymity</label>
                    </dd>
              </dl>
                <dl class="clearfix">
               	  <dt>&nbsp;</dt>
                    <dd><input type="submit" value="" class="subBtn" /></dd>
                </dl>
            </div>
        </div>
        <!--写商品评价结束-->
    </div>
</div>

<!--页尾开始-->
<div class="footerBg">
	<div class="footer clearfix">
    	<div class="Company">
        	<h3>Company Info</h3>
            <ul>
            	<li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Contact Us</a></li>
                <li><a href="javascript:void(0)">F.A.Q</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">Product Request</a></li>
                <li><a href="javascript:void(0)">Sitemap</a></li>
            </ul>
        </div>
        <div class="Company">
        	<h3>Store Policies</h3>
            <ul>
            	<li><a href="javascript:void(0)">Return Policy</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Shipping Info</a></li>
                <li><a href="javascript:void(0)">Payment Info</a></li>
            </ul>
        </div>	
        <div class="emails">
        	<p class="font13">Subscribe our emails to save cash.</p>
            <p>PLUS a chance to win our Daily Cash Giveaway!</p>
            <div class="emailBox">
            	<input type="text" value="Email Address" class="eAddress" />
                <a href="javascript:void(0)" class="go">GO</a>
            </div>
        </div>
        <div class="share">
        	<a href="javascript:void(0)" title="facebook" class="facebook">facebook</a>
            <a href="javascript:void(0)" title="twitter" class="twitter">twitter</a>
            <a href="javascript:void(0)" title="foogle+" class="foogle">foogle+</a>
            <a href="javascript:void(0)" title="linkedin" class="linkedin">linkedin</a>
            <a href="javascript:void(0)" title="pinterest" class="pinterest">pinterest</a>
            <a href="javascript:void(0)" title="blooger" class="blooger">blooger</a>
        </div>
    </div>
    <div class="bank">
    	<a href="javascript:void(0)" title="visa" class="visa">visa</a>
        <a href="javascript:void(0)" title="mastercard" class="mastercard">mastercard</a>
        <a href="javascript:void(0)" title="paypal" class="paypal">paypal</a>
        <a href="javascript:void(0)" title="authorize.net" class="authorize">authorize.net</a>
    </div>
</div>
<div class="copyright">
    <p>&copy;2014-2026, Okchem.com.All Rights Reserved.See our <a href="javascript:void(0)">privacy policy</a>, <a href="javascript:void(0)">terms of use</a> and <a href="javascript:void(0)">takedown policy</a>.</p>
</div>
<!--页尾结束-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.webeffect.js"></script>
<script type="text/javascript" src="js/jquery.raty.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#starShow').raty({
			onClick: function(score){
				alert("得分：" + score + "颗星星！");
			}
		});
	});
</script>


</body>
</html>

