<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>编辑广告位</title>
<link href="__PUBLIC__/admin/css/common.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/main.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/form.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/buttons.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/common.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.js"></script>
<script type="text/javascript">
$(function(){
	$('#admin_form').validate({
		rules : {
			pname : {
				required : true
			},
			adwith : {
				required : true,
				number : true
			},
			adheight : {
				required : true,
				number : true
			},
			ad_num : {
				required : true,
				number : true
			}
		},
		messages : {
			pname : {
				required : '<i></i>广告位名称不能为空'
			},
			adwith : {
				required : '<i></i>广告位宽度不能为空',
				number : '<i></i>广告位宽度只能是数字'
			},
			adheight : {
				required : '<i></i>广告位高度不能为空',
				number : '<i></i>广告位高度只能是数字'
			},
			ad_num : {
				required : '<i></i>广告显示数量不能为空',
				number : '<i></i>广告显示数量只能为数字'
			}
		},
		onkeyup : false,
		onfocusout : false,
		errorElement : 'span'
	});
});
</script>
</head>
<body>
<section>
    <!--content start-->
    <div class="main">
    <div class="page_tag">
         <div class="tag">
              <i class="home"></i>
              <a href="{:U('Admin/Main')}" class="text">Home</a> > <a href="{:U('/Admin/Adplace')}" class="text">广告位管理</a> > <a href="{:U('/Admin/Adplace/edit',array('id'=>$adplace['pid']))}" class="text">编辑广告位</a>
         </div>
    </div>
    <div class="clear"></div>
         <!--表格start-->
         <div class="tbox">
              <div class="widsbox">
                   <div class="bar">
                        <div class="bar_l"></div>
                        <div class="text">编辑广告位</div>
                        <div class="bar_r"></div>
                   </div>
                   <div class="cbox">
                        <form id="admin_form" method="post">
                              <div class="control-group">
                                   <label class="control-label">广告位名称：</label>
                                   <div class="controls">
                                        <input type="text" id="pname" name="pname" value="{$adplace.pname}" class="span300" placeholder="广告位名称">
                                   </div>
                                   <div class="clear"></div>
                              </div>
                              <div class="control-group">
                                   <label class="control-label">广告位宽度：</label>
                                   <div class="controls">
                                        <input type="text" id="adwith" name="adwith" value="{$adplace.adwith}" class="span300" placeholder="广告位宽度">
                                   </div>
                                   <div class="clear"></div>
                              </div>
                              <div class="control-group">
                                   <label class="control-label">广告位高度：</label>
                                   <div class="controls">
                                        <input type="text" id="adheight" name="adheight" value="{$adplace.adheight}" class="span300" placeholder="广告位高度">
                                   </div>
                                   <div class="clear"></div>
                              </div>
                              <div class="control-group">
                                   <label class="control-label">选择区块：</label>
                                   <div class="controls">
                                        <select id="block" name="block">
                                        	<option value="">===请选择===</option>
                                            <volist name="block" id="vo">
                                            	<option value="{$key}" <if condition="$adplace.block eq $key">selected</if>>{$vo}</option>
                                            </volist>
                                        </select>
                                   </div>
                                   <div class="clear"></div>
                              </div>
                              <div class="control-group none">
                                   <label class="control-label">选择模板：</label>
                                   <div class="controls">
                                        <select id="tpl" name="tpl">
                                        	<option value="">===请选择===</option>
                                            <volist name="file" id="vo">
                                            	<option value="{$vo}" <if condition="$adplace.tpl eq $vo">selected</if>>{$vo}</option>
                                            </volist>
                                        </select>
                                   </div>
                                   <div class="clear"></div>
                              </div> 
                              <div class="control-group">
                                   <label class="control-label">广告位显示数量：</label>
                                   <div class="controls">
                                        <input type="text" id="ad_num" name="ad_num" value="{$adplace.ad_num}" class="span80" placeholder="显示数量">
                                   </div>
                                   <div class="clear"></div>
                              </div>
                              <div class="form-actions">
                              	   <input type="hidden" id="id" name="id" value="{$adplace.pid}">
                                   <button type="submit" class="btn btn_dm">确认提交</button>
                              </div>
                        </form>
                   </div>
              </div>
         </div>
         <!--表格end--> 
    </div>
    <!--content end-->
</section>
</body>
</html>
