<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>能不能分类列表</title>
<link href="__PUBLIC__/admin/css/common.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/main.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/formClass.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/buttons.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/gcategory.js"></script>
<script type="text/javascript">
var URL = '__CONTROLLER__';
</script>
</head>

<body>
<section>
    
    <!--content start-->
    <div class="main">
    <div class="page_tag">
         <div class="tag">
              <i class="home"></i>
              <a href="{:U('/Admin/Main')}" class="text" target="workspace">Home</a> > <a href="{:U('/Admin/Cancategory')}" class="text" target="workspace">能不能分类</a>
         </div>
    </div>
         <!--产品分类表start-->
         <div class="tbox">
              <div class="zone">
                   <input type="button" class="btn btn_ys buttonadd" value="+ 新增">
              </div>
              <div class="cbox">
                   <table width="100%" cellpadding="0" cellspacing="0" class="table">
                          <thead>
                             <tr>
                                 <th width="2%"></th>
                                 <th width="34%">分类名称</th>
                                 <th width="31%">排序</th>
                                 <th width="17%">是否显示</th>
                                 <th colspan="2">操作</th>
                             </tr>
                          </thead>
                          
                          <tbody>
                          
                             <!--产品一级分类start-->
                             <volist name="cancategory" id="cate">
                             <tr>
                                 <td><input type="checkbox" name="items" value="{$cate.cate_id}"></td>
                                 <td row="{$cate.cate_id}">
                                     <div class="classNameF">
                                          <if condition="$cate.children eq false">
                                          <i class="icon_class"></i>
                                          <else />
                                          <i class="icon_add"></i>
                                          </if>
                                          <span class="text">{$cate.cate_name}</span>
                                     </div>                                     
                                 </td>
                                 <td class="center">{$cate.sort_order}</td>
                                 <td class="center"><if condition="$cate.if_show eq 1"><i class="icon_right"></i><else /><i class="icon_error"></i></if></td>
                                 <td width="8%" class="center"><a href="{:U('/Admin/Cancategory/edit',array('id' => $cate['cate_id']))}" target="_self">编辑</a></td>
                                 <td width="8%" class="center"><eq name="cate.is_hold" value="1">删除<else/><a onClick="return confirm('确定要删除吗？')" href="{:U('/Admin/Cancategory/drop', array('id' => $cate['cate_id']))}" target="_self">删除</a></eq></td>
                             </tr>
                             <!--产品一级分类end--> 
                             
                             <!--产品二级分类start-->
                             <if condition="$cate.children neq false">
                             <volist name="cate.children" id="ccate">
                             <tr class="parent_id_{$cate.cate_id}" style="display:none;">
                                 <td><input type="checkbox" name="items" value="{$ccate.cate_id}"></td>
                                 <td row="{$ccate.cate_id}">
                                     <div class="classNameS">
                                          <if condition="$ccate.children eq false">
                                          <i class="icon_class"></i>
                                          <else />
                                          <i class="icon_minus"></i>
                                          <!--<i class="icon_add"></i>-->
                                          </if>
                                          <span class="text">{$ccate.cate_name}</span>
                                     </div>
                                 </td>
                                 <td class="center">{$ccate.sort_order}</td>
                                 <td class="center"><if condition="$ccate.if_show eq 1"><i class="icon_right"></i><else /><i class="icon_error"></i></if></td>
                                 <td class="center"><a href="{:U('/Admin/Cancategory/edit', array('id' => $ccate['cate_id']))}" target="_self">编辑</a></td>
                                 <td class="center"><a href="{:U('/Admin/Cancategory/drop', array('id' => $ccate['cate_id']))}" class="drop" target="_self">删除</a></td>
                             </tr> 
                                 <if condition="$ccate.children neq false">
                                 <volist name="ccate.children" id="third">
                                 <tr class="parent_id_{$cate.cate_id}" style="display:none;">
                                     <td><input type="checkbox" name="items" value="{$third.cate_id}"></td>
                                     <td row="{$third.cate_id}" style="padding-left:20px;">
                                         <div class="classNameS">
                                              <if condition="$third.children eq false">
                                              <i class="icon_class"></i>
                                              <else />
                                              <i class="icon_add"></i>
                                              </if>
                                              <span class="text">{$third.cate_name}</span>
                                         </div>
                                     </td>
                                     <td class="center">{$third.sort_order}</td>
                                     <td class="center"><if condition="$third.if_show eq 1"><i class="icon_right"></i><else /><i class="icon_error"></i></if></td>
                                     <td class="center"><a href="{:U('/Admin/Cancategory/edit', array('id' => $third['cate_id']))}" target="_self">编辑</a></td>
                                     <td class="center"><a href="{:U('/Admin/Cancategory/drop', array('id' => $third['cate_id']))}" target="_self">删除</a></td>
                                 </tr> 
                                 
                                 </volist>
                                 </if>
                             </volist>
                             </if>
                             <!--产品二级分类end-->
                             </volist>
                                                              
                          </tbody>
                          <tfoot>
                             <tr>
                                <td colspan="10">
                                    <input type="checkbox" name="" value="" id="selectAll">
                                    <label for="selectAll" class="selectALL">全选</label>
                                    <input type="button" name="" value="删除" class="btn btn_bs dropall">
                                </td>
                             </tr>
                          </tfoot>
                   </table>
              </div>
         </div>
         <!--产品分类表end-->
    </div>
    <!--content end-->
</section>
</body>
</html>
