<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Can管理</title>
<link href="__PUBLIC__/admin/css/common.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/main.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/table.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/buttons.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/common.js" type="text/javascript"></script>
<script type="text/javascript">
var URL = '__CONTROLLER__';
</script>
</head>

<body>
<section>
    
    <!--content start-->
    <div class="main" style="min-height:400px;">
         <!--user_nav start-->
    
    <!--user_nav end-->
    <div class="page_tag">
         <div class="tag">
              <i class="home"></i>
              <a href="{:U('/Admin/Main')}" class="text" target="workspace">Home</a> > <a href="{:U('index')}" class="text" target="workspace">商品规格属性值管理</a>
         </div>
    </div>
         <!--表格start-->
         <div class="tbox">
              <div class="bar">
                   <div class="bar_l1"></div>
                   <div class="text">商品规格属性值列表</div>
                   <div class="addbox">
                        <input type="button" value="+ 新增" class="btn btn_bs buttonadd">
                </div>
                   <div class="bar_r"></div>
              </div>
              <div class="searchbar none">
              	  <div class="searchbox">
                   	   <form id="search_form" method="post">
                           <input type="search" name="keywords" id="keywords" value="{$Think.get.keywords}" placeholder="输入信息">
                           <!--
                           <select id="cate_id" name="cate_id">
                                <option value="">==选择能不能分类==</option>
                                <volist name="cancategory" id="cate">
                                	<option value="{$cate.cate_id}" <if condition="$Think.get.cate_id eq $cate['cate_id']">selected</if>>{$cate.cate_name}</option>
                                    <if condition="$cate.children neq false">
                                    	<volist name="cate.children" id="c_cate">
                                        	<option value="{$c_cate.cate_id}" <if condition="$Think.get.cate_id eq $c_cate['cate_id']">selected</if>>&nbsp;&nbsp;{$c_cate.cate_name}</option>
                                        </volist>
                                    </if>
                                </volist>
                           </select>-->
                           <input type="submit" value="搜索" class="btn btn_ds">
                       </form>
                   </div>
              </div>
              <div class="cbox">
                   <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered data-table">
                          <thead>
                             <tr>
                                 <th></th>
                                 <th>值</th>
                                 <th>规格属性ID</th>
                                 
                                 <th>&nbsp;</th>
                                 <th>排序  </th>
                                 <th>操作</th>
                             </tr>
                          </thead>
                          <tbody>
                             <volist name="list" id="list">
                             <tr class="gradeX">
                                 <td><input type="checkbox" name="items" value="{$list.option_value_id}"> {$list.option_value_id}</td>
                                 
                               <td align="center">{$list.value_name}</td>
                                 <td align="center">{$list.option_id} - {$list.option_id|getNameById='name','mygoods_option','option_id',###}</td>
                               <td align="center">&nbsp;</td>
                                 <td align="center">{$list.sort_order}</td>
                                 <td class="center"><a href="{:U('edit',array('id'=>$list['option_value_id']))}" title="">编辑</a> | <a href="{:U('drop',array('id'=>$list['option_value_id']))}" title="" class="delete">删除</a></td>
                               </tr>
                             </volist>
                          </tbody>
                          <tfoot>
                             <tr>
                                <td colspan="8">
                                    <input type="checkbox" name="" value="" id="selectAll">
                                    <label for="selectAll" class="selectALL">全选</label>
                                    <input type="button" value="删除" class="btn btn_bs dropall">
                                    <div class="quotes">{$page}</div>
                                </td>
                             </tr>
                          </tfoot>
                   </table>
              </div>
         </div>
         <!--表格end--> 
    </div>
    <!--content end-->
</section>
</body>
</html>
