<include file="./Shop/Home/View/header.html" /> 

<div class="container">
			<nav class="box jigou">
				<ul class="clearListStyle">
					<a href='#jigoulist.aspx?id=300'><img src='../uploadfile/20160101/20160101202238599.gif'></a><a href='#jigoulist.aspx?id=297'><img src='../uploadfile/20160101/20160101203827721.gif'></a><a href='#jigoulist.aspx?id=298'><img src='../uploadfile/20160101/20160101202659680.gif'></a><a href='#jigoulist.aspx?id=299'><img src='../uploadfile/20160101/20160101202741871.gif'></a><a href='#jigoulist.aspx?id=320'><img src='../uploadfile/20160101/20160101203128861.gif'></a><a href='#jigoulist.aspx?id=321'><img src='../uploadfile/20160101/20160101212353120.gif'></a>
				</ul>
			</div>
		</div>
           
<include file="./Shop/Home/View/footer.html" /> 