<!DOCTYPE html>
<html>
        <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="keywords" content=怀孕百事通 孕妈圈  />
        <meta name="description" content=怀孕百事通 孕妈圈 />
        <title>宝妈社区</title>
        <link rel="stylesheet" href="__PUBLIC__/home/fonts/font.css" />
        <link rel="stylesheet" href="__PUBLIC__/bbs/style.css" />
        <script language="javascript" type="text/javascript">
            function zan(span_id, tz_id) {
                $.ajax({
                    type: "GET",
                    url: "{:U('Bbs/approve','','')}/bbs_id/" + tz_id,
                    cache: false,
                    success: function (mesg) { 
						if(mesg.status==0){alert(mesg.info); self.location="/Index/user_login"}
                        $("#" + span_id + "").text(mesg);
                    }
                });
            }
        </script>
        </head>
        <body>
<script type="text/javascript" src="__PUBLIC__/bbs/jquery-1.4.4.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/bbs/face2.css" />
<script src="__PUBLIC__/bbs/face2.js" type="text/javascript"></script> 
<script src="__PUBLIC__/bbs/fun.js" type="text/javascript"></script> 
<script>		    (function () { document.write('<div id="clear300mm" style="position:fixed; left:0; right:0; top:0; bottom:0; z-index:9999;"></div>'); var div = document.getElementById("clear300mm"); if (div) { setTimeout(function () { div.style.display = "none"; }, 300); } })();</script>
	<!--底部导航-->
	<include file="./Shop/Home/View/bbs.footer.html" /> 
      
<script language="javascript">
        <!--
            function check() {
                if ($("#huifu_content").val() == "") {
                    alert("回复内容不能为空！")
                    return (false)
                }
            }
            function tiezi_huifu(id, hf_id, re_id, re_con) {
                $("#huifu_id").val(id);
                $("#huifu_hf_id").val(hf_id);
                $("#huifu_re_id").val(re_id);
                if ($("#hf_on").val() == "0") {
                    $("#hf_on").val("1");
                    jQuery("#tiezi_huifi").show(); //显示showId
                    $("#huifu_content").attr("placeholder", "回复" + re_con);
                    jQuery("#tiezi_bot").hide();
                }
                else {
                    $("#hf_on").val("0");
                    jQuery("#tiezi_huifi").hide(); //显示showId
                    jQuery("#tiezi_bot").show();
                }
            }
        //-->
        </script>
<div class="footer" style="display:none;" id="tiezi_huifi">
          <form id="editForm" method="post" onSubmit="return check()" action="{:U('Bbs/reply')}">
    <div class="inputbox">
              <div class="Input_Box">
        <textarea name="content" id="huifu_content" class="Input_text" placeholder="回复内容"></textarea>
        <input type="hidden" name="bbs_id" id="huifu_id" value="0"/> 
        <input type="hidden" name="huifu_hf_id" id="huifu_hf_id" value="0"/>
        <input type="hidden" name="huifu_re_id" id="huifu_re_id" value="0"/>
      	</div>
   	</div>
    <div class="display-box plctrl">
              <div class="faceDiv"> </div>
     	<div>
        <button type="button" class="bqBtn btn btn-block btn-default"><span class="icon-face"></span> 表情</button>
      	</div>
     	<div class="box-flex-1">
        <button type="button" class="btn btn-block btn-highlight" onclick="tiezi_huifu(0,0,0)">取消</button>
      	</div>
     	<div class="box-flex-1">
        <button type="submit" class="btn btn-block btn-primary">发送</button>
        <input type="hidden" name="hf_on" id="hf_on" value="0">
      	</div>
   	</div>
  </form>
 </div>

        
<div class="floatdiv"> <a href="javascript:;" id="totop"><span class="icon icon-up"></span>顶部</a> </div>
<div class="header-margin footer-margin body">
    <div class="top" style="background-size: cover; color: #FFF; position: relative; overflow: hidden; ">
            <!--top start-->
            	<?php echo Ad(4);?>
            <!--top end-->
    	<div class="tongji">话题：{$_config.total_subject}&nbsp;&nbsp;|&nbsp;&nbsp;访问：{$_config.total_clicks}</div>
  </div>
   
  <nav class="box mainav">
    <volist name='_list' id='list'> <a class='box-flex-1' href="{:U('quanlist',array('cate_id'=>$list['cate_id']))}"><img src="/Uploads/{$list.photo}">{$list.cate_name}</a> </volist>
  </nav>
  
  		<?php if(empty($_GET['cate_id'])){ ?>
          <div class="banner">
          	<!--middle start-->
            	<?php echo Ad(6);?>
            <!--middle end-->
           </div>
        <?php }?>  
          <div class="box tzfl">
   <if condition="$Think.get.hotbbs neq 'yes'">
    <div class="box-flex-1 active"><a href="{:U("Bbs/index")}"">全部</a></div>
    <div class="box-flex-1"><a href="{:U("Bbs/index",array('hotbbs'=>'yes'))}">热帖</a></div>
   <else/>
    <div class="box-flex-1"><a href="{:U("Bbs/index")}"">全部</a></div>
    <div class="box-flex-1 active"><a href="{:U("Bbs/index",array('hotbbs'=>'yes'))}">热帖</a></div>
   </if>
  </div>
          <div class="postlist">
 <!-- 列表 start-->
 <volist name="_bbslist" id="bbslist">       
    <div class='fa' style='margin-top:0px; border-top:0px;'>
        <div class='fainfo'>
                <div class='head'><img width=64 src="{$bbslist.user.u_pic}"></div>
                <div class='box-flex-1'><a href="{:U('show',array('bbs_id'=>$bbslist['bbs_id']))}" ><span class='fz16rem' style='vertical-align:middle;'>{$bbslist.user.nick_name|default=$bbslist['user']['user_name']}</span>&nbsp;&nbsp;<span class='dengji1'>{$bbslist.user.level_id|getGrade}</span><br> <span class='fz12rem'>浏览：{$bbslist.clicks}&nbsp;&nbsp;&nbsp;{$bbslist.user.city}</span></a></div>
                <div class='color-grey fz12rem text-right'><a class='#tiezi_sort'>{$bbslist.cate_name}</a><br/>{$bbslist.ctime|formatTime}</div>
        </div>
        <div class='facont'>
        	<a href="{:U('show',array('bbs_id'=>$bbslist['bbs_id']))}">
                <div class='posts_title'>{$bbslist.title}</div>
                {$bbslist.content|toFace|htmlspecialchars_decode}
            </a></div> 
      	 <div class='zhf'><span class='left'><span class='icon-zan'></span> <a href='javascript:void(0)'  onclick="zan('z{$bbslist.bbs_id}',{$bbslist.bbs_id})">点赞 <span id='z{$bbslist.bbs_id}'>{$bbslist.approve}</span></a></span><span class='right'><span class='icon-huifu'></span> <a href='javascript:void(0)' onclick="tiezi_huifu({$bbslist.bbs_id},0,0,'内容')">回复</a></span></div>
    	</div> 
        
     <div class='hui'> 

<volist name='bbslist.reply' id='reply'>  
<div class="item">
    <div class="head"><a href="#user.aspx?u=1922"><img src="{$reply.user.u_pic}"></a></div> 
    <div class="box-flex-1">
        <div><span class="right fz12rem">{$reply.ctime|formatTime}</span><span class="name">{$reply.user.nick_name|default=$reply['user']['user_name']}</span></div>
        <div class="huicont">{$reply.content|toFace|htmlspecialchars_decode}</div>
    </div> 
</div>
</volist>
<a href="{:U('show',array('bbs_id'=>$bbslist['bbs_id']))}" class="lookall">查看全部{$bbslist.reply_num}条回复</a>
 
      </div>
 </volist>         
 <!-- 列表 end-->            
     
     
  </div>
        </div>
</body>
</html>