<include file="./Shop/Home/View/header.html" /> 

		
		<div class="container">
			<div class="box singlepage clearfix">
				<img src="../uploadfile/20160107/20160107162156150.jpg">
                <p><h3 class='none'>孕期可以跳民族舞吗？</h3><hr  /><div class='color-success'><span class='icon-gou'></span> 能</div> 孕妈咪能跳舒缓型的民族舞，既能让你"形美"，还能让你心情美。谁说孕妇不能美，跳民族舞不就可以嘛！</p><p><h3 class='none'>月子期可以跳民族舞吗？</h3><hr  /><div class='color-warning'><span class='icon-tanhao'></span> 谨慎</div> 坐月子跳民族舞？且慢！这种会拉扯到伤口，影响身体恢复的事情，咱们最好别做哦。</p><p><h3 class='none'>哺乳期可以跳民族舞吗？</h3><hr  /><div class='color-success'><span class='icon-gou'></span> 能</div> 哺乳期跳民族舞可以让你重塑身材，还能让人心情豁达，远离产后抑郁症。</p>
			</div>
		</div>
        
<include file="./Shop/Home/View/footer.html" /> 