<include file="./Shop/Home/View/header.html" /> 

		
	<div class="container">
			<div class="box singlepage clearfix">
				<img src="/Uploads/{$list.photo}">
                <p><h3 class='none'>{$list.title}</h3><hr  />
                {$list.content|htmlspecialchars_decode}
                <!--
                <div class='color-success'><span class='icon-gou'></span> 能</div> 常人及体虚之人均可食用，孕妇可将各色大米混合制作米饭或煮粥，也可添加豆类，制作富含膳食纤维、B族维生素和矿物质的主食。</p><p><h3 class='none'>坐月子能吃大米吗？</h3><hr  /><div class='color-success'><span class='icon-gou'></span> 能</div> 产妇在生产完后肠胃比较虚弱，大米熬制的米汤和米粥含优质蛋白质，口感细腻、容易消化，可以使血管保持柔软，非常适合产妇食用。</p><p><h3 class='none'>哺乳能吃大米吗？</h3><hr  /><div class='color-success'><span class='icon-gou'></span> 能</div> 大米被称为"五谷之首"，营养价值丰富，而且脂肪含量较少，哺乳期妈妈可以将大米作为主食食用。除了米饭、米粥外，还可变化花样食用。如大米面煎饼、红枣大米糕等做法，既保存了大米的营养价值，又具有与众不同的风味，妈妈可以尝试一下。</p><p><h3 class='none'>婴儿能吃大米吗？</h3><hr  /><div class='color-success'><span class='icon-gou'></span> 能</div> 大米口感柔软细腻易消化，但需注意大米中含铁较少，最好同时搭配强化铁和蛋白质的婴儿专用米粉。如果熬制米汤，建议选择糙米。
                -->
                </p>
			</div>
		</div>
        
<include file="./Shop/Home/View/footer.html" /> 