<include file="./Shop/Home/View/header.html" />
		<div class="container">
			<div class="header-public2">
				<h2>怀孕百宝箱</h2>
			</div>		
			<nav class="box gird-3">
				<ul class="clearListStyle">
                <li><a href="{:U('Can/index',array('id'=>1))}" tppabs="/cans.aspx"><span class='img'><img src="/uploadfile/20160104/20160104232945952.gif" ></span><span class='name'>能不能吃</span></a></li>
                <li><a href="{:U('Can/index',array('id'=>2))}" tppabs="/can.aspx?id=2"><span class='img'><img src="/uploadfile/20160104/20160104234708235.png" ></span><span class='name'>能不能做</span></a></li>
                <li><a href="{:U('Singlepage/index',array('page_id'=>3))}"><span class='img'><img src="/uploadfile/20160122/20160122204608846.gif" ></span><span class='name'>孕妈微信群</span></a></li>
                <li><a href="{:U('Singlepage/table')}"><span class='img'><img src="__PUBLIC__/home/images/icon_found01.png" ></span><span class='name'>清宫表</span></a></li><li><a href="{:U('Singlepage/height')}"><span class='img'><img src="__PUBLIC__/home/images/icon_found02.png" tppabs="/images/icon_found02.png"></span><span class='name'>宝宝身高预测</span></a></li>
                <li><a href="{:U('Article/newslist',array('cate_id'=>28))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found03.png" ></span><span class='name'>生男生女</span></a></li>
                <li><a href="{:U('Singlepage/index',array('page_id'=>2))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found04.png" ></span><span class='name'>B超单解释</span></a></li>
                <li><a href="{:U('Singlepage/weight')}"><span class='img'><img src="__PUBLIC__/home/images/icon_found05.png" ></span><span class='name'>胎儿发育评测</span></a></li>
                <li><a href="{:U('Article/newslist2',array('cate_id'=>26))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found06.png"></span><span class='name'>产检数据</span></a></li>
                <li><a href="{:U('Singlepage/index',array('page_id'=>1))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found07.png" ></span><span class='name'>待产包</span></a></li>
                <li><a href="{:U('Article/detail',array('cate_id'=>1))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found08.png" ></span><span class='name'>孕期饮食</span></a></li>
                <li><a href="{:U('Article/detail',array('cate_id'=>2))}"><span class='img'><img src="/uploadfile/20160104/20160104205353498.png" ></span><span class='name'>孕期40周</span></a></li>
				</ul>
			</nav>
			<div class="header-public2">
				<h2>孕妈服务</h2>
			</div>		
			<nav class="box gird-3">
				<ul class="clearListStyle">
                <li><a href="{:U('Article/jigou')}"><span class='img'><img src="__PUBLIC__/home/images/icon_found10.png"></span><span class='name'>孕妈服务机构</span></a></li><li><a href="{:U('Article/newslist',array('cate_id'=>23))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found09.png"></span><span class='name'>产检医院</span></a></li><li><a href="{:U('Article/detail',array('cate_id'=>22))}"><span class='img'><img src="__PUBLIC__/home/images/icon_found12.png" tppabs="/images/icon_found12.png"></span><span class='name'>月子餐</span></a></li>
				</ul>
			</nav>
            
            <?php echo Ad(7);?>
		</div>
		
<include file="./Shop/Home/View/footer.html" />