<include file="./Shop/Home/View/header.html" /> 

		<div class="container">
			<div class="p1rem"><img src="__PUBLIC__/home/images/tr.jpg" width="100%"></div>
			<div class="p1rem text-center">
				
				<h2 class="none mt1rem">胎儿体重评估结果</h2>
				<h2 class="none"><span class="color-main">合适</span></h2>
				<p>本次评估：<span class="color-ornament">3650.4g</span><br>标准体重：2801g — 3811g</p>
				
			</div>
			<div class="p1rem color-6">
				注意：<br>
由于选择使用比对的数据库不同，再加胎儿的姿势、先天遗传的因素，以及所使用的B超仪器的精确度，都会影响对胎儿体重的判读。如果对胎儿体重存在较大疑惑，请到医院寻求专业帮助。<br>------------------------------<br><b>·专家建议</b><br>在没有病理性原因的情况下，糖分摄取过量也要导致胎儿体重较大。孕妈妈必须注意控制和均衡饮食结构。如果患者有妊辰糖尿病、母亲的饮食习惯可能造成胎儿体重过大，这时候准妈咪必须严格控制血糖，并且调整饮食习惯，避免摄取高热量、高脂肪、高盐一时。
			</div>
			
		</div>
           
<include file="./Shop/Home/View/footer.html" /> 