<include file="./Shop/Home/View/header.html" />  

		<div class="container">
        <form method="post" action="{:U('Singlepage/table')}" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEyNTU5NDg1MDJkZMdyY6JwfxLPiwIP+XTKObLT8+LAtxuIN1gHcKHycPPh" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="3537ADB3" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAATWmcL+BVzgsifMCfYo1kl7GVa1NM2xuok+Dz1iuJfAw7eZ8Bk2AmOhffOPzUFWP5/N+DvxnwFeFeJ9MIBWR693l4lt/ameaRJ+LNwJsWrUdNfWyXJ6UA5/XMS2Jl7nAc4=" />
</div>
			<div class="box">
				<div class="display-box col">
					<span>受孕的虚岁年龄：</span>
					<span class="box-flex-1"><input name="x_age" type="text" id="x_age" class="inp inp-block inp-noborder" placeholder="18-45" /></span>
				</div>
				<div class="display-box col">
					<span>受孕的农历月份：</span>
					<span class="box-flex-1"><input name="x_mon" type="text" id="x_mon" class="inp inp-block inp-noborder" placeholder="1-12" /></span>
				</div>
			</div>
			<div class="p1rem"><input type="submit" name="Button1" value="查看结果" id="Button1" class="btn btn-block btn-ornament" /></div>
            </form>
			<div class="p1rem color-6">
				<strong>相关说明：</strong><br>相传，清朝宫廷珍藏着一分生男生女预算表，古人根据阴阳五行与八卦推算延期，加上时间推算儿得出，又名生男生妇清宫表。该表由专设宦官保管，不得轻易示人，建国后被公示于众。
			</div>
            <div class="login_pic"><a href="{:U('article/newslist',array('cate_id'=>28))}"><img src='http://www.yunmaquan.net/uploadfile/20160221/20160221213410320.gif'></a></div>
		</div>
           
<include file="./Shop/Home/View/footer.html" /> 