<!DOCTYPE html>
<html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="怀孕百事通" 孕妈圈="">
        <meta name="description" content="怀孕百事通" 孕妈圈="">
        <title>会员登录/注册</title>
        <link rel="stylesheet" href="__PUBLIC__/home/fonts/font.css">
        <link rel="stylesheet" href="__PUBLIC__/bbs/style.css">
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/jquery.validate.js"></script>
        <style>
.m_logo {
	font-size:24px;
	color:#ffffff;
	padding:10px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	display:inline-block;
}
.menu{display:inline-block; position:absolute; left:180px; top:-15px; width:100%;}
.menu_line {
	line-height:2;
	background-color:#f00;
}
.menu_line li {
	border-radius:15px;
	display:inline-block;
	width:20%;
	color:#ffffff; border:1px solid #ecaaaa; padding:3px 10px; text-align:center;
}
.sc-white{color:#fff;}
a.sc-white{color:#fff; }
</style>
        </head>
        <body>
        <div id="header" class="bc-head header">
          <nav class="menu_line"><a href="/">
            <div class="m_logo">GRAPHIS</div> </a>
            <div class="menu">
              <ul>
                <li class="ufl"><a href="/index.html" class="sc-white a_width nav_center_active">首页</a></li>
                <li class="ufl"><a href="/album/index.html" class="sc-white a_width ">专辑</a></li>
                <li class="ufl"><a href="/models/index.html" class="sc-white a_width ">模特</a></li>
                <li class="ufl"><a href="/index/singlepage/id/3.html" class="sc-white a_width ">加入VIP</a></li>
                <div style="clear: both;"></div>
              </ul>
            </div>
            <div style="clear: both"></div> 
          </nav>
        </div>
