<include file="./Shop/Home/View/user.header.html" /> 
        <div class="floatdiv">
        <a href="javascript:;" id="totop"><span class="icon icon-up"></span>顶部</a>
        </div>
		<div class="header-margin footer-margin body">
        <div class='banner'><?php Ad(8);?></div>
			<div class="addjilu">
				<div class="jiajilu">+</div>
				<a href="jilu_add.aspx?Result=Add" class="paizhao"><span class="icon-xiangji"></span><br>图片</a>
				<a href="jilu_add.aspx?Result=Add" class="jiluwt"><span class="icon-write"></span><br>文字</a>
			</div>
			<div class="jilu-list">
            
			</div>
		</div> 
	</body>
</html>
